@media only screen and (min-width: 1024px) {
  .content-box-bg-three {
    padding: 25x 0;
  }
}
.content-box-bg-three .wrapper {
  background: #f6f5f8;
  margin: 30px;
  padding: 25px;
}
@media only screen and (min-width: 768px) {
  .content-box-bg-three .wrapper {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 65px 80px;
  }
}
.content-box-bg-three .flex {
  position: relative;
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .content-box-bg-three .flex {
    flex-grow: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .content-box-bg-three .flex {
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
