@import "mixins.scss";

.content-box-bg-three {
    @include screen(1024) {
        padding: 25x 0;
    }
    .wrapper {
        background: #f6f5f8;
        margin: 30px;
        padding: 25px;
        @include screen(768) {
            display: flex;
            align-items: center;
            gap: 25px;
            padding: 65px 80px;
        }
    }
    .flex {
        position:relative;
        margin-bottom: 25px;
        @include screen(768) {
            flex-grow: 1;
        }
        @include screen(1024) {
            margin-bottom: 0px;
        }
    }
}