@import "mixins.scss";

.content-boxes-one {
    padding: 20px 35px;
    @include screen(1024) {
        padding: 75px 0;
    }
    .flex {
        margin-bottom: 25px;
        @include headings() {
            color:rgba(0, 47, 61, 1);
        }
        @include screen(1280) {
            margin-bottom: 50px;
        }
        p {
            color:rgba(0, 0, 0, 0.9);
            max-width: 1024px;
            margin: auto;
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .card {
        max-width: 600px;
        padding: 20px 30px;
        display:flex;
        gap: 25px;
        @include screen(780) {
            display:block;
            flex:0 0 50%;
            max-width: 325px;
        }
        @include screen(1024) {
            flex:0 0 30%;
            max-width: 380px;
            padding: 0 50px 40px;
            box-shadow: 6px 25px 40px rgb(0 0 0 / 4%);
        }
        &-head {
            display: flex;
            align-items: flex-start;
            gap: 10px;
        }
        &-title {
            color:#EE3057;
            @include headings() {
                margin:auto;
                margin-top:0;
                max-width: 950px;
            }
        }
        &-image {
            text-align: center;
            margin-bottom: 25px;
            flex: 0 0 60px;
            img {
                height:auto;
                width: 60px;
                object-fit: contain;
                @include screen(1024) {
                    height: 78px;
                    width: 78px;
                }
                @include screen(1920) {
                    height: 90px;
                    width: 90px;
                }
            }
        }
        &-content {
            * {
                color: rgba(0, 0, 0, 0.9);
                font-weight: 400;
            }
        }
        &-subtitle {
            h6 {
                @include screen(1280) {
                    font-size: 22px;
                }
            }
        }
        &-button {
            margin-top: 25px;
            a {
                text-decoration: none;
                color:#BDD631;
            }
        }
        &:not(:last-child) {
            &:before {
                @include screen(1280) {
                    content: "";
                    position: absolute;
                    right: 0;
                    left: 100%;
                    top: 20px;
                    bottom: 20px;
                    background: rgba(55,43,114,.1);
                    width: 1px;
                    z-index: 2;
                }
            }
        }
    }
    .cards {
        margin: 35px 0;
        display: flex;
        flex-direction: column;
        @include screen(780) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        @include screen(1024) {
            display: flex;
            align-items: stretch;
            justify-content: center;
            margin: 70px 0;
            row-gap: 70px;
        }
    }
    .btn {
        margin: auto;
    }
}