.content-boxes-one {
  padding: 20px 35px;
}
@media only screen and (min-width: 1024px) {
  .content-boxes-one {
    padding: 75px 0;
  }
}
.content-boxes-one .flex {
  margin-bottom: 25px;
}
.content-boxes-one .flex h1,
.content-boxes-one .flex h2,
.content-boxes-one .flex h3,
.content-boxes-one .flex h4,
.content-boxes-one .flex h5,
.content-boxes-one .flex h6 {
  color: rgb(0, 47, 61);
}
@media only screen and (min-width: 1280px) {
  .content-boxes-one .flex {
    margin-bottom: 50px;
  }
}
.content-boxes-one .flex p {
  color: rgba(0, 0, 0, 0.9);
  max-width: 1024px;
  margin: auto;
}
.content-boxes-one .wp-block-image {
  margin-bottom: 30px;
}
.content-boxes-one .wp-block-buttons {
  margin-top: 30px;
}
.content-boxes-one img {
  max-width: 100%;
  height: auto;
}
.content-boxes-one .card {
  max-width: 600px;
  padding: 20px 30px;
  display: flex;
  gap: 25px;
}
@media only screen and (min-width: 780px) {
  .content-boxes-one .card {
    display: block;
    flex: 0 0 50%;
    max-width: 325px;
  }
}
@media only screen and (min-width: 1024px) {
  .content-boxes-one .card {
    flex: 0 0 30%;
    max-width: 380px;
    padding: 0 50px 40px;
    box-shadow: 6px 25px 40px rgba(0, 0, 0, 0.04);
  }
}
.content-boxes-one .card-head {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.content-boxes-one .card-title {
  color: #EE3057;
}
.content-boxes-one .card-title h1,
.content-boxes-one .card-title h2,
.content-boxes-one .card-title h3,
.content-boxes-one .card-title h4,
.content-boxes-one .card-title h5,
.content-boxes-one .card-title h6 {
  margin: auto;
  margin-top: 0;
  max-width: 950px;
}
.content-boxes-one .card-image {
  text-align: center;
  margin-bottom: 25px;
  flex: 0 0 60px;
}
.content-boxes-one .card-image img {
  height: auto;
  width: 60px;
  object-fit: contain;
}
@media only screen and (min-width: 1024px) {
  .content-boxes-one .card-image img {
    height: 78px;
    width: 78px;
  }
}
@media only screen and (min-width: 1920px) {
  .content-boxes-one .card-image img {
    height: 90px;
    width: 90px;
  }
}
.content-boxes-one .card-content * {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-one .card-subtitle h6 {
    font-size: 22px;
  }
}
.content-boxes-one .card-button {
  margin-top: 25px;
}
.content-boxes-one .card-button a {
  text-decoration: none;
  color: #BDD631;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-one .card:not(:last-child):before {
    content: "";
    position: absolute;
    right: 0;
    left: 100%;
    top: 20px;
    bottom: 20px;
    background: rgba(55, 43, 114, 0.1);
    width: 1px;
    z-index: 2;
  }
}
.content-boxes-one .cards {
  margin: 35px 0;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 780px) {
  .content-boxes-one .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 1024px) {
  .content-boxes-one .cards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 70px 0;
    row-gap: 70px;
  }
}
.content-boxes-one .btn {
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
