.card-columns {
  padding: 30px;
}
@media only screen and (min-width: 1280px) {
  .card-columns {
    padding: 0;
  }
}
.card-columns .outer {
  padding: 0 30px;
}
@media only screen and (min-width: 1280px) {
  .card-columns .outer {
    padding: 0 80px;
    border-radius: 5px;
    box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
    background: white;
  }
}
.card-columns .outer:before {
  content: "";
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
  background: white;
  border-radius: 5px;
}
@media only screen and (min-width: 1280px) {
  .card-columns .outer:before {
    content: unset;
  }
}
@media only screen and (min-width: 1280px) {
  .card-columns .inner {
    padding: 80px 0;
  }
}
.card-columns .card {
  box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
  background: white;
  border-radius: 5px;
  padding: 40px 18px;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .card-columns .card {
    padding-bottom: 100px;
  }
}
.card-columns .card:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 180px;
  background: rgb(189, 214, 49);
}
@media only screen and (min-width: 1280px) {
  .card-columns .card:before {
    width: 610px;
  }
}
.card-columns .card-head {
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .card-columns .card-head {
    flex: 0 0 50%;
  }
}
.card-columns .card-label {
  font-size: 150px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.05);
}
@media only screen and (min-width: 1280px) {
  .card-columns .card-label {
    font-size: 200px;
  }
}
.card-columns .card-title {
  color: #372B72;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(0, -50%);
  margin: 0;
  font-size: 25px;
}
@media only screen and (min-width: 1280px) {
  .card-columns .card-title {
    left: 27%;
    font-size: 48px;
  }
}
.card-columns .card-content h1,
.card-columns .card-content h2,
.card-columns .card-content h3,
.card-columns .card-content h4,
.card-columns .card-content h5,
.card-columns .card-content h6 {
  color: rgb(0, 182, 235);
}
@media only screen and (min-width: 1280px) {
  .card-columns .card-content {
    flex: 0 0 50%;
  }
}
.card-columns .card .columns {
  overflow: hidden;
  max-height: 2000px;
  transition: all 0.5s ease-in-out;
}
@media only screen and (min-width: 1280px) {
  .card-columns .card .columns {
    display: flex;
  }
}
@media only screen and (min-width: 1280px) {
  .card-columns .card .columns .card-column {
    padding: 0 50px;
  }
}
@media only screen and (min-width: 1280px) {
  .card-columns .card .columns[data-col="1"] .card-column {
    flex: 0 0 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .card-columns .card .columns[data-col="2"] .card-column {
    flex: 0 0 50%;
  }
}
@media only screen and (min-width: 1280px) {
  .card-columns .card .columns[data-col="3"] .card-column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
@media only screen and (min-width: 1280px) {
  .card-columns .card-top {
    display: flex;
    align-items: center;
  }
}
.card-columns .card-toggler {
  position: absolute;
  top: 0;
  right: 0;
}
.card-columns .card-toggler .inner {
  position: relative;
}
.card-columns .card-toggler .inner:before {
  font-family: "icomoon";
  content: "\e906";
  color: #BDD631;
  font-size: 50px;
}
.card-columns .card-column .image {
  text-align: center;
  margin: 25px 0;
}
@media only screen and (min-width: 1280px) {
  .card-columns .card-column .image img {
    height: 100px;
    width: auto;
    object-fit: contain;
  }
}
.card-columns .card-column + .card-column {
  border-top: 1px solid rgba(55, 43, 114, 0.25);
  margin-top: 25px;
}
@media only screen and (min-width: 1280px) {
  .card-columns .card-column + .card-column {
    margin-top: 0px;
    border-top: none;
    border-left: 1px solid rgba(55, 43, 114, 0.25);
  }
}
.card-columns .card .btn {
  width: 100%;
}
@media only screen and (min-width: 1280px) {
  .card-columns .card .btn {
    width: 100%;
    min-width: unset;
  }
}
@media only screen and (min-width: 1920px) {
  .card-columns .card .btn {
    width: fit-content;
    min-width: 300px;
  }
}
.card-columns .card.active .card-toggler .inner:before {
  content: "\e908";
}
.card-columns .card:not(.active) .columns {
  max-height: 0;
}
@media only screen and (min-width: 1280px) {
  .card-columns .card:not(.active) .columns {
    max-height: unset;
  }
}
.card-columns .card + .card {
  margin-top: 60px;
}
@media only screen and (min-width: 1280px) {
  .card-columns .card + .card {
    margin-top: 75px;
  }
}
.card-columns.is-style-cs .outer {
  position: relative;
  margin-top: -250px;
}
@media only screen and (min-width: 1280px) {
  .card-columns.is-style-cs .outer {
    margin-top: -125px;
  }
}

/*# sourceMappingURL=style.css.map */
