@import "mixins.scss";

.card-columns {
    padding:30px;
    @include screen(1280) {
        padding:0;
    }
    .outer {
        padding:0 30px;
        @include screen(1280) {
            padding:0 80px;
            border-radius: 5px;
            box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
            background: white;
        }
        &:before {
            content:"";
            position:absolute;
            top: 100px;
            bottom:0;
            left:0;
            right:0;
            box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
            background: white;
            border-radius: 5px;
            @include screen(1280) {
                content:unset;
            }
        }
    }
    .inner {
        @include screen(1280) {
            padding:80px 0;
        }
    }
    .card {
        box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
        background: white;
        border-radius: 5px;
        padding: 40px 18px;
        position: relative;
        @include screen(1280) {
            padding-bottom: 100px;
        }
        &:before {
            content:"";
            position: absolute;
            top:0;
            right:0;
            height:2px;
            width:180px;
            background:rgba(189, 214, 49, 1);
            @include screen(1280) {
                width:610px;
            }
        }
        &-head {
            position: relative;
            @include screen(1280) {
                flex: 0 0 50%;
            }
            // &:before {
            //     content:"";
            //     position: absolute;
            //     top:0;
            //     right:0;
            //     height:2px;
            //     width:180px;
            //     background:rgba(189, 214, 49, 1);
            // }
        }
        &-label {
            font-size: 150px;
            font-weight: 600;
            color:rgba(0, 0, 0, 0.05);
            @include screen(1280) {
                font-size: 200px;
            }
        }
        &-title {
            color:#372B72;
            position:absolute;
            top: 50%;
            left: 40%;
            transform: translate(0, -50%);
            margin: 0;
            font-size: 25px;
            @include screen(1280) {
                left: 27%;
                font-size: 48px;
            }
        }
        &-content {
            @include headings() {
                color:rgba(0, 182, 235, 1);
            }
            @include screen(1280) {
                flex: 0 0 50%;
            }
        }
        .columns {
            overflow:hidden;
            max-height: 2000px;
            transition: all 0.5s ease-in-out;
            @include screen(1280) {
                display:flex;
            }
            .card-column {
                @include screen(1280) {
                    padding: 0 50px;
                }
            }
            &[data-col="1"] {
                .card-column {
                    @include screen(1280) {
                        flex:0 0 100%;
                    }
                }
            }
            &[data-col="2"] {
                .card-column {
                    @include screen(1280) {
                        flex:0 0 50%;
                    }
                }
            }
            &[data-col="3"] {
                .card-column {
                    @include screen(1280) {
                        flex: 0 0 33.33%;
                        max-width: 33.33%;
                    }
                }
            }
        }
        &-top {
            @include screen(1280) {
                display: flex;
                align-items: center;
            }
        }
        &-toggler {
            position:absolute;
            top:0;
            right:0;
            .inner {
                position: relative;
                &:before {
                    font-family: "icomoon";
                    content: "\e906";
                    color:#BDD631;
                    font-size: 50px;
                }
            }
        }
        &-column {
            .image {
                text-align: center;
                margin: 25px 0;
                img {
                    @include screen(1280) {
                        height: 100px;
                        width: auto;
                        object-fit: contain;
                    }
                }
            }
            & + .card-column {
                border-top:1px solid rgba(55, 43, 114, 0.25);
                margin-top: 25px;
                @include screen(1280) {
                    margin-top: 0px;
                    border-top:none;
                    border-left:1px solid rgba(55, 43, 114, 0.25);
                }
            }
        }
        .btn {
            width: 100%;
            @include screen(1280) {
                width: 100%;
                min-width: unset;
            }
            @include screen(1920) {
                width: fit-content;
                min-width: 300px;
            }
        }
        &.active {
            .card-toggler .inner {
                &:before {
                    content: "\e908";
                }
            }
        }
        &:not(.active) {
            .columns {
                max-height: 0;
                @include screen(1280) {
                    max-height: unset;
                }
            }
        }

    }
    .card + .card {
        margin-top:60px;
        @include screen(1280) {
            margin-top:75px;
        }
    }
    &.is-style-cs {
        .outer {
            position: relative;
            margin-top:-250px;
            @include screen(1280) {
                margin-top:-125px;
            }
        }
    }
}