{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="outer">
            <div class="inner">
            {% for card in fields.cards %}
                <div class="card {% if loop.first %}active{% endif %}">
                    <div class="card-top" onclick="toggleCard(this.parentNode, this);">
                        <div class="card-head">
                            <div class="card-label">{{card.label}}</div>
                            <h2 class="card-title">{{card.title}}</h2>
                        </div>
                        <div class="card-content">{{card.top_content}}</div>
                        <div class="card-toggler hide-desktop"><div class="inner"></div></div>
                    </div>
                    <div class="columns" data-col="{{card.columns|length}}">
                    {% for column in card.columns %}
                        <div class="card-column">
                            <div class="image">
                                {{imageElement(column.image)}}
                            </div>
                            <div class="content">
                                {{column.content}}
                            </div>
                            <div class="theme-buttons is-style-transparent">
                                <a class="btn" href="{{column.button.url}}" target="{{column.button.target}}">
                                    <span>{{column.button.title}}</span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
<script>
function toggleCard(el, head) {

    const yOffset = -50; 
    const element = head;
    const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;

    if(screen.width < 1279) {
        console.log(el);
        if(el.classList.contains('active')) {
            el.classList.remove('active');
        } else {
            [...document.querySelectorAll('.card-columns .card.active')].forEach(function(card) {
                card.classList.remove('active');
            });
            el.classList.add('active');
            el.scrollIntoView({ behavior: "smooth", block: "start", inline: "nearest" });
        }
        window.scrollTo({top: y, behavior: 'smooth'});
    }
}

    function toggleTab(tab, head) {
        const yOffset = 0; 
        const element = head;
        const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;
        if(tab.classList.contains('active')) {
            tab.classList.remove('active');
        } else {
            [...document.querySelectorAll('.flex-tabs .tab.active')].forEach(function(e) {
                e.classList.remove('active');
            });
            tab.classList.add('active');
            window.scrollTo({top: y, behavior: 'smooth'});
//            head.scrollIntoView({ top:, behavior: "smooth", block: "start", inline: "nearest" });
        }
    }
</script>
{% endblock %}
