.logo-slider {
  padding: 50px 0;
  position: relative;
}
.logo-slider .logo {
  text-align: center;
}
.logo-slider .logo img {
  max-width: 260px;
  max-height: 175px;
  object-fit: contain;
}
.logo-slider .testimonials {
  margin: 50px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .logo-slider .testimonials {
    margin: 0px;
    margin-top: 100px;
  }
}
.logo-slider .testimonial {
  box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  height: 245px;
  width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}
.logo-slider .flex {
  padding: 20px;
}
@media only screen and (min-width: 1280px) {
  .logo-slider .flex {
    padding: 0;
  }
}
.logo-slider .glide__slides {
  min-height: 325px;
}
.logo-slider .glide__slide {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
