@import "mixins.scss";

.logo-slider {
    padding: 50px 0;
    position:relative;
    .logo {
        text-align: center;
        img {
            max-width: 260px;
            max-height: 175px;
            object-fit: contain;
        }
    }
    .testimonials {
        margin: 50px;
        position: relative;
        @include screen(768) {
            margin: 0px;
            margin-top:100px;
        }
    }
    .testimonial {
        box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        height:245px;
        width:370px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor:grab;
    }
    .flex {
        padding:20px;
        @include screen(1280) {
            padding:0;
        }
    }
    .glide__slides {
        min-height: 325px;
    }
    .glide__slide {
        display: flex;
        justify-content: center;
    }
    // .controls {
    //     .control {
    //         &:before {
    //             color: #68a2d7;
    //             cursor:pointer;
    //             font-family: "icomoon";
    //             position: absolute;
    //             top: 50%;
    //             font-size: 16px;
    //             @include screen(768) {
    //                 font-size: 25px;
    //             }
    //             @include screen(1280) {
    //                 font-size: 30px;
    //             }
    //             @include screen(1366) {
    //                 font-size: 38px;
    //             }
    //         }
    //         &.prev {
    //             &:before {
    //                 content: "\e901";
    //                 transform: translate(-50%,-50%);
    //                 left: -25px;
    //             }
    //         }
    //         &.next {
    //             &:before {
    //                 content: "\e901";
    //                 right: 0;
    //                 transform: translate(-50%,-50%) rotate(180deg);
    //                 right: -30px;
    //             }
    //         }

    //     }
    // }
}
