{% extends "block-base.twig" %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.css" media="print" onload="this.media='all'" />


<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="flex">
                <InnerBlocks/>
            </div>
            <div class="testimonials">
                <div class="glide">
                    <div data-glide-el="track" class="glide__track">
                        <list class="glide__slides">
                        {% for item in fields.content.items %}
                            <div class="glide__slide">
                                <div class="testimonial">
                                    <div class="logo">{{imageElement(item.logo)}}</div>
                                </div>
                            </div>
                        {% endfor %}
                        </list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
function createSlider() {
    new Glide('.glide', {
    type: 'carousel',
    startAt: 0,
    perView: 3,
    focusAt: 'center',
    breakpoints: {
        1024: {
            perView: 1,
            gap:20
        }
    }
    }).mount();
}

function loadScript(url, callback){
    var script = document.createElement("script")
    script.type = "text/javascript";

    if (script.readyState){  // IE
        script.onreadystatechange = function(){
            if (script.readyState == "loaded" || script.readyState == "complete"){
                script.onreadystatechange = null;
                callback();
            }
        };
    } else {  // Others
        script.onload = function(){
            callback();
        };
    }

    script.src = url;
    document.getElementsByTagName("head")[0].appendChild(script);
}

loadScript("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/glide.min.js", function() {
    createSlider();
});
</script>
{% endblock %}
