@import "mixins.scss";

.blog-hero {
    padding-bottom: 25px;
    margin: 0 -15px;
    position: relative;
    @include screen(1280) {
        padding: 50px 0;
        margin: 0;
    }
    &:before {
        content: "";
        position: absolute;
        width: 100vw;
        background: url(/wp-content/themes/estation/blocks/blog-hero/resources-bg.svg);

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 150px;
        left: -15%;
        top: 0;

        @include screen(1024) {
            height: 836px;
            left: -12%;
            top: -25%;
        }

        @include screen(1280) {
            left: -29%;
            top: -15%;
        }

        @include screen(1366) {
            left: -35%;
            top: -15%;
        }

        @include screen(1440) {
            left: -39%;
        }

        @include screen(1440) {
            left: -45%;
        }

        @include screen(1920) {
            left: -70%;
            top: -15%;
        }
    }
    .wrapper {
        overflow: hidden;
        border-radius: 7px;
        position:relative
    }
}