.blog-hero {
  padding-bottom: 25px;
  margin: 0 -15px;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .blog-hero {
    padding: 50px 0;
    margin: 0;
  }
}
.blog-hero:before {
  content: "";
  position: absolute;
  width: 100vw;
  background: url(/wp-content/themes/estation/blocks/blog-hero/resources-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  left: -15%;
  top: 0;
}
@media only screen and (min-width: 1024px) {
  .blog-hero:before {
    height: 836px;
    left: -12%;
    top: -25%;
  }
}
@media only screen and (min-width: 1280px) {
  .blog-hero:before {
    left: -29%;
    top: -15%;
  }
}
@media only screen and (min-width: 1366px) {
  .blog-hero:before {
    left: -35%;
    top: -15%;
  }
}
@media only screen and (min-width: 1440px) {
  .blog-hero:before {
    left: -39%;
  }
}
@media only screen and (min-width: 1440px) {
  .blog-hero:before {
    left: -45%;
  }
}
@media only screen and (min-width: 1920px) {
  .blog-hero:before {
    left: -70%;
    top: -15%;
  }
}
.blog-hero .wrapper {
  overflow: hidden;
  border-radius: 7px;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
