{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            {{imageElement(fields.content.image)}}
        </div>
    </div>
</section>
{% endblock %}
