{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="top">{{fields.content}}</div>
    </div>
    <div class="container">
        <div class="wrapper">
            <ul class="boxes">
            {% for box in fields.boxes %}
                <li class="box">
                    <div class="box-head">
                        <h3>{{box.box_title}}</h3>
                    </div>
                    <div class="box-body">
                        <ul class="items">
                        {% for item in box.items %}
                            <li class="item">{{item.line}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="bot">
            <a class="btn {{fields.button.type}}" href="{{fields.button.link.url}}" target="{{fields.button.link.target}}">
                <span>{{fields.button.link.title}}</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}
