@import "mixins.scss";

.faq-block {
    margin: 25px;
    @include screen(1024) {
        margin: 0px;
        padding-top:50px;
        padding-bottom: 100px;
    }
    .top {
        padding: 25px 35px 0;
        @include screen(1024) {
            padding: 35px 75px 0;
        }
        @include headings() {
            color:#372B72;
        }
    }
    .columns {
        padding-top:30px;
        @include screen(1024) {
            padding-top:60px;
        }
    }
    .col {
        position: relative;
        z-index: 4;
        border-radius: 5px;
        box-shadow: 0 20px 80px rgb(0 0 0 / 16%);
        &-wrapper {
            padding: 25px;
            @include screen(1024) {
                padding: 0px 75px 35px;
            }
        }

    }
    .item {
        &:not(:first-child) {
            border-top: 1px solid rgba(55, 43, 114, 0.25);
        }
        &.title {
            border:none;
            padding-top: 0;
            padding-bottom: 25px;
            @include screen(1024) {
                padding-bottom: 45px;
            }
            .item-head {
                &:after{
                    content: unset;
                }
            }
        }
        a,
        p {
            font-weight: 500;
        }
        &-head {
            transition: all 0.2s ease-out;
            font-weight: 400;
            cursor: pointer;
            font-weight:500;
            position: relative;
            padding-right: 50px;
            padding-top: 15px;
            padding-bottom: 15px;
            @include screen(1024) {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            &:after {
                transition: all 0.3s ease-out;
                font-family: "icomoon";
                content: "\e906";
                color: #ee3057;
                position: absolute;
                font-size: 20px;
                top: 27px;
                right: 10px;
                transform: rotate(180deg);
                @include screen(1024) {
                    font-size: 38px;
                }
            }
        }
        &-body {
            overflow:hidden;
            max-width: 90%;
            transition: all 0.3s ease-out;
            * {
                color:#372B72;
            }
        }
        &:not(.open) {
            .item-body {
                max-height: 0;
            }
        }
        &.open {
            .item-body {
                max-height: 500px;
                padding-bottom: 25px;
                @include screen(1024) {
                    margin: 10px 0;
                }
            }
            .item-head {
                font-size: 105%;
                font-weight: 800;
                &:after {
                    font-weight:400;
                    transform: rotate(360deg);
                }
            }
        }
    }
    list {
        list-style: none;
        display:block;
    }
    item {
        display: list-item;
    }
}