.faq-block {
  margin: 25px;
}
@media only screen and (min-width: 1024px) {
  .faq-block {
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
.faq-block .top {
  padding: 25px 35px 0;
}
@media only screen and (min-width: 1024px) {
  .faq-block .top {
    padding: 35px 75px 0;
  }
}
.faq-block .top h1,
.faq-block .top h2,
.faq-block .top h3,
.faq-block .top h4,
.faq-block .top h5,
.faq-block .top h6 {
  color: #372B72;
}
.faq-block .columns {
  padding-top: 30px;
}
@media only screen and (min-width: 1024px) {
  .faq-block .columns {
    padding-top: 60px;
  }
}
.faq-block .col {
  position: relative;
  z-index: 4;
  border-radius: 5px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.16);
}
.faq-block .col-wrapper {
  padding: 25px;
}
@media only screen and (min-width: 1024px) {
  .faq-block .col-wrapper {
    padding: 0px 75px 35px;
  }
}
.faq-block .item:not(:first-child) {
  border-top: 1px solid rgba(55, 43, 114, 0.25);
}
.faq-block .item.title {
  border: none;
  padding-top: 0;
  padding-bottom: 25px;
}
@media only screen and (min-width: 1024px) {
  .faq-block .item.title {
    padding-bottom: 45px;
  }
}
.faq-block .item.title .item-head:after {
  content: unset;
}
.faq-block .item a,
.faq-block .item p {
  font-weight: 500;
}
.faq-block .item-head {
  transition: all 0.2s ease-out;
  font-weight: 400;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media only screen and (min-width: 1024px) {
  .faq-block .item-head {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.faq-block .item-head:after {
  transition: all 0.3s ease-out;
  font-family: "icomoon";
  content: "\e906";
  color: #ee3057;
  position: absolute;
  font-size: 20px;
  top: 27px;
  right: 10px;
  transform: rotate(180deg);
}
@media only screen and (min-width: 1024px) {
  .faq-block .item-head:after {
    font-size: 38px;
  }
}
.faq-block .item-body {
  overflow: hidden;
  max-width: 90%;
  transition: all 0.3s ease-out;
}
.faq-block .item-body * {
  color: #372B72;
}
.faq-block .item:not(.open) .item-body {
  max-height: 0;
}
.faq-block .item.open .item-body {
  max-height: 500px;
  padding-bottom: 25px;
}
@media only screen and (min-width: 1024px) {
  .faq-block .item.open .item-body {
    margin: 10px 0;
  }
}
.faq-block .item.open .item-head {
  font-size: 105%;
  font-weight: 800;
}
.faq-block .item.open .item-head:after {
  font-weight: 400;
  transform: rotate(360deg);
}
.faq-block list {
  list-style: none;
  display: block;
}
.faq-block item {
  display: list-item;
}

/*# sourceMappingURL=style.css.map */
