{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="columns">
            <div class="col right">
                <div class="top">
                    <InnerBlocks/>
                </div>
                <list class="col-wrapper">
                {% for item in fields.questions.items %}
                    <item class="item">
                        <div class="item-head" onclick="toggleTab(this.parentNode)"><h3>{{item.question}}</h3></div>
                        <div class="item-body">{{item.answer}}</div>
                    </item>
                {% endfor %}
                </list>
            </div>
        </div>
    </div>
</section>
<script>
    function toggleTab(tab) {
        if(tab.classList.contains('open')) {
            tab.classList.remove('open');
        } else {
            [...document.querySelectorAll('.faq-block .open')].forEach(function(e) {
                e.classList.remove('open');
            });
            tab.classList.add('open');
        }
    }
</script>
{% endblock %}

