@import "mixins.scss";

.feature-boxes-one {
    padding: 35px;
    @include screen(1024) {
        padding: 75px 0;
    }
    .media {
        margin: 25px 0;
        @include screen(1280) {
            flex: 0 0 40%;
        }
    }
    .wrapper {
        @include screen(1280) {
            display:flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .cards {
        @include screen(1280) {
            column-count: 2;
            column-gap: 0;
        }
    }
    .card {
        break-inside: avoid-column;
        @include screen(1280) {
            max-width: 350px;
        }
        &:nth-child(1) {
            padding-right: 50px;
            padding-bottom: 50px;
            @include screen(1280) {
                border-right:1px solid rgba(55, 43, 114, 0.2);
            }
        }
        &:nth-child(2) {
            border-top:1px solid rgba(55, 43, 114, 0.2);
            padding-top: 50px;
            padding-right: 50px;
            padding-bottom: 50px;
            @include screen(1280) {
                border-right:1px solid rgba(55, 43, 114, 0.2);
            }
        }
        &:nth-child(3) {
            border-top:1px solid rgba(55, 43, 114, 0.2);
            padding-right: 50px;
            padding-bottom: 50px;
            @include screen(1280,1365) {
                border-right:1px solid rgba(55, 43, 114, 0.2);
                padding-top: 50px;
                padding-bottom: 0px;
            }
            @include screen(1366,1535) {
                border-right: 1px solid rgba(55, 43, 114, 0.2);
                padding-top: 50px;
                padding-left: 0;
                border-top: 1px solid rgba(55, 43, 114, 0.2);
                border-bottom: none;
            }
            @include screen(1536) {
                padding-top: 50px;
                border-right:1px solid rgba(55, 43, 114, 0.2);
            }
        }
        &:nth-child(4) {
            border-bottom:1px solid rgba(55, 43, 114, 0.2);
            padding-right: 50px;
            padding-bottom: 50px;
            @include screen(1280,1365) {
                padding-right: 0px;
                padding-left: 50px;
            }
            @include screen(1366,1536) {
                padding-top: 0px;
                padding-left: 50px;
                border-bottom: 1px solid rgba(55, 43, 114, 0.2);
            }
            @include screen(1536) {
                padding-left: 50px;
            }
        }
        &:nth-child(5) {
            padding-top: 50px;

            padding-right:50px;

            @include screen(1280) {
                border-bottom:none;
                padding-left: 50px;

            }
        }
        h3 {
            color:rgba(48, 75, 39, 1);
        }
    }
    .card + .card {
        @include screen(0,1279) {
            border-top: 1px solid rgba(55, 43, 114, 0.25);
            padding-top: 15px;
        }
    }
    .flex {
        @include screen(1280) {
            margin-bottom: 50px;
        }
    }
    .inner {
        @include screen(1280) {
            box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
            border-radius: 5px;
            padding: 80px;
        }
    }
    &.is-style-reverse {
        .wrapper {
            @include screen(1280) {
                flex-direction: row-reverse;
            }
        }
    }
}