.feature-boxes-one {
  padding: 35px;
}
@media only screen and (min-width: 1024px) {
  .feature-boxes-one {
    padding: 75px 0;
  }
}
.feature-boxes-one .media {
  margin: 25px 0;
}
@media only screen and (min-width: 1280px) {
  .feature-boxes-one .media {
    flex: 0 0 40%;
  }
}
@media only screen and (min-width: 1280px) {
  .feature-boxes-one .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1280px) {
  .feature-boxes-one .cards {
    column-count: 2;
    column-gap: 0;
  }
}
.feature-boxes-one .card {
  break-inside: avoid-column;
}
@media only screen and (min-width: 1280px) {
  .feature-boxes-one .card {
    max-width: 350px;
  }
}
.feature-boxes-one .card:nth-child(1) {
  padding-right: 50px;
  padding-bottom: 50px;
}
@media only screen and (min-width: 1280px) {
  .feature-boxes-one .card:nth-child(1) {
    border-right: 1px solid rgba(55, 43, 114, 0.2);
  }
}
.feature-boxes-one .card:nth-child(2) {
  border-top: 1px solid rgba(55, 43, 114, 0.2);
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
@media only screen and (min-width: 1280px) {
  .feature-boxes-one .card:nth-child(2) {
    border-right: 1px solid rgba(55, 43, 114, 0.2);
  }
}
.feature-boxes-one .card:nth-child(3) {
  border-top: 1px solid rgba(55, 43, 114, 0.2);
  padding-right: 50px;
  padding-bottom: 50px;
}
@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  .feature-boxes-one .card:nth-child(3) {
    border-right: 1px solid rgba(55, 43, 114, 0.2);
    padding-top: 50px;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1366px) and (max-width: 1535px) {
  .feature-boxes-one .card:nth-child(3) {
    border-right: 1px solid rgba(55, 43, 114, 0.2);
    padding-top: 50px;
    padding-left: 0;
    border-top: 1px solid rgba(55, 43, 114, 0.2);
    border-bottom: none;
  }
}
@media only screen and (min-width: 1536px) {
  .feature-boxes-one .card:nth-child(3) {
    padding-top: 50px;
    border-right: 1px solid rgba(55, 43, 114, 0.2);
  }
}
.feature-boxes-one .card:nth-child(4) {
  border-bottom: 1px solid rgba(55, 43, 114, 0.2);
  padding-right: 50px;
  padding-bottom: 50px;
}
@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  .feature-boxes-one .card:nth-child(4) {
    padding-right: 0px;
    padding-left: 50px;
  }
}
@media only screen and (min-width: 1366px) and (max-width: 1536px) {
  .feature-boxes-one .card:nth-child(4) {
    padding-top: 0px;
    padding-left: 50px;
    border-bottom: 1px solid rgba(55, 43, 114, 0.2);
  }
}
@media only screen and (min-width: 1536px) {
  .feature-boxes-one .card:nth-child(4) {
    padding-left: 50px;
  }
}
.feature-boxes-one .card:nth-child(5) {
  padding-top: 50px;
  padding-right: 50px;
}
@media only screen and (min-width: 1280px) {
  .feature-boxes-one .card:nth-child(5) {
    border-bottom: none;
    padding-left: 50px;
  }
}
.feature-boxes-one .card h3 {
  color: rgb(48, 75, 39);
}
@media only screen and (max-width: 1279px) {
  .feature-boxes-one .card + .card {
    border-top: 1px solid rgba(55, 43, 114, 0.25);
    padding-top: 15px;
  }
}
@media only screen and (min-width: 1280px) {
  .feature-boxes-one .flex {
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1280px) {
  .feature-boxes-one .inner {
    box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    padding: 80px;
  }
}
@media only screen and (min-width: 1280px) {
  .feature-boxes-one.is-style-reverse .wrapper {
    flex-direction: row-reverse;
  }
}

/*# sourceMappingURL=style.css.map */
