{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="inner">
            <div class="flex">
                <InnerBlocks/>
            </div>
            <div class="wrapper">
                <div class="media">{{imageElement(fields.cards.image)}}</div>
                <div class="cards" data-cards="{{fields.cards.items|length}}">
                    {% for card in fields.cards.items %}
                        <div class="card">
                            <div class="card-title">
                                <h3>{{card.title}}</h3>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    {{card.content}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

