@import "mixins.scss";

.two-columns-bg-two {
    background:#f6f5f8;
    padding: 30px;
    @include screen(1024) {
        padding: 100px 0;
    }
    @include screen(1280) {
        padding: 140px 0;
    }
    .wrapper {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include screen(1024) {
            flex-direction: row;
            align-items: flex-start;
            gap: 40px;
        }
    }
    separator {
        display: block;
        width: 1px;
        height: 100%;
        min-height: 512px;
        background: rgba(0, 182, 235, 0.2);
    }
    .col {
        margin-top: 25px;
        border-top:rgba(55, 43, 114, 0.2);
        max-width: 565px;
        @include screen(1280) {
            margin-top: 0px;
            border-top:0;
        }
        &-head {
            margin-bottom:25px;
        }
        &-body {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            @include screen(1280) {
                gap: 50px;
            }
            
        }
        &-image {
            flex: 0 0 75px;
            @include screen(1280) {
                flex: 0 0 105px;
            }
        }
        &-content {
            & > p {
                margin-top:0;
            }
        }
    }
}