.two-columns-bg-two {
  background: #f6f5f8;
  padding: 30px;
}
@media only screen and (min-width: 1024px) {
  .two-columns-bg-two {
    padding: 100px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .two-columns-bg-two {
    padding: 140px 0;
  }
}
.two-columns-bg-two .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .two-columns-bg-two .wrapper {
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
  }
}
.two-columns-bg-two separator {
  display: block;
  width: 1px;
  height: 100%;
  min-height: 512px;
  background: rgba(0, 182, 235, 0.2);
}
.two-columns-bg-two .col {
  margin-top: 25px;
  border-top: rgba(55, 43, 114, 0.2);
  max-width: 565px;
}
@media only screen and (min-width: 1280px) {
  .two-columns-bg-two .col {
    margin-top: 0px;
    border-top: 0;
  }
}
.two-columns-bg-two .col-head {
  margin-bottom: 25px;
}
.two-columns-bg-two .col-body {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
@media only screen and (min-width: 1280px) {
  .two-columns-bg-two .col-body {
    gap: 50px;
  }
}
.two-columns-bg-two .col-image {
  flex: 0 0 75px;
}
@media only screen and (min-width: 1280px) {
  .two-columns-bg-two .col-image {
    flex: 0 0 105px;
  }
}
.two-columns-bg-two .col-content > p {
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
