{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="col">
                <div class="col-head">
                    <h3>{{fields.first.title}}</h3>
                </div>
                <div class="col-body">
                    <div class="col-image">
                        {{imageElement(fields.first.image)}}
                    </div>
                    <div class="col-body-inner">
                        <div class="col-content">
                        {{fields.first.content}}
                        </div>
                        <div class="col-button theme-buttons is-style-transparent">
                            {% if fields.first.button.title|length > 0 %}
                                <a class="btn" href="{{fields.first.button.url}}" target="{{fields.first.button.target}}">
                                    <span>{{fields.first.button.title}}</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <separator class="hide-mobile"></separator>
            <div class="col">
                <div class="col-head">
                    <h3>{{fields.second.title}}</h3>
                </div>
                <div class="col-body">
                    <div class="col-image">
                        {{imageElement(fields.second.image)}}
                    </div>
                    <div class="col-body-inner">
                        <div class="col-content">
                        {{fields.second.content}}
                        </div>
                        <div class="col-button theme-buttons is-style-transparent">
                            {% if fields.second.button.title|length > 0 %}
                                <a class="btn" href="{{fields.second.button.url}}" target="{{fields.second.button.target}}">
                                    <span>{{fields.second.button.title}}</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
