.content-box-bg {
  background: url("/wp-content/themes/estation/blocks/content-box-bg/bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  background-position-y: top;
}
.content-box-bg h1,
.content-box-bg h2,
.content-box-bg h3,
.content-box-bg h4,
.content-box-bg h5,
.content-box-bg h6 {
  color: #372B72;
}
@media only screen and (min-width: 1024px) {
  .content-box-bg {
    padding: 80px 0;
  }
}
.content-box-bg .wrapper {
  background: #f6f5f8;
  margin: 30px;
  padding: 25px;
}
@media only screen and (min-width: 768px) {
  .content-box-bg .wrapper {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 65px 80px;
  }
}
.content-box-bg .flex {
  position: relative;
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .content-box-bg .flex {
    flex-grow: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .content-box-bg .flex {
    margin-bottom: 0px;
  }
}
.content-box-bg .media {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .content-box-bg .media {
    flex: 0 0 65%;
    max-width: 900px;
  }
}
.content-box-bg .wp-block-image {
  margin-bottom: 30px;
}
.content-box-bg .wp-block-buttons {
  margin-top: 30px;
}
.content-box-bg img {
  max-width: 100%;
  height: auto;
}
.content-box-bg h5 {
  color: #1F7A8C;
}
.content-box-bg a:not(.btn) {
  color: #28334d;
}
.content-box-bg.is-style-reverse .wrapper {
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .content-box-bg.is-style-reverse .wrapper {
    flex-direction: row-reverse;
  }
}

.flex ul li {
  line-height: 1.2;
  position: relative;
  padding-left: 30px;
}
.flex ul li:before {
  font-family: "icomoon";
  content: "\e905";
  color: #F39337;
  position: absolute;
  left: 0px;
}
.flex ul li + li {
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
