@import "mixins.scss";

.content-box-bg {
    background:url('/wp-content/themes/estation/blocks/content-box-bg/bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-position-y: top;
    @include headings {
        color:#372B72;
    }
    @include screen(1024) {
        padding: 80px 0;
    }
    .wrapper {
        background: #f6f5f8;
        margin: 30px;
        padding: 25px;
        @include screen(768) {
            margin:0;
            display: flex;
            align-items: center;
            gap: 25px;
            padding: 65px 80px;
        }
    }
    .flex {
        position:relative;
        margin-bottom: 25px;
        @include screen(768) {
            flex-grow: 1;
        }
        @include screen(1024) {
            margin-bottom: 0px;
        }
    }
    .media {
        position: relative;
        @include screen(768) {
            flex: 0 0 65%;
            max-width: 900px;
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    h5 {
        color:#1F7A8C;
    }
    a {
        &:not(.btn) {
            color:#28334d;
        }
    }
    &.is-style-reverse {
        .wrapper {
            flex-direction: column;
            @include screen(1024) {
                flex-direction: row-reverse;
            }
        }
    }
}

.flex {
    ul {
        li {
            line-height: 1.2;
            position:relative;
            padding-left: 30px;
            &:before {
                font-family:"icomoon";
                content: "\e905";
                color: #F39337;
                position: absolute;
                left: 0px;
            }
            & + li {
                margin-top:10px;
            }
        }
    }
}