.contact-block-one {
  background: url("/wp-content/themes/estation/blocks/contact-block-one/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 1024px) {
  .contact-block-one {
    padding: 80px 0;
    padding-bottom: 0;
  }
}
.contact-block-one .footer-social {
  padding: 0;
}
.contact-block-one .wrapper {
  background: white;
  margin: 30px;
  padding: 25px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 7px;
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .wrapper {
    padding: 70px;
  }
}
.contact-block-one .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-block-one .mid {
  border-top: 1px solid rgba(55, 43, 114, 0.3);
  border-bottom: 1px solid rgba(55, 43, 114, 0.3);
  padding: 20px 0;
  margin: 20px 0;
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .mid {
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .bot {
    padding-top: 10px;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .box {
    padding: 40px !important;
    flex: 0 0 30%;
    max-width: 30%;
  }
}
.contact-block-one .box-title {
  margin-bottom: 20px;
}
.contact-block-one .box.get-in-touch a {
  text-decoration: none;
  color: rgb(55, 43, 114);
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  position: relative;
}
.contact-block-one .box.get-in-touch a:before {
  font-family: "icomoon";
  margin-right: 5px;
  vertical-align: top;
}
.contact-block-one .box.get-in-touch .phone:before {
  content: "\e90c";
}
.contact-block-one .box.get-in-touch .mail:before {
  content: "\e90d";
}
.contact-block-one .box.address p, .contact-block-one .box.business-hours p {
  margin: 0;
}
.contact-block-one .box + .box {
  margin-top: 30px;
  border-top: 1px solid rgba(55, 43, 114, 0.3);
  padding-top: 20px;
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .box + .box {
    margin-top: 0px;
    border-top: none;
    border-left: 1px solid rgba(55, 43, 114, 0.3);
  }
}
.contact-block-one .gform_fields {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 15px;
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .gform_fields {
    gap: 30px;
  }
}
.contact-block-one .gform_title {
  color: #BDD631;
  text-align: center;
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .contact-block-one .gform_title {
    font-size: 24px;
  }
}
.contact-block-one .gform_button {
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-out;
  background: linear-gradient(270deg, rgb(238, 48, 87) 15%, rgb(55, 43, 114) 79%);
  color: #fff;
  padding: 17px 20px;
  font-size: 14px;
  letter-spacing: 0.78px;
  font-weight: 600;
  position: relative;
  min-width: 180px;
  border-radius: 0;
  overflow: hidden;
  width: fit-content;
  border: none;
  border-radius: 5px;
  line-height: 1;
  width: 100%;
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .gform_button {
    font-size: 18px;
    letter-spacing: 1px;
    min-width: 300px;
    width: fit-content;
  }
}
.contact-block-one .gform_button span {
  position: relative;
  z-index: 2;
}
.contact-block-one .gform_submission_error {
  font-size: 15px;
  color: red;
  margin: 25px 0;
  border: 2px solid red;
  border-radius: 3px;
  padding: 20px;
  outline: none;
}
.contact-block-one .gform_validation_errors:focus-visible {
  outline: none;
}
.contact-block-one .gform_footer {
  margin-top: 25px;
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .gform_wrapper {
    margin-top: 35px;
  }
}
.contact-block-one .gfield_validation_message {
  color: red;
  font-size: 14px;
  margin-top: 15px;
  font-weight: 700;
}
.contact-block-one .gfield_label {
  display: none;
}
.contact-block-one .gfield--width-half {
  flex: 0 0 100%;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .contact-block-one .gfield--width-half {
    flex: 0 0 calc(50% - 5px);
    max-width: calc(50% - 5px);
  }
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .gfield--width-half {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
  }
}
.contact-block-one .gfield--width-full {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact-block-one .gfield--type-checkbox {
  border: none;
}
.contact-block-one .gfield--type-checkbox legend {
  display: none;
}
.contact-block-one .gfield--type-checkbox a {
  color: #28334D;
}
.contact-block-one .gfield--type-checkbox input {
  min-height: unset !important;
  width: fit-content !important;
  margin-bottom: 3px !important;
  margin-right: 15px;
}
.contact-block-one .gfield--type-checkbox input:focus {
  outline: none !important;
}
.contact-block-one .gfield--type-checkbox .gchoice {
  display: flex;
}
.contact-block-one .gfield--type-honeypot {
  display: none;
}
.contact-block-one .gfield input,
.contact-block-one .gfield textarea {
  font-family: "Poppins", sans-serif;
  border-radius: 3px;
  border: none;
  outline: none;
  transition: all 0.25s ease-out;
  border: 1px solid;
  border-color: rgba(0, 182, 235, 0.25);
  font-size: 14px;
  padding: 8px 2px;
  width: 100%;
  min-height: 27px;
  box-sizing: border-box;
  padding-left: 15px;
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .gfield input,
  .contact-block-one .gfield textarea {
    min-height: 57px;
    font-size: 16px;
  }
}
.contact-block-one .gfield input:focus,
.contact-block-one .gfield textarea:focus {
  outline: none;
}
.contact-block-one .gfield input::placeholder,
.contact-block-one .gfield textarea::placeholder {
  font-size: 14px;
  color: rgb(0, 182, 235);
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .gfield input::placeholder,
  .contact-block-one .gfield textarea::placeholder {
    font-size: 16px;
  }
}
.contact-block-one .gfield textarea {
  padding-top: 15px;
  height: 200px;
}
.contact-block-one .map-link {
  display: block;
  background: url("/wp-content/themes/estation/blocks/contact-block-one/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.contact-block-one .map-link img {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
