@import "mixins.scss";

.contact-block-one {
    background:url('/wp-content/themes/estation/blocks/contact-block-one/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    @include screen(1024) {
        padding: 80px 0;
        padding-bottom:0;
    }

    .footer-social {
        padding:0;
    }

    .wrapper {
        background: white;
        margin: 30px;
        padding: 25px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 7px;
        @include screen(1280) {
            padding: 70px;
        }
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mid {
        border-top: 1px solid rgba(55, 43, 114, 0.3);
        border-bottom: 1px solid rgba(55, 43, 114, 0.3);
        padding: 20px 0;
        margin: 20px 0;
        @include screen(1280) {
            padding: 35px 0;
            display:flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    .bot {
        @include screen(1024) {
            padding-top: 10px;
        }
    }
    .box {
        @include screen(1280) {
            padding:40px !important;
            flex:0 0 30%;
            max-width: 30%;;
        }
        &-title {
            margin-bottom: 20px;
        }
        &.get-in-touch {
            a {
                text-decoration: none;
                color:rgba(55, 43, 114, 1);
                font-weight: 600;
                font-size: 20px;
                line-height: 1;
                position: relative;
                &:before {
                    font-family:"icomoon";
                    margin-right: 5px;
                    vertical-align: top;
                }
            }
            .phone {
                &:before {
                    content: "\e90c";
                }
            }
            .mail {
                &:before {
                    content: "\e90d";
                }
            }
        }
        &.address,
        &.business-hours {
            p {
                margin: 0;
            }
        }
        & + .box {
            margin-top: 30px;
            border-top: 1px solid rgba(55, 43, 114, 0.3);
            padding-top: 20px;
            @include screen(1280) {
                margin-top: 0px;
                border-top: none;
                border-left: 1px solid rgba(55, 43, 114, 0.3);
            }
        }
    }


    .gform {
        &_fields {
            display:flex;
            flex-wrap:wrap;
            column-gap:25px;
            row-gap:15px;
            @include screen(1280) {
                gap:30px;
            }
        }
        &_title {
            color:#BDD631;
            text-align: center;
            margin-bottom: 25px;
            @include screen(768) {
                font-size: 24px;
            }
        }
        &_button {
            display: block;
            text-align: center;
            cursor: pointer;
            text-decoration: none;
            transition: all .3s ease-out;
            background: linear-gradient(270deg, rgba(238,48,87,1) 15%, rgba(55,43,114,1) 79%);
            color: #fff;
            padding: 17px 20px;
            font-size: 14px;
            letter-spacing: 0.78px;
            font-weight: 600;
            position: relative;
            min-width: 180px;
            border-radius: 0;
            overflow: hidden;
            width: fit-content;
            border:none;
            border-radius: 5px;
            line-height: 1;
            width: 100%;
            @include screen(1280) {
                font-size: 18px;
                letter-spacing: 1px;
                min-width: 300px;
                width: fit-content;
            }
            span {
                position: relative;
                z-index: 2;
            }
        }
        &_submission_error {
            font-size: 15px;
            color: red;
            margin: 25px 0;
            border: 2px solid red;
            border-radius: 3px;
            padding: 20px;
            outline: none;
        }
        &_validation_errors {
            &:focus-visible {
                outline: none;
            }
        }
        &_footer {
            margin-top: 25px;
        }
        &_wrapper {
            @include screen(1280) {
                margin-top: 35px;
            }
        }
    }
    
    .gfield {
        &_validation_message {
            color: red;
            font-size: 14px;
            margin-top: 15px;
            font-weight: 700;
        }
        &_error {
            // border: 1px solid #F39337 !important;
            // padding: 15px;
        }
        &_label {
            display:none;
        }
        &--width {
            &-half {
                flex:0 0 100%;
                max-width: 100%;
                @include screen(768) {
                    flex:0 0 calc(50% - 5px);
                    max-width: calc(50% - 5px);
                }
                @include screen(1280) {
                    flex:0 0 calc(50% - 15px);
                    max-width: calc(50% - 15px);
                }
            }
            &-full {
                flex:0 0 100%;
                max-width: 100%;
            }
        }
        &--type {
            &-checkbox {
                border:none;
                legend {
                    display:none;
                }
                a {
                    color:#28334D;
                }
                input {
                    min-height: unset !important;
                    width: fit-content !important;
                    margin-bottom: 3px !important;
                    margin-right: 15px;
                    &:focus {
                        outline:none !important;
                    }
                }
                .gchoice {
                    display: flex;
                }
            }
            &-honeypot {
                display:none;
            }
    
        }
        input,
        textarea {
            font-family: "Poppins",sans-serif;
            border-radius: 3px;
            border:none;
            outline: none;
            transition:all 0.25s ease-out;
            border: 1px solid;
            border-color:rgba(0, 182, 235, 0.25);
            font-size: 14px;
            padding: 8px 2px;
            width:100%;
            min-height: 27px;
            box-sizing: border-box;
            padding-left: 15px;
            @include screen(1024) {
                min-height: 57px;
                font-size: 16px;
            }
            &:focus {
                // border-color:rgba(243, 147, 55, 1);
                outline:none;
            }
            &::placeholder {
                font-size: 14px;
                color: rgba(0, 182, 235, 1);
                @include screen(1024) {
                    font-size: 16px;
                }
            }
        }
        textarea {
            padding-top:15px;
            height: 200px;
        }
    }

    .map-link {
        display:block;
        background:url('/wp-content/themes/estation/blocks/contact-block-one/map.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        img {
            opacity:0;
        }
    }
}
