{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="top">
                <div class="title">
                    <h1>{{fields.content.title}}</h1>
                </div>
                <div class="footer-social">
                    <list class="footer-social-list">
                        <item class="social linkedin"><a href="https://www.linkedin.com/company/e-station-evcharging/?originalSubdomain=ae" target="_blank"></a></item>
                        <item class="social instagram"><a href="https://www.instagram.com/estation.ie/?hl=en" target="_blank"></a></item>
                        <item class="social twitter"><a href="https://twitter.com/estation_ie?lang=en" target="_blank"></a></item>
                        <item class="social facebook"><a href="https://www.facebook.com/estationie/" target="_blank"></a></item>
                    </list>
                </div>
            </div>
            <div class="mid">
                <div class="box get-in-touch">
                    <div class="box-title"><h3>{{fields.get_in_touch.title}}</h3></div>
                    <div class="box-inner">
                        {{fields.get_in_touch.content}}
                        <p>
                            <a class="phone" href="{{fields.get_in_touch.phone.url}}">{{fields.get_in_touch.phone.title}}</a>
                        </p>
                        <p>
                            <a class="mail" href="{{fields.get_in_touch.mail.url}}">{{fields.get_in_touch.mail.title}}</a>
                        </p>
                    </div>
                </div>
                <div class="box address">
                    <div class="box-title"><h3>{{fields.address.title}}</h3></div>
                    <div class="box-inner">
                        {{fields.address.content}}
                    </div>
                </div>
                <div class="box business-hours">
                    <div class="box-title"><h3>{{fields.business_hours.title}}</h3></div>
                    <div class="box-inner">
                        {{fields.business_hours.content}}
                    </div>
                </div>
            </div>
            <div class="bot">
                <div class="subtitle">
                    <p>{{fields.content.subtitle}}</p>
                </div>
                <div class="form">
                    [gravityform id="{{fields.content.form_id}}" title="false"]
                </div>
            </div>
        </div>
    </div>
    <a href="#" target="_blank" class="map-link">
        <img src="/wp-content/themes/estation/blocks/contact-block-one/map.png" alt="map link"/>
    </a>
</section>
{% endblock %}
