@import "mixins.scss";

.spacer {
    height:143px;
    background: #28334d;
}
.thank-you {
    background:#28334D;
    position:relative;
    padding: 75px 25px;
    @include screen(1024) {
        padding: 100px 0;
    }
    .wrapper {
        margin-bottom: 50px;
    }
    &:before {
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:var(--bg);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
    }
    .flex {
        margin-bottom: 25px;
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    h1 {
        letter-spacing: 0.63px;
        text-transform: capitalize;
        em {
            color:#FEBE12;
        }
    }
    .wrapper {
        @include headings() {
            color:white;
        }
        p {
            color:white;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .btn {
        margin: auto;
    }
    .related {
        padding: 50px 0 !important;
        &-list {
            display: flex;
        }
        &-item {
            position:relative;
            flex: 0 0 100%;
            background: white;
            box-shadow: 8px 5px 68px rgba(40, 51, 77, 0.19);
            padding: 30px 15px;
            @include screen(1024) {
                flex: 0 0 calc((100% - 120px) / 3);
            }
            @include screen(1280) {
                flex: 0 0 calc((100% - 160px) / 3);
            }
            @include screen(1536) {
                flex: 0 0 calc((100% - 160px) / 3);
            }
            h4 {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.4px;
            }
            &:hover {
                .related-bar {
                    max-width: 95%;
                }
            }
        }
        &-sum {
            flex-grow: 1;
            p {
                font-size: 12px;
                line-height:16px;
                letter-spacing: 0.3px;
            }
        }
        &-list {
            flex-wrap: wrap;
            row-gap:25px;
            @include screen(0,1279) {
                justify-content: center;
            }
            @include screen(1024) {
                gap: 15px;
            }
            @include screen(1280) {
                gap: 20px;
                margin: 0 -15px;
            }
            @include screen(1536) {
                gap: 35px;
                flex: 0 0 calc((100% - 160px) / 3);
            }
        }
        &-container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        &-info {
            flex-grow: 1;
            display: flex;
        }
        &-content {
            color: #0D1320;
            text-decoration: none;
            h4 {
                font-size: 22px;
                line-height: 29px;
                font-weight: 800;
            }
        }
        &-read {
            .read-more {
                display: block;
                position:relative;
                transition:all 0.3s ease-out;
                color:#0D1320;
                padding: 20px 0;
                text-decoration: none;
                &:before {
                    transition:all 0.3s ease-out;
                    position: absolute;
                    content: "\e904";
                    color: #0D1320;
                    font-family: "icomoon";
                    right: 0;
                    transform: rotate(0deg);
                    left: 115px;
                    font-weight: 900;
                }
                span {
                    font-weight: 900;
                }
            }
        }
        &-image {
            overflow: hidden;
            position:relative;
            margin-bottom: 25px;
            img {
                display: block;
                transition: 0.5s ease;
                width: 100%;
                height: auto;
                object-fit: cover;
                height: 235px;
            }
            label {
                cursor: pointer;
                pointer-events: none;
                position: absolute;
                bottom: 10px;
                left: 10px;
                background-color: #92D400;
                border-radius: 4px;
                color: white;
                font-size: 14px;
                width: max-content;
                text-align: center;
                display: block;
                padding: 0 10px;
            }
        }
        &-bar {
            transition:all 0.3s ease-out;
            display:block;
            background:#F39337;
            height:10px;
            width: 100%;
            max-width: 0;
            position:absolute;
            top:0;
            left:0;
            right:0;
        }
    }
}

@include screen(1280) {
    .thank-you {
        .wrapper {
            flex-direction: row;
        }
        .wp-block-image {
            margin-bottom:60px;
        }
        .wp-block-buttons {
            margin-top:40px;
        }
        .flex {
            margin-bottom: 0px;
        }
    }
}