{% extends "block-base.twig" %}

{% block content %}
<div class="spacer hide-mobile"></div>
<section class="{{blockClasses(block)}}" {{blockSection(block)}} style="--bg:url('/wp-content/themes/estation/blocks/thank-you/bg.png')">
    <div class="container">
        <div class="wrapper">
            <div class="flex">
                <InnerBlocks/>
            </div>
        </div>
    </div>
    {% if fields.include_case_studies %}
    <div class="container">
        <ul class="rl related-list {{fields.post_type}}">
            {% for item in objects %}
                <li class="related-item">
                    {% include ['related-item-feed.twig'] %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</section>
{% endblock %}
