.footer {
  padding: 40px 0px;
  background: #372B72;
}
@media only screen and (min-width: 1280px) {
  .footer .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1280px) {
  .footer .left {
    flex: 0 0 320px;
    max-width: 320px;
  }
}
.footer .left .container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1280px) {
  .footer .left .container {
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.footer .right {
  margin-top: 30px;
}
@media only screen and (min-width: 1280px) {
  .footer .right {
    flex: 0 0 350px;
    max-width: 350px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer .right {
    margin-top: 0px;
  }
}
.footer .right .container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1280px) {
  .footer .right .container {
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}
.footer .right .footer-menu-link {
  color: #0D1320;
  font-weight: 400;
}
@media only screen and (min-width: 1024px) {
  .footer .right .footer-menu-link:hover {
    text-decoration: none;
  }
}
.footer border {
  height: 1px;
  display: block;
  max-width: 100%;
  background: rgb(0, 182, 235);
  margin: 0 30px;
}
@media only screen and (min-width: 360px) {
  .footer border {
    margin: 0 45px;
  }
}
@media only screen and (min-width: 400px) {
  .footer border {
    margin: 0 60px;
  }
}
.footer-cp {
  text-align: left;
  color: white;
}
@media only screen and (min-width: 1280px) {
  .footer-cp {
    text-align: right;
    margin-top: 50px;
  }
}
.footer-cp-inner {
  color: white;
}
.footer-logo {
  flex-grow: 1;
}
@media only screen and (max-width: 600px) {
  .footer-logo {
    max-width: 150px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-logo {
    margin-left: 75px;
  }
}
.footer-logo a {
  display: block;
}
.footer-logo img {
  max-width: 229px;
  display: block;
  width: 100%;
}
.footer-social {
  padding: 0 15px;
}
@media only screen and (min-width: 360px) {
  .footer-social {
    padding: 0 30px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-social {
    padding: 0;
  }
}
.footer-social-list {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
@media only screen and (min-width: 768px) {
  .footer-social-list {
    column-gap: 15px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-social-list {
    column-gap: 5px;
    justify-content: flex-end;
  }
}
.footer-social .social {
  flex: 0 0 30px;
  max-width: 30px;
}
.footer-social .social a {
  transition: all 0.3s ease-out;
  text-decoration: none;
  height: 30px;
  width: 30px;
  display: block;
  border-radius: 50%;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .footer-social .social a {
    height: 25px;
    width: 25px;
  }
}
.footer-social .social a:before {
  font-size: 19px;
  color: #00B6EB;
  font-family: "icomoon";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.footer-social .facebook a:before {
  content: "\e90b";
}
.footer-social .twitter a:before {
  content: "\e909";
}
.footer-social .instagram a:before {
  content: "\e90a";
}
.footer-social .linkedin a:before {
  content: "\e90e";
}
.footer-info {
  padding: 0 30px;
}
@media only screen and (min-width: 360px) {
  .footer-info {
    padding: 0 45px;
  }
}
@media only screen and (min-width: 400px) {
  .footer-info {
    padding: 0 60px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-info {
    padding: 0;
  }
}
.footer-info-item.half {
  flex: 0 0 156px;
  max-width: 156px;
}
.footer-info-item.full {
  flex: 0 0 100%;
}
.footer-info-link {
  color: white;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .footer-info-link {
    font-size: 16px;
    line-height: 24px;
  }
}
.footer-info-link:before {
  font-family: "icomoon";
  color: #00b6eb;
  font-size: 21px;
  vertical-align: bottom;
  margin-right: 16px;
}
.footer-info-link.email:before {
  content: "\e903";
}
.footer-info-link.phone:before {
  content: "\e902";
}
.footer-info-link.address {
  margin: 0;
  padding-left: 38px;
}
.footer-info-link.address:before {
  content: "\e901";
  position: absolute;
  font-size: 30px;
  left: 0px;
  top: 10px;
}
.footer-info-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
}
.footer-menu {
  padding: 0 30px;
}
@media only screen and (min-width: 360px) {
  .footer-menu {
    padding: 0 45px;
  }
}
@media only screen and (min-width: 400px) {
  .footer-menu {
    padding: 0 60px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-menu {
    padding: 0;
  }
}
.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
  margin: 30px 0;
}
@media only screen and (min-width: 360px) {
  .footer-menu-list {
    column-gap: 20px;
  }
}
@media only screen and (min-width: 400px) {
  .footer-menu-list {
    column-gap: 35px;
  }
}
.footer-menu-cp {
  font-size: 14px;
  line-height: 16px;
}
.footer-menu-link {
  transition: all 0.3s ease-out;
  color: #00B6EB;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  letter-spacing: 0.78px;
}
@media only screen and (min-width: 1024px) {
  .footer-menu-link:hover {
    text-decoration: underline;
  }
}
.footer-menu-item:nth-child(odd) {
  flex: 0 0 156px;
  max-width: 156px;
}
.footer-menu-item.cp {
  color: white;
}
.footer .social-container {
  flex: 0 0 160px;
  max-width: 160px;
}
.footer .logo-container {
  flex: 0 0 325px;
  max-width: 325px;
}
@media only screen and (min-width: 1366px) {
  .footer .logo-container {
    flex: 0 0 380px;
    max-width: 380px;
  }
}
.footer .logo-container img {
  width: 283px;
  height: auto;
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
