@import "mixins.scss";


.footer {
    padding: 40px 0px;
    background:#372B72;
    .wrapper {
        @include screen(1280) {
            display:flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .left {
        @include screen(1280) {
            flex:0 0 320px;
            max-width: 320px;
        }
        .container {
            display:flex;
            flex-direction: column;
            @include screen(1280) {
                align-items: center;
                justify-content: space-between;
                flex-direction: row-reverse;
            }
        }
    }
    .right {
        @include screen(1280) {
            flex:0 0 350px;
            max-width: 350px;
        }
        margin-top: 30px;
        @include screen(1280) {
            margin-top: 0px;
        }
        .container {
            display:flex;
            flex-direction: column;
            @include screen(1280) {
                align-items: center;
                justify-content: flex-end;
                flex-direction: row-reverse;
            }
        }
        .footer-menu-link {
            color:#0D1320;
            font-weight: 400;
            &:hover {
                @include screen(1024) {
                    text-decoration:none; 
                }
            }
        }
    }
    border {
        height: 1px;
        display: block;
        max-width: 100%;
        background: rgba(0, 182, 235, 1);
        margin: 0 30px;
        @include screen(360) {
            margin: 0 45px;
        }
        @include screen(400) {
            margin: 0 60px;
        }
    }
    &-cp {
        text-align: left;
        color: white;
        @include screen(1280) {
            text-align: right;
            margin-top: 50px;
        }
        &-inner {
            color:white;
        }
    }
    &-logo {
        flex-grow: 1;
        @include screen(0,600) {
            max-width: 150px;
        }
        @include screen(1024) {
            margin-left: 75px;
        }
        a {
            display: block;
        }
        img {
            max-width: 229px;
            display: block;
            width: 100%;
        }
    }
    &-social {
        padding: 0 15px;
        @include screen(360) {
            padding: 0 30px;
        }
        @include screen(1280) {
            padding: 0;
        }
        &-list {
            display:flex;
            align-items: center;
            column-gap: 10px;
            @include screen(768) {
                column-gap: 15px;
            }
            @include screen(1280) {
                column-gap: 5px;
                justify-content: flex-end;
            }
        }
        .social {
            flex: 0 0 30px;
            max-width: 30px;
            a {
                transition: all 0.3s ease-out;
                text-decoration: none;
                height:30px;
                width: 30px;
                display:block;
                border-radius: 50%;
                position:relative;
                @include screen(1280) {
                    height:25px;
                    width: 25px;
                }
                &:before {
                    font-size: 19px;
                    color:#00B6EB;
                    font-family:"icomoon";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .facebook a {
            &:before {
                content: "\e90b";
            }
        }
        .twitter a {
            &:before {
                content: "\e909";
            }
        }
        .instagram a {
            &:before {
                content: "\e90a";
            }
        }
        .linkedin a {
            &:before {
                content: "\e90e";
            }
        }
    }
    &-info {
        padding: 0 30px;
        @include screen(360) {
            padding: 0 45px;
        }
        @include screen(400) {
            padding: 0 60px;
        }
        @include screen(1280) {
            padding: 0;
        }
        &-item {
            &.half {
                flex: 0 0 156px;
                max-width: 156px;
            }
            &.full {
                flex:0 0 100%;
            }
        }
        &-link {
            color:white;
            font-size: 14px;
            line-height: 21px;
            text-decoration: none;
            @include screen(1280) {
                font-size: 16px;
                line-height: 24px;
            }
            position:relative;
            &:before {
                font-family: "icomoon";
                color:#00b6eb;
                font-size: 21px;
                vertical-align: bottom;
                margin-right: 16px;
            }
            &.email {
                &:before {
                    content: "\e903";
                }
            }
            &.phone {
                &:before {
                    content: "\e902";
                }
            }
            &.address {
                margin: 0;
                padding-left: 38px;
                &:before {
                    content: "\e901";
                    position: absolute;
                    font-size: 30px;
                    left: 0px;
                    top: 10px;
                }
            }
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            row-gap: 20px;
            justify-content: space-between;
        }
    }
    &-menu {
        padding: 0 30px;
        @include screen(360) {
            padding: 0 45px;
        }
        @include screen(400) {
            padding: 0 60px;
        }
        @include screen(1280) {
            padding: 0;
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            row-gap: 15px;
            column-gap: 15px;
            margin: 30px 0;
            @include screen(360) {
                column-gap: 20px;
            }
            @include screen(400) {
                column-gap: 35px;
            }
        }
        &-cp {
            font-size: 14px;
            line-height: 16px;
        }
        &-link {
            transition: all 0.3s ease-out;
            color:#00B6EB;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            text-decoration: none;
            letter-spacing: 0.78px;
            &:hover {
                @include screen(1024) {
                    text-decoration:underline; 
                }
            }
        }
        &-item {
            &:nth-child(odd) {
                flex:0 0 156px;
                max-width: 156px;
            }
            &.cp {
                color: white;
            }
        }
    }
    .social-container {
        flex:0 0 160px;
        max-width: 160px;
    }
    .logo-container {
        flex:0 0 325px;
        max-width:325px;
        @include screen(1366) {
            flex:0 0 380px;
            max-width:380px;
        }
        img {
            width: 283px;
            height:auto;
            max-width: 100%;
        }
    }
}