{% extends "block-base.twig" %}

{% block content %}
<footer class="footer {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container wrapper">
        <div class="logo-container hide-mobile">
            <a href="#">
                <img width="176" height="112" src="https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/logo.png" alt="logo">
            </a>
        </div>
        <div class="left">
            <div class="container">
                <div class="footer-social hide-desktop">
                    <list class="footer-social-list">
                        <item class="footer-logo hide-desktop">
                            <a href="#">
                                <img width="176" height="112" src="https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/logo.png" alt="logo">
                            </a>
                        </item>
                        <item class="social linkedin"><a href="https://www.linkedin.com/company/e-station-evcharging/?originalSubdomain=ae" target="_blank"></a></item>
                        <item class="social instagram"><a href="https://www.instagram.com/estation.ie/?hl=en" target="_blank"></a></item>
                        <item class="social twitter"><a href="https://twitter.com/estation_ie?lang=en" target="_blank"></a></item>
                        <item class="social facebook"><a href="https://www.facebook.com/estationie/" target="_blank"></a></item>
                    </list>
                </div>
                <div class="footer-menu">
                    <list class="footer-menu-list">
                        {% for item in footer_primary_menu.get_items %}
                        <item class="footer-menu-item">
                            <a class="footer-menu-link" href="{{item.url}}">{{item.title}}</a>
                        </item>
                        {% endfor %}
                        <item class="footer-menu-item cp hide-desktop">
                            <div class="footer-cp">Copyright © {{ 'now' | date('Y') }}</div
                        </item>
                    </list>
                </div>
            </div>
        </div>
        <border class="hide-desktop"></border>
        <div class="right">
            <div class="container">
                <div class="footer-info">
                    <list class="footer-info-list">
                        <item class="footer-info-item half">
                            <a class="footer-info-link email" href="mailto:hello@estation.ie">hello@estation.ie</a>
                        </item>
                        <item class="footer-info-item">
                            <a class="footer-info-link phone" href="tel:1800911750">1800 911 750</a>
                        </item>
                        <item class="footer-info-item full">
                            <p class="footer-info-link address">Unit 2A, Ballinteer Business Centre, Ballinteer Avenue, D16 HD50</p>
                        </item>
                    </list>
                </div>
            </div>
        </div>
        <div class="social-container hide-mobile">
            <div class="container">
                <div class="footer-social">
                    <list class="footer-social-list">
                        <item class="social linkedin"><a href="https://www.linkedin.com/company/e-station-evcharging/?originalSubdomain=ae" target="_blank"></a></item>
                        <item class="social instagram"><a href="https://www.instagram.com/estation.ie/?hl=en" target="_blank"></a></item>
                        <item class="social twitter"><a href="https://twitter.com/estation_ie?lang=en" target="_blank"></a></item>
                        <item class="social facebook"><a href="https://www.facebook.com/estationie/" target="_blank"></a></item>
                    </list>
                </div>
                <div class="footer-cp">
                    <div class="footer-cp-inner">Copyright © {{ 'now' | date('Y') }}</div
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    let elementCallback = function (entries, observer) {
        entries.forEach(entry => {
            if(entry.isIntersecting) {
                entry.target.style.opacity = "100%";
                entry.target.style.transform = "translateZ(0)";
            }
        });
    };

    let elementObserver = new IntersectionObserver(elementCallback, { rootMargin: "-20% 0% -1% 0%", threshold: 0 } );

    document.querySelectorAll('.fade-up').forEach(function(e) {
        elementObserver.observe(e);
    });
</script>
{% endblock %}
