@import "mixins.scss";


.home-hero {
    .top {
        background: linear-gradient(180deg,#00b6eb 0%,#372b72 100%) 0% 0% no-repeat padding-box;
        position: relative;
        padding: 25px 30px;
        min-height: 375px;
        @include screen(0,1023) {
            display: flex;
            align-items: center;
        }
        &:before {
            content:"";
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom: 0;
            background:url('/wp-content/themes/estation/blocks/home-hero/bg.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top;
            @include screen(768) {
                background:url('/wp-content/themes/estation/blocks/home-hero/bg-desktop.svg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: left;
            }
        }
    }
    @include headings() {
        color:white;
    }
    p {
        color:white;
    }
    .container-sm {
        position: relative;
        z-index: 1;
    }
    .wrapper {
        @include screen(768) {
            display:flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
        }
        @include screen(1024) {
            gap: 50px;
        }
    }
    .media {
        @include screen(0,1023) {
            position: absolute;
            top: -67px;
            right: -20px;
        }
        margin-bottom: 25px;
        @include screen(768) {
            margin-bottom: 0px;
        }
        @include screen(1024) {
            flex:0 0 35%;
            max-width: 425px;
        }
        svg {
            width: 275px;
            height: auto;
            display: block;
            @include screen(1024) {
                width: 100%;
                height: auto;
            }
        }
    }
    .flex-content {
        position: relative;
        z-index: 2;
        @include screen(1024) {
            flex:0 1 calc(65% - 25px);
            max-width: calc(65% - 25px);
            padding-bottom: 150px;
        }
    }
    .background {
        position:relative;
        padding: 120px 30px;
        @include screen(1280) {
            padding-bottom:350px;
        }
        &:before {
            content:"";
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background:var(--bg);

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }
        &-inner {
            border-radius: 5px;
            background:white;
            padding: 45px;
            @include screen(1280) {
                padding: 70px;
                max-width: 600px;
                margin-top:-300px;
            }
            @include headings() {
                color:rgba(0, 182, 235, 1);
            }
            p {
                color:black;
            }
        }
    }
}