.home-hero .top {
  background: linear-gradient(180deg, #00b6eb 0%, #372b72 100%) 0% 0% no-repeat padding-box;
  position: relative;
  padding: 25px 30px;
  min-height: 375px;
}
@media only screen and (max-width: 1023px) {
  .home-hero .top {
    display: flex;
    align-items: center;
  }
}
.home-hero .top:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/wp-content/themes/estation/blocks/home-hero/bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
@media only screen and (min-width: 768px) {
  .home-hero .top:before {
    background: url("/wp-content/themes/estation/blocks/home-hero/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
}
.home-hero h1,
.home-hero h2,
.home-hero h3,
.home-hero h4,
.home-hero h5,
.home-hero h6 {
  color: white;
}
.home-hero p {
  color: white;
}
.home-hero .container-sm {
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .home-hero .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .home-hero .wrapper {
    gap: 50px;
  }
}
.home-hero .media {
  margin-bottom: 25px;
}
@media only screen and (max-width: 1023px) {
  .home-hero .media {
    position: absolute;
    top: -67px;
    right: -20px;
  }
}
@media only screen and (min-width: 768px) {
  .home-hero .media {
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1024px) {
  .home-hero .media {
    flex: 0 0 35%;
    max-width: 425px;
  }
}
.home-hero .media svg {
  width: 275px;
  height: auto;
  display: block;
}
@media only screen and (min-width: 1024px) {
  .home-hero .media svg {
    width: 100%;
    height: auto;
  }
}
.home-hero .flex-content {
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 1024px) {
  .home-hero .flex-content {
    flex: 0 1 calc(65% - 25px);
    max-width: calc(65% - 25px);
    padding-bottom: 150px;
  }
}
.home-hero .background {
  position: relative;
  padding: 120px 30px;
}
@media only screen and (min-width: 1280px) {
  .home-hero .background {
    padding-bottom: 350px;
  }
}
.home-hero .background:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-hero .background-inner {
  border-radius: 5px;
  background: white;
  padding: 45px;
}
@media only screen and (min-width: 1280px) {
  .home-hero .background-inner {
    padding: 70px;
    max-width: 600px;
    margin-top: -300px;
  }
}
.home-hero .background-inner h1,
.home-hero .background-inner h2,
.home-hero .background-inner h3,
.home-hero .background-inner h4,
.home-hero .background-inner h5,
.home-hero .background-inner h6 {
  color: rgb(0, 182, 235);
}
.home-hero .background-inner p {
  color: black;
}

/*# sourceMappingURL=style.css.map */
