@import "mixins.scss";

.single-post {
    .hero {
        padding: 40px 60px 0px;
        @include screen(1280) {
            padding: 80px 60px 0px;
        }
        .inner {
        }
        &-info {
            span {
                color:rgba(189, 214, 49, 1);
            }
        }
        h1 {
            margin-top: 0;
            @include screen(1024) {
                margin-top: 20px;
            }
        }
    }
    .container {
        max-width: 800px;
    }
    .post-content {
        padding: 10px 50px 50px;
    }
    .post-content {
        @include headings() {
            margin: 1em 0;
        }
        ul,
        ol {
            padding-left: 20px;
            margin: 20px 0;
        }
    
        ul {
            list-style: disc;
        }
    
        ol {
            list-style: decimal;
            li {
                &::marker {
                    font-weight: 700;
                    color:#372b72;
                }
            }
        }
        li {
            line-height: 1.5;
            font-weight: 500;
            &::marker {
                color:#372b72;
            }
        }
        em {
            font-style: italic;
        }
        a {
            text-decoration: underline;
            color: #68a2d7;
        }
    }
}