.single-post .hero {
  padding: 40px 60px 0px;
}
@media only screen and (min-width: 1280px) {
  .single-post .hero {
    padding: 80px 60px 0px;
  }
}
.single-post .hero-info span {
  color: rgb(189, 214, 49);
}
.single-post .hero h1 {
  margin-top: 0;
}
@media only screen and (min-width: 1024px) {
  .single-post .hero h1 {
    margin-top: 20px;
  }
}
.single-post .container {
  max-width: 800px;
}
.single-post .post-content {
  padding: 10px 50px 50px;
}
.single-post .post-content h1,
.single-post .post-content h2,
.single-post .post-content h3,
.single-post .post-content h4,
.single-post .post-content h5,
.single-post .post-content h6 {
  margin: 1em 0;
}
.single-post .post-content ul,
.single-post .post-content ol {
  padding-left: 20px;
  margin: 20px 0;
}
.single-post .post-content ul {
  list-style: disc;
}
.single-post .post-content ol {
  list-style: decimal;
}
.single-post .post-content ol li::marker {
  font-weight: 700;
  color: #372b72;
}
.single-post .post-content li {
  line-height: 1.5;
  font-weight: 500;
}
.single-post .post-content li::marker {
  color: #372b72;
}
.single-post .post-content em {
  font-style: italic;
}
.single-post .post-content a {
  text-decoration: underline;
  color: #68a2d7;
}

/*# sourceMappingURL=style.css.map */
