{% extends "block-base.twig" %}

{% block content %}
{% set images = fn('get_field', 'images', post.id) %}
<section class="{{blockClasses(block)}}">
    <div class="hero">
        <div class="container">
            <div class="inner">
                <div class="hero-info"><span>Case Study </span>{{post.date('d.m.Y') }}</div>
                <h1>{{post.title}}</h1>
            </div>
        </div>
    </div>
    <div class="post-content">
        <div class="container short">
            <div class="wrapper">
                <div class="flex">
                    <InnerBlocks/>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

