.flex-full-gradient {
  padding: 35px;
  background: linear-gradient(360deg, #00b6eb 0%, #372b72 100%) 0% 0% no-repeat padding-box;
}
@media only screen and (min-width: 1280px) {
  .flex-full-gradient {
    padding-top: 75px;
    padding-bottom: 35px;
  }
}
@media only screen and (min-width: 1366px) {
  .flex-full-gradient {
    padding: 100px 0;
  }
}
.flex-full-gradient h1,
.flex-full-gradient h2,
.flex-full-gradient h3,
.flex-full-gradient h4,
.flex-full-gradient h5,
.flex-full-gradient h6 {
  color: white;
}
.flex-full-gradient p {
  color: white;
}
.flex-full-gradient .flex {
  margin-bottom: 25px;
}
.flex-full-gradient .wp-block-image {
  margin-bottom: 30px;
}
.flex-full-gradient .wp-block-buttons {
  margin-top: 30px;
}
.flex-full-gradient img {
  max-width: 100%;
  height: auto;
}
.flex-full-gradient.is-style-cs {
  padding-bottom: 250px;
}
@media only screen and (min-width: 1280px) {
  .flex-full-gradient.is-style-cs {
    padding-bottom: 200px;
  }
}

@media only screen and (min-width: 1280px) {
  .flex-full-gradient .wrapper {
    flex-direction: row;
  }
  .flex-full-gradient .wp-block-image {
    margin-bottom: 60px;
  }
  .flex-full-gradient .wp-block-buttons {
    margin-top: 40px;
  }
  .flex-full-gradient .flex {
    margin-bottom: 0px;
  }
  .flex-full-gradient ul {
    max-width: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
