@import "mixins.scss";

.flex-full-gradient {
    padding: 35px;
    background: linear-gradient(360deg,#00b6eb 0%,#372b72 100%) 0% 0% no-repeat padding-box;
    @include screen(1280) {
        padding-top: 75px;
        padding-bottom: 35px;
    }
    @include screen(1366) {
        padding: 100px 0;
    }
    @include headings() {
        color:white;
    }
    p {
        color:white;
    }
    .flex {
        margin-bottom: 25px;
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    &.is-style-cs {
        padding-bottom: 250px;
        @include screen(1280) {
            padding-bottom: 200px;
        }
    }
}

@include screen(1280) {
    .flex-full-gradient {
        .wrapper {
            flex-direction: row;
        }
        .wp-block-image {
            margin-bottom:60px;
        }
        .wp-block-buttons {
            margin-top:40px;
        }
        .flex {
            margin-bottom: 0px;
        }
        ul {
            max-width: 450px;
        }
    }
}