@import "mixins.scss";

.content-boxes-five {
    padding: 20px 35px;
    @include screen(1024) {
        padding: 50px 0;
    }
    .flex {
        margin-bottom: 25px;
        max-width: 1000px;
        margin: 0 auto 25px;
        @include screen(1280) {
            margin: 0 auto 50px;
        }
        p {
            color:rgba(0, 0, 0, 0.9);
            max-width: 1024px;
            margin: auto;
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .card {
        max-width: 600px;
        padding: 20px 30px;
        display:flex;
        gap: 25px;
        @include screen(780) {
            display:block;
            flex:0 0 50%;
            max-width: 325px;
        }
        @include screen(1024) {
            flex:0 0 30%;
            max-width: 400px;
            padding: 0 50px;
        }
        &-head {
            display: flex;
            align-items: flex-start;
            gap: 10px;
        }
        &-title {
            h3 {
                color:rgba(48, 75, 39, 1);
            }
        }
        &-image {
            text-align: center;
            margin-bottom: 25px;
            flex: 0 0 60px;
            img {
                height:auto;
                min-width: 60px;
                object-fit: contain;
                @include screen(1024) {
                    min-height: 78px;
                    min-width: 78px;
                }
            }
        }
        &-content {
            * {
                color: rgba(0, 0, 0, 0.9);
                font-weight: 400;
            }
        }
        &-subtitle {
            h6 {
                @include screen(1280) {
                    font-size: 22px;
                }
            }
        }
        &-button {
            margin-top: 25px;
            a {
                text-decoration: none;
                color:#BDD631;
            }
        }
        &:not(:last-child) {
            @include screen(1280) {
                border-right:1px solid rgba(55, 43, 114, 0.1);
            }
        }
    }
    .cards {
        margin: 35px 0;
        display: flex;
        flex-direction: column;
        @include screen(780) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        @include screen(1024) {
            display: flex;
            align-items: stretch;
            justify-content: center;
            margin: 70px 0;
            row-gap: 70px;
        }
    }
    .wrapper {
        box-shadow: 10px 25px 40px rgb(0 0 0 / 4%);
        border-radius: 5px;
        padding: 35px 0;
        @include screen(1280) {
            padding: 75px 0;
        }
    }
    .btn {
        margin: auto;
    }
}