.content-boxes-five {
  padding: 20px 35px;
}
@media only screen and (min-width: 1024px) {
  .content-boxes-five {
    padding: 50px 0;
  }
}
.content-boxes-five .flex {
  margin-bottom: 25px;
  max-width: 1000px;
  margin: 0 auto 25px;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-five .flex {
    margin: 0 auto 50px;
  }
}
.content-boxes-five .flex p {
  color: rgba(0, 0, 0, 0.9);
  max-width: 1024px;
  margin: auto;
}
.content-boxes-five .wp-block-image {
  margin-bottom: 30px;
}
.content-boxes-five .wp-block-buttons {
  margin-top: 30px;
}
.content-boxes-five img {
  max-width: 100%;
  height: auto;
}
.content-boxes-five .card {
  max-width: 600px;
  padding: 20px 30px;
  display: flex;
  gap: 25px;
}
@media only screen and (min-width: 780px) {
  .content-boxes-five .card {
    display: block;
    flex: 0 0 50%;
    max-width: 325px;
  }
}
@media only screen and (min-width: 1024px) {
  .content-boxes-five .card {
    flex: 0 0 30%;
    max-width: 400px;
    padding: 0 50px;
  }
}
.content-boxes-five .card-head {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.content-boxes-five .card-title h3 {
  color: rgb(48, 75, 39);
}
.content-boxes-five .card-image {
  text-align: center;
  margin-bottom: 25px;
  flex: 0 0 60px;
}
.content-boxes-five .card-image img {
  height: auto;
  min-width: 60px;
  object-fit: contain;
}
@media only screen and (min-width: 1024px) {
  .content-boxes-five .card-image img {
    min-height: 78px;
    min-width: 78px;
  }
}
.content-boxes-five .card-content * {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-five .card-subtitle h6 {
    font-size: 22px;
  }
}
.content-boxes-five .card-button {
  margin-top: 25px;
}
.content-boxes-five .card-button a {
  text-decoration: none;
  color: #BDD631;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-five .card:not(:last-child) {
    border-right: 1px solid rgba(55, 43, 114, 0.1);
  }
}
.content-boxes-five .cards {
  margin: 35px 0;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 780px) {
  .content-boxes-five .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 1024px) {
  .content-boxes-five .cards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 70px 0;
    row-gap: 70px;
  }
}
.content-boxes-five .wrapper {
  box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  padding: 35px 0;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-five .wrapper {
    padding: 75px 0;
  }
}
.content-boxes-five .btn {
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
