{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="flex">
                <InnerBlocks/>
            </div>
            <div class="cards">
                {% for card in fields.cards.items %}
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h3>{{card.title}}</h3>
                            </div>
                            <div class="card-content">
                                {{card.content}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="button">
                <div class="container-sm">
                    <div class="theme-buttons">
                    {% if fields.cards.button.title|length > 1 %}
                        <a class="btn" href="{{fields.cards.button.url}}" target="{{fields.cards.button.target}}">
                            <span>{{fields.cards.button.title}}</span>
                        </a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
