{% extends "block-base.twig" %}

{% block content %}
	<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
		<div class="container-sm">
			<div class="wrapper">
				<list class="cards blog">
					{% for item in objects %}
						<item class="card">{% include ['related-item-feed.twig'] %}</item>
					{% endfor %}
				</list>
			</div>
		</div>
	</section>
{% endblock %}

