@import "mixins.scss";

.image-text-bg-two {
    @include screen(1024) {
        padding: 80px 0;
    }
    @include screen(1280) {
        padding-top: 100px;
    }
    .wrapper {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        @include screen(1024) {
            flex-direction: row;
            gap: 50px;
        }
        @include screen(1536) {
            gap: 100px;
        }
    }
    .flex {
        position:relative;
        flex:0 0 48.5%;
        margin-bottom: 25px;
        padding: 0 40px;
        @include screen(1024) {
            padding: 0;
            margin-bottom: 0px;
        }
    }
    ul {
        @include screen(1024) {
            column-count: 2;
        }
    }
    .media {
        padding: 0 36px;
        flex:0 0 48.5%;
        position: relative;
        margin: 25px 0;
        @include screen(768) {
            margin: 50px 0;
        }
        @include screen(1024) {
            padding:0;
            margin:0;
        }
        @include screen(1280) {
            max-width: 400px;
        }
        &:before {
            content:"";
            position:absolute;
            top:-25px;
            left:-25px;
            right:-25px; 
            bottom:-25px;
            background:url('/wp-content/themes/estation/blocks/image-text-bg-two/bg.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index:-1;
            @include screen(1280) {
                top: -65px;
                left: -65px;
                right: -65px;
                bottom: -65px;
            }
        }
    }
    img {
        max-width: 300px;
        border: 16px solid white;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        height: auto;
        border-radius: 50%;
        @include screen(1280) {
            max-width: 400px;
            border: 24px solid white;
        }
    }
    &.is-style-reverse {
        .wrapper {
            flex-direction: column;
            @include screen(1024) {
                flex-direction: row-reverse;
            }
        }
    }
}