@media only screen and (min-width: 1024px) {
  .image-text-bg-two {
    padding: 80px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .image-text-bg-two {
    padding-top: 100px;
  }
}
.image-text-bg-two .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .image-text-bg-two .wrapper {
    flex-direction: row;
    gap: 50px;
  }
}
@media only screen and (min-width: 1536px) {
  .image-text-bg-two .wrapper {
    gap: 100px;
  }
}
.image-text-bg-two .flex {
  position: relative;
  flex: 0 0 48.5%;
  margin-bottom: 25px;
  padding: 0 40px;
}
@media only screen and (min-width: 1024px) {
  .image-text-bg-two .flex {
    padding: 0;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1024px) {
  .image-text-bg-two ul {
    column-count: 2;
  }
}
.image-text-bg-two .media {
  padding: 0 36px;
  flex: 0 0 48.5%;
  position: relative;
  margin: 25px 0;
}
@media only screen and (min-width: 768px) {
  .image-text-bg-two .media {
    margin: 50px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .image-text-bg-two .media {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .image-text-bg-two .media {
    max-width: 400px;
  }
}
.image-text-bg-two .media:before {
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  right: -25px;
  bottom: -25px;
  background: url("/wp-content/themes/estation/blocks/image-text-bg-two/bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}
@media only screen and (min-width: 1280px) {
  .image-text-bg-two .media:before {
    top: -65px;
    left: -65px;
    right: -65px;
    bottom: -65px;
  }
}
.image-text-bg-two img {
  max-width: 300px;
  border: 16px solid white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  height: auto;
  border-radius: 50%;
}
@media only screen and (min-width: 1280px) {
  .image-text-bg-two img {
    max-width: 400px;
    border: 24px solid white;
  }
}
.image-text-bg-two.is-style-reverse .wrapper {
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .image-text-bg-two.is-style-reverse .wrapper {
    flex-direction: row-reverse;
  }
}

/*# sourceMappingURL=style.css.map */
