@use "mixins" as *;


.theme-buttons {
    margin-top: 30px;
    &.is-style-light {
        .btn {
            background:rgba(0, 47, 61, 1);
            border:1px solid rgba(0, 47, 61, 1);
            &:hover {
                border:1px solid rgba(53, 113, 128, 1);
                background:rgba(17, 115, 130, 1);
            }
        }
    }
    &.is-style-simple {
        .btn {
            background: transparent;
            color: rgba(211, 121, 29, 1);
            border: none;
            padding: 0;
            padding-right: 25px;
            text-align: left;
            min-width: unset;
            span {
                position:relative;
                font-size: 12px;
                @include screen(1280) {
                    font-size: 16px;
                }
                &:after {
                    content: "\e902";
                    font-family: "icomoon";
                    color:rgba(211, 121, 29, 1);
                    font-weight: 600;
                    margin-left: 7px;
                    top: 2px;
                    position: absolute;
                    font-size: 11px;
                    @include screen(1280) {
                        font-size: 14px;
                    }
                }
            }
            &:hover {
                border: none;
                background: transparent;
                box-shadow: none;
            }
        }
    }
    &.is-style-white {
        .btn {
            background:transparent;
            border:1px solid white;
            font-weight: 400;
            &:before {
                content:unset;
            }
            span {
                color:white;;
                @include screen(1280) {
                    font-size: 16px;
                }
            }
            &:hover {
                background:rgba(189, 214, 49, 1);;
                span {
                    color:white;
                }
            }
        }
    }
    &.is-style-transparent {
        .btn {
            background:transparent;
            border:1px solid rgba(189, 214, 49, 1);
            font-weight: 400;
            &:before {
                content:unset;
            }
            span {
                color:rgba(189, 214, 49, 1);
                @include screen(1280) {
                    font-size: 16px;
                }
            }
            &:hover {
                background:rgba(189, 214, 49, 1);;
                span {
                    color:white;
                }
            }
        }
    }
}

.btn {
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease-out;
    background: linear-gradient(270deg, rgba(238,48,87,1) 15%, rgba(55,43,114,1) 79%);
    color: #fff;
    padding: 17px 20px;
    font-size: 14px;
    letter-spacing: 0.78px;
    font-weight: 600;
    position: relative;
    min-width: 180px;
    border-radius: 0;
    overflow: hidden;
    width: fit-content;
    border:none;
    border-radius: 5px;
    line-height: 1;
    @include screen(1280) {
        font-size: 18px;
        letter-spacing: 1px;
        min-width: 300px;
    }
    span {
        position: relative;
        z-index: 2;
    }
    &:before {
        transition: all .3s ease-out;
        position:absolute;
        content:"";
        top:0;
        bottom:0;
        left:0;
        right:0;
        opacity:0;
        background: linear-gradient(270deg, rgba(0,182,235,1) 15%, rgba(55,43,114,1) 79%);
        z-index: 1;
    }
    &:hover {
        &:before {
            opacity:1;
        }
    }
}