@use "mixins" as *;

@import "/home/web/www/html/wp-content/themes/estation/node_modules/rfs/scss.scss";


// @font-face {
//   font-family: "icomoon";
//   src: url('/wp-content/themes/estation/assets/fonts/icomoon.ttf') format("truetype");
//   src: url('/wp-content/themes/estation/assets/fonts/icomoon.woff') format("woff");
//   src: url('/wp-content/themes/estation/assets/fonts/icomoon.woff2') format("woff2");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }


/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/wp-content/themes/estation/assets/fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/wp-content/themes/estation/assets/fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/wp-content/themes/estation/assets/fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/wp-content/themes/estation/assets/fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  @include screen(1280) {
    font-size: 16px;
  }
}

p,
li {
  margin: 1em 0;
  line-height: 21px;
  font-size: 14px;
  @include screen(1280) {
    font-size: 16px;
    line-height: 25px;
  }

}

@include headings() {
  margin: 0.4em 0;
  font-weight: 600;
  line-height: 1.25;
}

h {
  &1 {
    @include font-size(3.4rem);
    color:#372B72;
  }
  &2 {
    @include font-size(3rem);
    color:#00b6eb;
  }
  &3 {
    @include font-size(1.5rem);
    color:#EE3057;
  }
  &4 {
    @include font-size(1.25rem);
  }
  &5 {
    @include font-size(1.15rem);
  }
  &6 {
    @include font-size(1.05rem);
  }
}

strong {
  font-weight: 600;
}

.has-text-align-center {
  text-align: center;
}

ul {
  li {
    &::marker {
      color:#372b72;
    }
  }
}

ol {
  li {
    &::marker {
      font-weight: 700;
      color:#372b72;
    }
  }
}

a {
  color: #00b6eb;
  text-decoration: none;
}