.hero-one {
  padding: 35px 0;
  background: white;
  position: relative;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
  z-index: 2;
}
.hero-one:before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: url(/wp-content/themes/estation/blocks/hero-one/bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
@media only screen and (min-width: 1024px) {
  .hero-one:before {
    background: url(/wp-content/themes/estation/blocks/hero-one/bg.svg);
    background-repeat: no-repeat;
    background-position: right;
  }
}
.hero-one .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero-one .flex {
  flex: 0 0 48.5%;
  max-width: 590px;
  padding: 0 50px;
}
@media only screen and (min-width: 768px) {
  .hero-one .flex {
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .hero-one .flex {
    padding: 0;
  }
}
.hero-one .media {
  padding: 30px;
  flex: 0 0 48.5%;
  max-width: 695px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .hero-one .media {
    padding: 0px;
    margin-top: 25px;
  }
}
@media only screen and (min-width: 1366px) {
  .hero-one .media {
    margin-top: 50px;
  }
}
.hero-one .wp-block-image {
  margin-bottom: 30px;
}
.hero-one .wp-block-buttons {
  margin-top: 30px;
}
.hero-one img {
  max-width: 100%;
  height: auto;
  z-index: 2;
  position: relative;
}
.hero-one h5 {
  color: #1F7A8C;
}

@media only screen and (min-width: 1280px) {
  .hero-one {
    padding: 0;
    padding-bottom: 50px;
  }
  .hero-one .wrapper {
    flex-direction: row;
  }
  .hero-one .wp-block-buttons {
    margin-top: 40px;
  }
  .hero-one .flex {
    margin-bottom: 0px;
  }
  .hero-one ul {
    max-width: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
