@import "mixins.scss";

.hero-one {
    padding: 35px 0;
    background: white;
    position:relative;
    box-shadow: 0px 6px 12px rgb(0 0 0 / 16%);
    z-index: 2;
    &:before {
        content:"";
        left:0;
        right:0;
        top:0;
        bottom:0;
        position:absolute;
        background: url(/wp-content/themes/estation/blocks/hero-one/bg-mobile.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size:contain;
        @include screen(1024) {
            background: url(/wp-content/themes/estation/blocks/hero-one/bg.svg);
            background-repeat: no-repeat;
            background-position: right;
        }
    }
    .wrapper {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .flex {
        flex:0 0 48.5%;
        max-width: 590px;
        padding: 0 50px;
        @include screen(768) {
            margin-bottom: 25px;
        }
        @include screen(1024) {
            padding: 0;
        }
    }
    .media {
        padding: 30px;
        flex:0 0 48.5%;
        max-width: 695px;
        position: relative;
        @include screen(768) {
            padding: 0px;
            margin-top: 25px;
        }
        @include screen(1366) {
            margin-top: 50px;
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
        z-index:2;
        position: relative;
    }
    h5 {
        color:#1F7A8C;
    }
}

@include screen(1280) {
    .hero-one {
        padding: 0;
        padding-bottom: 50px;
        .wrapper {
            flex-direction: row;
        }
        .wp-block-buttons {
            margin-top:40px;
        }
        .flex {
            margin-bottom: 0px;
        }
        ul {
            max-width: 450px;
        }
    }
}