{% extends "block-base.twig" %}

{% block content %}
<section class="{% if fields.rounded_edges %}rounded-edges {% endif %}{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container-sm">
        <div class="wrapper">
            <div class="flex">
                <InnerBlocks/>
            </div>
            <div class="media">
                {{imageElement(fields.content.image)}}
            </div>
        </div>
    </div>
</section>
{% endblock %}
