.flex-box {
  padding: 35px;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .flex-box {
    padding-top: 75px;
    padding-bottom: 35px;
  }
}
@media only screen and (min-width: 1366px) {
  .flex-box {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}
.flex-box:before {
  content: "";
  position: absolute;
  top: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/wp-content/themes/estation/blocks/flex-box/bg-one.png");
}
@media only screen and (min-width: 1280px) {
  .flex-box:before {
    top: 150px;
  }
}
.flex-box .flex {
  margin-bottom: 25px;
}
.flex-box .wrapper {
  box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  background: white;
  padding: 30px;
  margin-top: -75px;
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
}
@media only screen and (min-width: 1280px) {
  .flex-box .wrapper {
    padding: 80px;
    margin-top: -150px;
  }
}
.flex-box .wp-block-image {
  margin-bottom: 30px;
}
.flex-box .wp-block-buttons {
  margin-top: 30px;
}
.flex-box.is-style-negative {
  padding-top: 0;
}
@media only screen and (min-width: 1280px) {
  .flex-box.is-style-negative .wrapper {
    margin-top: -150px;
    position: relative;
    z-index: 2;
  }
}

@media only screen and (min-width: 1280px) {
  .flex-full .wrapper {
    flex-direction: row;
  }
  .flex-full .wp-block-image {
    margin-bottom: 60px;
  }
  .flex-full .wp-block-buttons {
    margin-top: 40px;
  }
  .flex-full .flex {
    margin-bottom: 0px;
  }
  .flex-full ul {
    max-width: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
