@import "mixins.scss";

.flex-box {
    padding: 35px;
    position:relative;
    @include screen(1280) {
        padding-top: 75px;
        padding-bottom: 35px;
    }
    @include screen(1366) {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    &:before {
        content:"";
        position:absolute;
        top:75px;
        bottom:0;
        left:0;
        right:0;
        background:url('/wp-content/themes/estation/blocks/flex-box/bg-one.png');
        @include screen(1280) {
            top:150px;
        }
    }
    .flex {
        margin-bottom: 25px;
    }
    .wrapper {
        box-shadow: 10px 25px 40px rgb(0 0 0 / 4%);
        border-radius: 5px;
        background: white;
        padding: 30px;
        margin-top: -75px;
        position: relative;
        z-index: 2;
        margin-bottom: 50px;
        @include screen(1280) {
            padding: 80px;
            margin-top: -150px;
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    &.is-style-negative {
        padding-top:0;
        .wrapper {
            @include screen(1280) {
                margin-top: -150px;
                position: relative;
                z-index: 2;
            }
        }
    }
}

@include screen(1280) {
    .flex-full {
        .wrapper {
            flex-direction: row;
        }
        .wp-block-image {
            margin-bottom:60px;
        }
        .wp-block-buttons {
            margin-top:40px;
        }
        .flex {
            margin-bottom: 0px;
        }
        ul {
            max-width: 450px;
        }
    }
}