.hero-two {
  padding: 35px 0;
  background: white;
  position: relative;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
  z-index: 2;
}
@media only screen and (min-width: 1280px) {
  .hero-two {
    padding: 50px 0;
  }
}
.hero-two:before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: url("/wp-content/themes/estation/blocks/hero-two/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
@media only screen and (min-width: 1024px) {
  .hero-two:before {
    background: url("/wp-content/themes/estation/blocks/hero-two/bg.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
}
.hero-two .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.hero-two .flex {
  flex: 0 0 48.5%;
  max-width: 590px;
  padding: 0 50px;
}
@media only screen and (min-width: 768px) {
  .hero-two .flex {
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-two .flex {
    padding: 0;
    padding-top: 100px;
  }
}
.hero-two .media {
  padding: 30px;
  flex: 0 0 48.5%;
  max-width: 695px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .hero-two .media {
    padding: 0px;
    margin-top: 0px;
  }
}
.hero-two .wp-block-image {
  margin-bottom: 30px;
}
.hero-two .wp-block-buttons {
  margin-top: 30px;
}
.hero-two img {
  max-width: 100%;
  height: auto;
  z-index: 2;
  position: relative;
}
.hero-two h5 {
  color: #1F7A8C;
}
.hero-two.is-style-frame .media img {
  border: 20px solid white;
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
@media only screen and (min-width: 1280px) {
  .hero-two.is-style-frame .media img {
    border: 41px solid white;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-two .wrapper {
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
