.spacer {
  height: 143px;
  background: #28334d;
}

.theme-not-found {
  background: #28334D;
  position: relative;
  padding: 75px 25px;
}
@media only screen and (min-width: 1024px) {
  .theme-not-found {
    padding: 100px 0;
  }
}
.theme-not-found .wrapper {
  margin-bottom: 50px;
}
.theme-not-found:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
}
.theme-not-found .flex {
  margin-bottom: 25px;
}
.theme-not-found .wp-block-image {
  margin-bottom: 30px;
}
.theme-not-found .wp-block-buttons {
  margin-top: 30px;
}
.theme-not-found img {
  max-width: 100%;
  height: auto;
}
.theme-not-found h1 {
  letter-spacing: 0.63px;
  text-transform: capitalize;
}
.theme-not-found h1 em {
  color: #FEBE12;
}
.theme-not-found .wrapper h1,
.theme-not-found .wrapper h2,
.theme-not-found .wrapper h3,
.theme-not-found .wrapper h4,
.theme-not-found .wrapper h5,
.theme-not-found .wrapper h6 {
  color: white;
}
.theme-not-found .wrapper p {
  color: white;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.theme-not-found .btn {
  margin: auto;
}

@media only screen and (min-width: 1280px) {
  .thank-you .wrapper {
    flex-direction: row;
  }
  .thank-you .wp-block-image {
    margin-bottom: 60px;
  }
  .thank-you .wp-block-buttons {
    margin-top: 40px;
  }
  .thank-you .flex {
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
