.testimonials-one {
  padding: 30px;
}
@media only screen and (min-width: 1024px) {
  .testimonials-one {
    padding: 75px 0;
    background: url("/wp-content/themes/estation/blocks/testimonials-one/bg.svg");
    background-repeat: no-repeat;
  }
}
.testimonials-one .testimonial {
  background: white;
  box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  padding-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .testimonials-one .testimonial {
    display: flex;
    align-items: center;
    padding: 35px;
  }
}
@media only screen and (min-width: 1024px) {
  .testimonials-one .testimonial {
    padding: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .testimonials-one .testimonial {
    padding: 45px;
  }
}
.testimonials-one .testimonial-image {
  margin: 30px;
  box-shadow: 10px 25px 40px hsla(0deg, 0%, 0%, 0.04);
  border-radius: 5px;
  text-align: center;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1024px) {
  .testimonials-one .testimonial-image {
    flex: 0 0 371px;
  }
}
.testimonials-one .testimonial-image img {
  object-fit: contain;
  max-width: 235px;
  height: auto;
}
@media only screen and (min-width: 1024px) {
  .testimonials-one .testimonial-image img {
    min-height: 245px;
    max-width: 285px;
  }
}
.testimonials-one .testimonial-body {
  padding: 20px 40px;
}
.testimonials-one .testimonial-author {
  color: rgb(0, 182, 235);
  font-weight: 600;
}
.testimonials-one .testimonial + .testimonial {
  margin-top: 35px;
}

/*# sourceMappingURL=style.css.map */
