@import "mixins.scss";

.testimonials-one {
    padding:30px;
    @include screen(1024) {
        padding: 75px 0;
        background:url('/wp-content/themes/estation/blocks/testimonials-one/bg.svg');
        background-repeat: no-repeat;
    }
    .wrapper {

    }
    .testimonial {
        background: white;
        box-shadow: 10px 25px 40px rgb(0 0 0 / 4%);
        border-radius: 5px;
        padding-bottom: 30px;
        @include screen(768) {
            display:flex;
            align-items: center;
            padding: 35px;
        }
        @include screen(1024) {
            padding: 40px;
        }
        @include screen(1280) {
            padding: 45px;
        }
        &-image {
            margin: 30px;
            box-shadow: 10px 25px 40px hsla(0, 0%, 0%, 0.04);
            border-radius: 5px;
            text-align: center;
            min-height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include screen(1024) {
                flex: 0 0 371px;
            }
            img {
                object-fit: contain;
                max-width: 235px;
                height: auto;
                @include screen(1024) {
                    min-height: 245px;
                    max-width: 285px;
                }
            }
        }
        &-body {
            padding: 20px 40px;
        }
        &-author {
            color:rgba(0, 182, 235, 1);
            font-weight:600;
        }
        & + .testimonial {
            margin-top:35px;
        }
    }
}