{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container-sm">
        <div class="wrapper">
            <div class="flex">
                <InnerBlocks/>
            </div>
            <div class="testimonials">
                {% for testimonial in fields.testimonials.items %}
                    <div class="testimonial">
                        <div class="testimonial-image">
                            {{imageElement(testimonial.image)}}
                        </div>
                        <div class="testimonial-body">
                            <div class="testimonial-content">
                                {{testimonial.content}}
                            </div>
                            <div class="testimonial-author">
                                {{testimonial.author}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
