@import "mixins.scss";

.image-text-bg-three {
    @include screen(1024) {
        padding: 80px 0;
    }
    .wrapper {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        @include screen(1024) {
            flex-direction: row;
        }
    }
    .flex {
        position:relative;
        flex:0 0 48.5%;
        margin-bottom: 25px;
        padding: 0 40px;
        @include screen(1024) {
            padding: 0;
            margin-bottom: 0px;
        }
    }
    ul {
        @include screen(1024) {
            column-count: 2;
        }
    }
    .media {
        padding: 0 36px;
        flex:0 0 48.5%;
        position: relative;
        margin: 25px 0;
        @include screen(768) {
            margin: 50px 0;
        }
        @include screen(1024) {
            padding:0;
            margin:0;
        }
        @include screen(1280) {
            max-width: 400px;
        }
        &:before {
            content:"";
            position:absolute;
            top:-15px;
            left:-15px;
            right:-15px; 
            bottom:-15px;
            background:url('/wp-content/themes/estation/blocks/image-text-bg-two/bg.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 80%;
            z-index:-1;
            @include screen(1280) {
                top: -65px;
                left: -65px;
                right: -65px;
                bottom: -65px;
            }
        }
        img {
            max-height: 600px;
            width: auto;
        }
    }
    &.is-style-reverse {
        .wrapper {
            flex-direction: column;
            @include screen(1024) {
                flex-direction: row-reverse;
            }
        }
    }
}