@media only screen and (min-width: 1024px) {
  .image-text-bg-three {
    padding: 80px 0;
  }
}
.image-text-bg-three .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .image-text-bg-three .wrapper {
    flex-direction: row;
  }
}
.image-text-bg-three .flex {
  position: relative;
  flex: 0 0 48.5%;
  margin-bottom: 25px;
  padding: 0 40px;
}
@media only screen and (min-width: 1024px) {
  .image-text-bg-three .flex {
    padding: 0;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1024px) {
  .image-text-bg-three ul {
    column-count: 2;
  }
}
.image-text-bg-three .media {
  padding: 0 36px;
  flex: 0 0 48.5%;
  position: relative;
  margin: 25px 0;
}
@media only screen and (min-width: 768px) {
  .image-text-bg-three .media {
    margin: 50px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .image-text-bg-three .media {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .image-text-bg-three .media {
    max-width: 400px;
  }
}
.image-text-bg-three .media:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  background: url("/wp-content/themes/estation/blocks/image-text-bg-two/bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  z-index: -1;
}
@media only screen and (min-width: 1280px) {
  .image-text-bg-three .media:before {
    top: -65px;
    left: -65px;
    right: -65px;
    bottom: -65px;
  }
}
.image-text-bg-three .media img {
  max-height: 600px;
  width: auto;
}
.image-text-bg-three.is-style-reverse .wrapper {
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .image-text-bg-three.is-style-reverse .wrapper {
    flex-direction: row-reverse;
  }
}

/*# sourceMappingURL=style.css.map */
