@import "mixins.scss";


.header {
    position:relative;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    z-index:5;
    .logo {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        @include screen(1280) {
            padding-left: 85px;
        }
        @include screen(1366) {
            padding: 0;
        }
        &-wrapper {
            display:flex;
            justify-content: space-between;
            z-index: 26;
            position: relative;
            background: white;
            box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
            @include screen(1280) {
                box-shadow: none;
            }
        }
        img {
            display:block;
            height: 80px;
            width: auto;
            object-fit: contain;
            @include screen(1280) {
                height: 100px;
            }
        }
    }
    .toggler {
        cursor:pointer;
        height:100px;
        width:85px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu {
        &-wrapper {
            .inner {
                transition:all 0.5s ease-out;
                background:white;
                position: absolute;
                top:100px;
                left:0;
                right:0;
                z-index: 25;
                transform: translateX(100%);
                @include screen(1280) {
                    position: inherit;
                    background: white;
                    transform: none;
                    padding: 0;
                }
            }
        }
        &-item {
            &.contact {
                @include screen(1280) {
                    margin-left: 20px;
                }
                a {
                    color:white;
                    display:block;
                    background: transparent linear-gradient(99deg, #00B6EB 0%, #372B72 100%) 0% 0% no-repeat padding-box;
                    position:relative;
                    overflow: hidden;
                    @include screen(1280) {
                        padding: 50px 45px;
                        background: linear-gradient(180deg,#00b6eb 0%,#372b72 100%) 0% 0% no-repeat padding-box;
                    }
                    span {
                        transition: all 0.3s ease-out;
                        position: relative;
                    }
                    &:before {
                        @include screen(1280) {
                            content:"";
                            position:absolute;
                            top:0;
                            bottom:0;
                            left:0;
                            right:0;
                            background: transparent linear-gradient(180deg, #3C885B 0%, #372B72 100%) 0% 0% no-repeat padding-box;
                            transition: all 0.3s ease-out;
                            opacity:0;
                        }
                    }
                    &:hover {
                        span {
                            @include screen(1280) {
                                color:white;
                            }
                        }
                        &:before {
                            @include screen(1280) {
                                opacity:1;
                            }
                        }
                    }
                }
            }
        }
        &-link {
            transition: all 0.5s ease-out;
            text-decoration: none;
            color:rgba(55, 43, 114, 1);
            font-weight: 600;
            font-size: 16px;
            line-height: 25px;
            padding: 27px 30px 21px;
            display: block;
            @include screen(1280) {
                padding: 50px 25px;
            }
            &:hover {
                color:#00B6EB;
            }
            &-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid rgba(0, 182, 235, 1);
                @include screen(1280) {
                    display:block;
                    border-bottom: none;
                }
            }
            &-chevron {
                position:relative;
                padding: 27px 30px 21px;
                flex-grow: 1;
                cursor:pointer;
                &:before {
                    @include screen(0,1279) {
                        font-family: "icomoon";
                        content: "\e906";
                        color: #00a7e1;
                        position: absolute;
                        top: 10px;
                        right: 20px;
                        bottom: 0;
                        font-size: 30px;
                        transform: rotate(270deg);
                    }
                }
            }
        }
        &-list {
            @include screen(1280) {
                display: flex;
            }
        }
    }
    .bot {
        background:white;
        .container-sm {
            @include screen(0,1280) {
                max-width:100%;
            }
            @include screen(1280) {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .top {
        .menu-link {
            color:white;
            &:hover {
                color:#d4d6db;
            }
        }
        .menu-link {
            padding: 20px 35px;
        }
        .menu-list {
            justify-content: flex-end;
        }
    }
}

.burger {
    cursor: pointer;
    height: 18px;
    width: 43px;
    transform: rotate(180deg);
    transform-origin: center;
    transition-duration: 200ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    span {
        transition:all 0.3s ease-out;
        background-color: #00B6EB;
        position: absolute;
        display: block;
        height: 6px;
        width: 43px;
        border-radius: 1.3px;
        &:nth-child(1) {
            top: calc(50% - 14px);
        }
        &:nth-child(2) {
            transition:all 0.1s ease-out;
            top: calc(50% - 2px);
        }
        &:nth-child(3) {
            top: calc(50% + 10px);
        }
    }
}

body {
    overflow-x: hidden;
}

.menu-wrapper {
    @include screen(0,1279) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        z-index: 10;
        transition: all 0.3s ease-out;
        opacity: 0;
        visibility: hidden;
    }
}

.menu-open {
    height: 100vh;
    overflow: hidden;
    .menu-wrapper  {
        opacity:1;
        visibility: visible;
    }
    .menu-wrapper .inner {
        transform: translateX(0%);
    }
    .burger {
        span {
            &:nth-child(1) {
                transform: translateY(14px) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-10px) rotate(-45deg);
            }
        }
    }
}


.menu-item {
    &.parent {
        position:relative;
    }
    &:not(:hover) {
        .submenu {
            @include screen(1280) {
                visibility:hidden;
                opacity:0;
            }
        }
    }
}

.menu-item {
    &.active {
        .submenu {
            @include screen(0,1279) {
                transform: translateX(0%);
            }
        }
    }
}

.submenu {
    @include screen(0,1279) {
        transition: all 0.5s ease-out;
        background: white;
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 25;
        transform: translateX(100%);
    }
    @include screen(1280) {
        position: absolute;
        opacity:1;
        transition:all 0.3s ease-out;
        background:white;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 5px;
        left: 0;
        top: 100px;
        z-index: 2;
        padding: 40px 55px;
    }
    &-link {
        @include screen(0,1279) {
            transition: all 0.5s ease-out;
            text-decoration: none;
            color:rgba(55, 43, 114, 1);
            font-weight: 600;
            font-size: 16px;
            line-height: 25px;
            padding: 27px 30px 21px;
            display: block;
            border-bottom: 1px solid rgba(0, 182, 235, 1);
            cursor: pointer;
        }
        @include screen(1280) {
            font-weight: 600;
            display: block;
            color:rgba(55, 43, 114, 1);
        }
    }
    &-list {
        @include screen(1280) {
            display: flex;
            gap: 80px;
        }
    }
    &-sub {
        &-list {
            @include screen(0,1279) {
                overflow: hidden;
                transition: all 0.5s ease-in-out;
                max-height:1000px;
            }
            display: flex;
            flex-direction: column;
        }
        &-item {
            @include screen(1280) {
                margin-top: 20px;
            }
        }
        &-link {
            @include screen(0,1279) {
                transition: all 0.5s ease-out;
                text-decoration: none;
                color:rgba(60, 136, 91, 1);
                font-weight: 600;
                font-size: 16px;
                line-height: 25px;
                padding: 27px 30px 21px;
                display: block;
                border-bottom: 1px solid rgba(0, 182, 235, 1);
            }
        }
    }
    &-item {
        display: flex;
        flex-direction: column;
        @include screen(1280) {
            width: max-content;
        }
        &:not(.active) {
            .submenu-sub-list {
                @include screen(0,1279) {
                    max-height: 0;
                }
            }
            .submenu-link {
                &:before {
                    @include screen(0,1279) {
                        transform: rotate(360deg);
                        bottom: 20px;
                    }
                }
            }
        }
    }
    &-return {
        transition: all 0.5s ease-out;
        text-decoration: none;
        color: #00B6EB;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        padding: 27px 30px 21px;
        display: block;
        background:#f3f3f7;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid rgba(0, 182, 235, 1);
        &:before {
            @include screen(0,1279) {
                font-family: "icomoon";
                content: "\e906";
                color: #00B6EB;
                position: absolute;
                top: 10px;
                right: 50px;
                bottom: 0;
                font-size: 30px;
                transform: rotate(90deg);
                font-weight: 400;
            }
        }
    }
    a {
        text-decoration: none;
        @include screen(1280) {
            color:#372b72;
            letter-spacing:0.90px;
            margin-bottom: 5px;
        }
    }
}

span {
    &.submenu-link {
        position:relative;
        &:before {
            @include screen(0,1279) {
                font-family: "icomoon";
                content: "\e906";
                color: #00B6EB;
                position: absolute;
                top: 28px;
                right: 30px;
                bottom: 20px;
                font-size: 30px;
                transform: rotate(179deg);
                font-weight: 400;
                transition: all 0.3s ease-out;
            }
        }
    }
}