.header {
  position: relative;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 5;
}
.header .logo {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  .header .logo {
    padding-left: 85px;
  }
}
@media only screen and (min-width: 1366px) {
  .header .logo {
    padding: 0;
  }
}
.header .logo-wrapper {
  display: flex;
  justify-content: space-between;
  z-index: 26;
  position: relative;
  background: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
@media only screen and (min-width: 1280px) {
  .header .logo-wrapper {
    box-shadow: none;
  }
}
.header .logo img {
  display: block;
  height: 80px;
  width: auto;
  object-fit: contain;
}
@media only screen and (min-width: 1280px) {
  .header .logo img {
    height: 100px;
  }
}
.header .toggler {
  cursor: pointer;
  height: 100px;
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .menu-wrapper .inner {
  transition: all 0.7s ease-out;
  background: white;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 25;
  transform: translateX(100%);
}
@media only screen and (min-width: 1280px) {
  .header .menu-wrapper .inner {
    position: inherit;
    background: white;
    transform: none;
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .header .menu-item.contact {
    margin-left: 20px;
  }
}
.header .menu-item.contact a {
  color: white;
  display: block;
  background: transparent linear-gradient(99deg, #00B6EB 0%, #372B72 100%) 0% 0% no-repeat padding-box;
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 1280px) {
  .header .menu-item.contact a {
    padding: 50px 45px;
    background: linear-gradient(180deg, #00b6eb 0%, #372b72 100%) 0% 0% no-repeat padding-box;
  }
}
.header .menu-item.contact a span {
  transition: all 0.3s ease-out;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .header .menu-item.contact a:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent linear-gradient(180deg, #3C885B 0%, #372B72 100%) 0% 0% no-repeat padding-box;
    transition: all 0.3s ease-out;
    opacity: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .header .menu-item.contact a:hover span {
    color: white;
  }
}
@media only screen and (min-width: 1280px) {
  .header .menu-item.contact a:hover:before {
    opacity: 1;
  }
}
.header .menu-link {
  transition: all 0.5s ease-out;
  text-decoration: none;
  color: rgb(55, 43, 114);
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  padding: 27px 30px 21px;
  display: block;
  flex-grow: 1;
}
@media only screen and (min-width: 1280px) {
  .header .menu-link {
    padding: 50px 25px;
  }
}
.header .menu-link:hover {
  color: #00B6EB;
}
.header .menu-link-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 182, 235);
}
@media only screen and (min-width: 1280px) {
  .header .menu-link-wrapper {
    display: block;
    border-bottom: none;
  }
}
.header .menu-link-chevron {
  position: relative;
  flex: 0 0 30%;
  cursor: pointer;
}
@media only screen and (max-width: 1279px) {
  .header .menu-link-chevron:before {
    transition: all 0.3s ease-in-out;
    font-family: "icomoon";
    content: "\e907";
    color: #00a7e1;
    font-size: 30px;
    line-height: 25px;
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (min-width: 1280px) {
  .header .menu-list {
    display: flex;
  }
}
.header .bot {
  background: white;
}
@media only screen and (max-width: 1280px) {
  .header .bot .container-sm {
    max-width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .header .bot .container-sm {
    display: flex;
    justify-content: space-between;
  }
}
.header .top .menu-link {
  color: white;
}
.header .top .menu-link:hover {
  color: #d4d6db;
}
.header .top .menu-link {
  padding: 20px 35px;
}
.header .top .menu-list {
  justify-content: flex-end;
}

.burger {
  cursor: pointer;
  height: 18px;
  width: 43px;
  transform: rotate(180deg);
  transform-origin: center;
  transition-duration: 200ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
}
.burger span {
  transition: all 0.3s ease-out;
  background-color: #00B6EB;
  position: absolute;
  display: block;
  height: 6px;
  width: 43px;
  border-radius: 1.3px;
}
.burger span:nth-child(1) {
  top: calc(50% - 14px);
}
.burger span:nth-child(2) {
  transition: all 0.1s ease-out;
  top: calc(50% - 2px);
}
.burger span:nth-child(3) {
  top: calc(50% + 10px);
}

body {
  overflow-x: hidden;
}

@media only screen and (max-width: 1279px) {
  .menu-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 10;
    transition: all 0.3s ease-out;
    opacity: 0;
    visibility: hidden;
  }
}

.menu-open {
  height: 100vh;
  overflow: hidden;
}
.menu-open .menu-wrapper {
  opacity: 1;
  visibility: visible;
}
.menu-open .menu-wrapper .inner {
  transform: translateX(0%);
}
.menu-open .burger span:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
}
.menu-open .burger span:nth-child(2) {
  opacity: 0;
}
.menu-open .burger span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.menu-item.parent {
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .menu-item:not(:hover) .submenu {
    visibility: hidden;
    opacity: 0;
  }
}

@media only screen and (max-width: 1279px) {
  .menu-item.active .submenu {
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 1279px) {
  .submenu {
    transition: all 0.5s ease-out;
    background: white;
  }
}
@media only screen and (min-width: 1280px) {
  .submenu {
    position: absolute;
    opacity: 1;
    transition: all 0.3s ease-out;
    background: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    left: 0;
    top: 100px;
    z-index: 2;
    padding: 40px 55px;
  }
}
@media only screen and (max-width: 1279px) {
  .submenu-link {
    transition: all 0.5s ease-out;
    text-decoration: none;
    color: rgb(55, 43, 114);
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    padding: 27px 30px 21px;
    display: block;
    border-bottom: 1px solid rgb(0, 182, 235);
    cursor: pointer;
  }
}
@media only screen and (min-width: 1280px) {
  .submenu-link {
    font-weight: 600;
    display: block;
    color: rgb(55, 43, 114);
  }
}
@media only screen and (min-width: 1280px) {
  .submenu-list {
    display: flex;
    gap: 80px;
  }
}
@media only screen and (min-width: 1280px) {
  .submenu-list.simple {
    flex-direction: column;
    gap: 20px;
  }
}
.submenu-sub-list {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1279px) {
  .submenu-sub-list {
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    max-height: 1000px;
  }
}
@media only screen and (min-width: 1280px) {
  .submenu-sub-item {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 1279px) {
  .submenu-sub-link {
    transition: all 0.5s ease-out;
    text-decoration: none;
    color: rgb(60, 136, 91);
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    padding: 27px 30px 21px;
    padding-left: 70px;
    display: block;
    border-bottom: 1px solid rgb(0, 182, 235);
  }
}
.submenu-item {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1280px) {
  .submenu-item {
    width: max-content;
  }
}
@media only screen and (max-width: 1279px) {
  .submenu-item:not(.active) .submenu-sub-list {
    max-height: 0;
  }
}
@media only screen and (max-width: 1279px) {
  .submenu-item:not(.active) .submenu-link:before {
    transform: rotate(360deg);
    bottom: 20px;
  }
}
.submenu-return {
  display: none;
}
.submenu a {
  text-decoration: none;
}
@media only screen and (min-width: 1280px) {
  .submenu a {
    transition: all 0.5s ease-out;
    color: #372b72;
    letter-spacing: 0.9px;
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 1280px) {
  .submenu a:hover {
    color: #00b6eb;
  }
}

span.submenu-link {
  position: relative;
}
@media only screen and (max-width: 1279px) {
  span.submenu-link:before {
    font-family: "icomoon";
    content: "\e906";
    color: #00B6EB;
    position: absolute;
    top: 28px;
    right: 30px;
    bottom: 20px;
    font-size: 30px;
    transform: rotate(179deg);
    font-weight: 400;
    transition: all 0.3s ease-out;
  }
}

@media only screen and (max-width: 1279px) {
  .menu-link-wrapper {
    transition: all 0.3s ease-in-out;
  }
  .menu-item {
    display: block;
    transition: all 0.4s ease-in-out;
    max-height: 74px;
    overflow: hidden;
  }
  .menu-item.contact {
    max-height: 74px !important;
  }
  .submenu-item {
    transition: all 0.4s ease-in-out;
    max-height: 74px;
    overflow: hidden;
  }
  .submenu-item.active {
    max-height: 500px;
  }
  .menu-item:not(.active) .submenu-item {
    max-height: 0;
  }
  .menu-item:not(.active) .menu-link-chevron:before {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  .menu-item.active {
    max-height: 500px;
  }
  .menu-item.active .menu-link-wrapper {
    background: #f3f3f7;
  }
  .menu-item.active .menu-link {
    color: rgb(0, 182, 235);
  }
  .menu-item.active.large {
    max-height: 1500px !important;
  }
  .inner.active .menu-item:not(.active) {
    max-height: 0;
  }
}

/*# sourceMappingURL=style.css.map */
