{% extends "block-base.twig" %}

{% block content %}
<header class="header {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="bot">
        <div class="container-sm">
            <div class="logo-wrapper">
                <div class="logo">
                    <a href="/">
                        <img height="78" width="242" src="/wp-content/themes/estation/blocks/theme-header/logo.svg" alt="Logo">
                    </a>
                </div>
                <div class="toggler hide-desktop" onclick="document.getElementsByTagName('HTML')[0].classList.toggle('menu-open');">
                    <div class="mtoggler burger">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="menu-wrapper">
                <div class="inner">
                    <list class="menu-list">
                    {% for item in header_primary_menu.get_items %}
                        <item class="menu-item {% if item.children %}parent{% endif %}">
                            {% if item.children %}
                                <div class="menu-link-wrapper">
                                    <a class="menu-link" href="{{item.link}}">{{item.title}}</a>
                                    <div class="menu-link-chevron hide-desktop" onclick="toggleMenu(this)"></div>
                                </div>
                                <div class="submenu">
                                    <div class="submenu-return hide-desktop" onclick="this.parentNode.parentNode.classList.remove('active');document.querySelector('.menu-wrapper .inner').classList.toggle('active');">{{item.title}}</div>
                                    <list class="submenu-list">
                                    {% for child in item.children %}
                                        <item class="submenu-item {% if item.children %}parent{% endif %}">
                                            {% if child.children %}
                                                <span class="submenu-link" href="{{child.link}}" onclick="toggleSubMenu(this);">{{child.title}}</span>
                                            {% else %}
                                                <a class="submenu-sub-link" href="{{child.link}}">{{child.title}}</a>
                                            {% endif %}
                                            <list class="submenu-sub-list">
                                            {% for grandchild in child.children %}
                                                <item class="submenu-sub-item">
                                                    <a class="submenu-sub-link" href="{{grandchild.link}}">{{grandchild.title}}</a>
                                                </item>
                                            {% endfor %}
                                            </list>
                                        </item>
                                    {% endfor %}
                                        <item class="menu-item contact hide-desktop">
                                            <a class="menu-link" href="/contact-us/"><span>Talk to an EV Expert</span></a>
                                        </item>    
                                    </list>
                                </div>
                            {% else %}
                                <div class="menu-link-wrapper">
                                    <a class="menu-link" href="{{item.link}}">{{item.title}}</a>
                                </div>
                            {% endif %}
                        </item>
                    {% endfor %}
                        <item class="menu-item contact">
                            <a class="menu-link" href="/contact-us/"><span>Talk to an EV Expert</span></a>
                        </item>    
                    </list>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
function toggleMenu(e) {
    e.parentNode.parentNode.classList.toggle('active');
    document.querySelector('.menu-wrapper .inner').classList.toggle('active');
}
function toggleSubMenu(e) {
    if(e.parentNode.classList.contains('active')) {
        e.parentNode.classList.remove('active');
    } else {
        [...document.querySelectorAll('.submenu-item.active')].forEach(function(card) {
            card.classList.remove('active');
        });
        e.parentNode.classList.toggle('active');
    }
}
</script>
{% endblock %}
