.content-boxes-three {
  padding: 35px;
}
@media only screen and (min-width: 1024px) {
  .content-boxes-three {
    padding: 75px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .content-boxes-three .cards {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1280px) {
  .content-boxes-three .card {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.content-boxes-three .card-body {
  display: flex;
  align-items: center;
  gap: 15px;
}
.content-boxes-three .card-image {
  flex: 0 0 80px;
  max-width: 80px;
}
.content-boxes-three .card-button a {
  font-weight: 600;
}
.content-boxes-three .card a {
  color: #BDD631;
  text-decoration: none;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-three .card:nth-child(1) {
    border-right: 1px solid rgba(55, 43, 114, 0.15);
    border-bottom: 1px solid rgba(55, 43, 114, 0.15);
    padding-right: 40px;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .content-boxes-three .card:nth-child(2) {
    border-bottom: 1px solid rgba(55, 43, 114, 0.15);
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 0 !important;
  }
}
@media only screen and (min-width: 1280px) {
  .content-boxes-three .card:nth-child(3) {
    border-right: 1px solid rgba(55, 43, 114, 0.15);
    padding-top: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .content-boxes-three .card:nth-child(4) {
    padding-top: 40px;
    padding-left: 40px;
  }
}
.content-boxes-three .card + .card {
  margin-top: 35px;
  border-top: 1px solid rgba(55, 43, 114, 0.15);
  padding-top: 25px;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-three .card + .card {
    margin-top: 0px;
    border-top: none;
  }
}

/*# sourceMappingURL=style.css.map */
