{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container-sm">
        <div class="wrapper">
            <div class="cards" data-cards="{{fields.cards.items|length}}">
                {% for card in fields.cards.items %}
                    <div class="card">
                        <div class="card-title">
                            <h2>{{card.title}}</h2>
                        </div>
                        <div class="card-body">
                            <div class="card-image">
                                {{imageElement(card.image)}}
                            </div>
                            <div class="card-content">
                                {{card.content}}
                                <div class="card-button">
                                    {% if card.button.title|length > 0 %}
                                        <a href="{{card.button.url}}" target="{{card.button.target}}">
                                            <span>{{card.button.title}}</span>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
