@import "mixins.scss";

.content-boxes-four {
    padding: 35px;
    @include screen(1024) {
        padding: 50px 0;
    }
    .top {
        margin-bottom: 25px;
        @include screen(1280) {
            margin-bottom: 50px;
        }
    }
    .cards {
        @include screen(1280) {
            display:flex;
            flex-wrap: wrap;
        }
    }
    .card {
        @include screen(1280) {
            flex:0 0 50%;
            max-width: 50%;
        }
        &-body {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        &-image {
            flex: 0 0 80px;
            max-width: 80px;
        }
        &-button {
            a {
                font-weight: 600;
            }
        }
        a {
            color: #BDD631;
            text-decoration: none;
        }
        &:nth-child(1) {
            @include screen(1280) {
                border-right: 1px solid rgba(55, 43, 114, 0.15);
                border-bottom: 1px solid rgba(55, 43, 114, 0.15);
                padding-right: 40px;
                padding-bottom: 40px;
            }
        }
        &:nth-child(2) {
            @include screen(1280) {
                border-bottom: 1px solid rgba(55, 43, 114, 0.15);
                padding-left: 40px;
                padding-bottom: 40px;
                padding-top: 0 !important;
            }
        }
        &:nth-child(3) {
            @include screen(1280) {
                border-right: 1px solid rgba(55, 43, 114, 0.15);
                padding-top: 40px;
                padding-right: 40px;
            }
        }
        &:nth-child(4) {
            @include screen(1280) {
                padding-top: 40px;
                padding-left: 40px;
            }
        }
        & + .card {
            margin-top: 35px;
            border-top: 1px solid rgba(55, 43, 114, 0.15);
            padding-top: 25px;
            @include screen(1280) {
                margin-top: 0px;
                border-top: none;
            }
        }
    }

}