.flex-full {
  padding: 35px;
}
@media only screen and (min-width: 1280px) {
  .flex-full {
    padding: 50px 0;
  }
}
.flex-full h1,
.flex-full h2,
.flex-full h3,
.flex-full h4,
.flex-full h5,
.flex-full h6 {
  margin: 0.6em 0;
}
.flex-full .flex {
  margin-bottom: 25px;
}
.flex-full .wp-block-image {
  margin-bottom: 30px;
}
.flex-full .wp-block-buttons {
  margin-top: 30px;
}
.flex-full img {
  max-width: 100%;
  height: auto;
}
.flex-full h1 {
  letter-spacing: 0.63px;
  text-transform: capitalize;
}
.flex-full h1 em {
  color: #FEBE12;
}
@media only screen and (min-width: 1280px) {
  .flex-full.is-style-negative .wrapper {
    margin-top: -300px;
    position: relative;
    z-index: 2;
  }
}

@media only screen and (min-width: 1280px) {
  .flex-full .wrapper {
    flex-direction: row;
  }
  .flex-full .wp-block-image {
    margin-bottom: 60px;
  }
  .flex-full .wp-block-buttons {
    margin-top: 40px;
  }
  .flex-full .flex {
    margin-bottom: 0px;
  }
  .flex-full ul {
    max-width: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
