@import "mixins.scss";

.flex-full {
    padding: 35px;
    @include screen(1280) {
        padding: 50px 0;
    }
    @include headings() {
        margin:0.6em 0;
    }
    .flex {
        margin-bottom: 25px;
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    h1 {
        letter-spacing: 0.63px;
        text-transform: capitalize;
        em {
            color:#FEBE12;
        }
    }
    &.is-style-negative {
        .wrapper {
            @include screen(1280) {
                margin-top: -300px;
                position: relative;
                z-index: 2;
            }
        }
    }
}

@include screen(1280) {
    .flex-full {
        .wrapper {
            flex-direction: row;
        }
        .wp-block-image {
            margin-bottom:60px;
        }
        .wp-block-buttons {
            margin-top:40px;
        }
        .flex {
            margin-bottom: 0px;
        }
        ul {
            max-width: 450px;
        }
    }
}