@import "mixins.scss";

.resources-hero {
    padding: 35px 0;
    background: linear-gradient(270deg, #372b72 0%, #1c1639 100%) 0% 0% no-repeat padding-box;
    position:relative;
    box-shadow: 0px 6px 12px rgb(0 0 0 / 16%);
    z-index: 2;
    @include screen(1280) {
        padding: 100px 0;
    }
    &:before {
        content:"";
        left:0;
        right:0;
        top:0;
        bottom:0;
        position:absolute;
        background: url('/wp-content/themes/estation/blocks/resources-hero/bg.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size:cover;
        mix-blend-mode: multiply;
    }
    .flex {
        position: relative;
        // flex:0 0 48.5%;
        max-width: 950px;
        padding: 0 50px;
        @include screen(768) {
            margin-bottom: 25px;
        }
        @include screen(1280) {
            padding:0;
        }
        * {
            color:white;
        }
    }

    &.is-style-lighter {
        background: linear-gradient(90deg, #372b72 0%, #1c1639 100%) 0% 0% no-repeat padding-box;
    }
}

@include screen(1280) {
    .hero-three {
        padding: 100px 0;
        .wrapper {
            flex-direction: row;
        }
        .flex {
            margin-bottom: 0px;
        }
    }
}