.resources-hero {
  padding: 35px 0;
  background: linear-gradient(270deg, #372b72 0%, #1c1639 100%) 0% 0% no-repeat padding-box;
  position: relative;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
  z-index: 2;
}
@media only screen and (min-width: 1280px) {
  .resources-hero {
    padding: 100px 0;
  }
}
.resources-hero:before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: url("/wp-content/themes/estation/blocks/resources-hero/bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  mix-blend-mode: multiply;
}
.resources-hero .flex {
  position: relative;
  max-width: 950px;
  padding: 0 50px;
}
@media only screen and (min-width: 768px) {
  .resources-hero .flex {
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .resources-hero .flex {
    padding: 0;
  }
}
.resources-hero .flex * {
  color: white;
}
.resources-hero.is-style-lighter {
  background: linear-gradient(90deg, #372b72 0%, #1c1639 100%) 0% 0% no-repeat padding-box;
}

@media only screen and (min-width: 1280px) {
  .hero-three {
    padding: 100px 0;
  }
  .hero-three .wrapper {
    flex-direction: row;
  }
  .hero-three .flex {
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
