.content-boxes-two {
  padding: 20px 35px;
  background: rgb(255, 255, 255);
}
@media only screen and (min-width: 1024px) {
  .content-boxes-two {
    padding: 75px 0;
  }
}
.content-boxes-two .wrapper {
  box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
  padding: 25px 0;
}
@media only screen and (min-width: 1024px) {
  .content-boxes-two .wrapper {
    padding: 75px 0;
  }
}
.content-boxes-two .flex {
  margin-bottom: 25px;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-two .flex {
    margin: auto;
    margin-bottom: 50px;
    max-width: 1100px;
  }
}
.content-boxes-two .flex p {
  color: rgba(0, 0, 0, 0.9);
  max-width: 1024px;
  margin: auto;
}
.content-boxes-two .wp-block-image {
  margin-bottom: 30px;
}
.content-boxes-two .wp-block-buttons {
  margin-top: 30px;
}
.content-boxes-two img {
  max-width: 100%;
  height: auto;
}
.content-boxes-two .card {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.content-boxes-two .card-head {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.content-boxes-two .card-title h1,
.content-boxes-two .card-title h2,
.content-boxes-two .card-title h3,
.content-boxes-two .card-title h4,
.content-boxes-two .card-title h5,
.content-boxes-two .card-title h6 {
  margin: auto;
  margin-top: 0;
  max-width: 950px;
  color: #304B27;
}
.content-boxes-two .card-image {
  position: relative;
  text-align: center;
  margin-bottom: 25px;
  flex: 0 0 60px;
}
.content-boxes-two .card-image img {
  height: auto;
  min-width: 60px;
  object-fit: contain;
}
@media only screen and (min-width: 1024px) {
  .content-boxes-two .card-image img {
    height: 108px;
    width: auto;
  }
}
.content-boxes-two .card-content * {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-two .card-subtitle h6 {
    font-size: 22px;
  }
}
.content-boxes-two .card-body {
  padding: 20px 30px;
  height: 100%;
}
@media only screen and (min-width: 1024px) {
  .content-boxes-two .card-body {
    padding: 0 20px 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .content-boxes-two .card-body {
    padding: 0 25px 35px;
  }
}
@media only screen and (min-width: 1366px) {
  .content-boxes-two .card-body {
    padding: 0 30px 40px;
  }
}
.content-boxes-two .card-button {
  margin-top: 25px;
}
.content-boxes-two .card-button a {
  text-decoration: none;
  color: #BDD631;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-two .card:not(:last-child) .card-body {
    border-right: 1px solid rgba(55, 43, 114, 0.1);
  }
}
.content-boxes-two .card:not(:last-child) .card-image:before {
  position: absolute;
  right: 0;
  background: url("/wp-content/themes/estation/blocks/content-boxes-two/sep.svg");
  width: 119px;
  height: 10px;
  top: 50%;
  right: -20%;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-two .card:not(:last-child) .card-image:before {
    content: "";
  }
}
.content-boxes-two .cards {
  margin: 35px 0;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 780px) {
  .content-boxes-two .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 1024px) {
  .content-boxes-two .cards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 70px;
    row-gap: 70px;
  }
}
@media only screen and (min-width: 780px) {
  .content-boxes-two .cards[data-cards="4"] .card {
    flex: 0 0 50%;
    max-width: 305px;
  }
}
@media only screen and (min-width: 1024px) {
  .content-boxes-two .cards[data-cards="4"] .card {
    flex: 0 0 25%;
    max-width: 400px;
  }
}
@media only screen and (min-width: 780px) {
  .content-boxes-two .cards[data-cards="3"] .card {
    flex: 0 0 50%;
    max-width: 305px;
  }
}
@media only screen and (min-width: 1024px) {
  .content-boxes-two .cards[data-cards="3"] .card {
    flex: 0 0 30%;
    max-width: 400px;
  }
}
@media only screen and (min-width: 1280px) {
  .content-boxes-two .cards[data-cards="3"] .card-image:before {
    right: -15%;
  }
}
@media only screen and (min-width: 1280px) {
  .content-boxes-two.is-style-home {
    padding-top: 0;
  }
}
.content-boxes-two.is-style-home .card-title {
  color: #EE3057;
}
.content-boxes-two.is-style-home .wrapper {
  background: white;
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-two.is-style-home .wrapper {
    margin-top: -200px;
  }
}

@media only screen and (max-width: 767px) {
  .content-boxes-two .card + .card:before {
    content: url("/wp-content/themes/estation/blocks/content-boxes-two/mobile.svg");
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
