@import "mixins.scss";

.content-boxes-two {
    padding: 20px 35px;
    background:rgba(255, 255, 255, 1);
    @include screen(1024) {
        padding: 75px 0;
    }
    .wrapper {
        box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
        padding: 25px 0;
        @include screen(1024) {
            padding: 75px 0;
        }
    }
    .flex {
        margin-bottom: 25px;
        @include screen(1280) {
            margin: auto;
            margin-bottom: 50px;
            max-width: 1100px;
        }
        p {
            color:rgba(0, 0, 0, 0.9);
            max-width: 1024px;
            margin: auto;
        }
    }

    .wp-block-image {
        margin-bottom:30px;
    }

    .wp-block-buttons {
        margin-top:30px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .card {
        max-width: 600px;
        // padding: 20px 30px;
        display:flex;
        flex-direction: column;
        gap: 25px;
        &-head {
            display: flex;
            align-items: flex-start;
            gap: 10px;
        }
        &-title {
            @include headings() {
                margin:auto;
                margin-top:0;
                max-width: 950px;
                color:#304B27;
            }
        }
        &-image {
            position:relative;
            text-align: center;
            margin-bottom: 25px;
            flex: 0 0 60px;
            img {
                height:auto;
                min-width: 60px;
                object-fit: contain;
                @include screen(1024) {
                    height: 108px;
                    width: auto;
                }
            }
        }
        &-content {
            * {
                color: rgba(0, 0, 0, 0.9);
                font-weight: 400;
            }
        }
        &-subtitle {
            h6 {
                @include screen(1280) {
                    font-size: 22px;
                }
            }
        }
        &-body {
            padding: 20px 30px;
            height: 100%;
            @include screen(1024) {
                padding: 0 20px 20px;
            }
            @include screen(1280) {
                padding: 0 25px 35px;
            }
            @include screen(1366) {
                padding: 0 30px 40px;
            }
        }
        &-button {
            margin-top: 25px;
            a {
                text-decoration: none;
                color:#BDD631;
            }
        }
        &:not(:last-child) {
            .card-body {
                @include screen(1280) {
                    border-right:1px solid rgba(55, 43, 114, 0.1);
                }
            }
            .card-image {
                &:before {
                    position:absolute;
                    right:0;
                    background:url('/wp-content/themes/estation/blocks/content-boxes-two/sep.svg');
                    width: 119px;
                    height: 10px;
                    top: 50%;
                    right: -20%;
                    @include screen(1280) {
                        content:"";
                    }
                }
            }
        }
    }

    .cards {
        margin: 35px 0;
        display: flex;
        flex-direction: column;
        @include screen(780) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        @include screen(1024) {
            display: flex;
            align-items: stretch;
            justify-content: center;
            margin-top: 70px;
            row-gap: 70px;
        }
        &[data-cards="4"] {
            .card {
                @include screen(780) {
                    flex:0 0 50%;
                    max-width: 305px;
                }
                @include screen(1024) {
                    flex:0 0 25%;
                    max-width: 400px;
                }
            }
        }
        &[data-cards="3"] {
            .card {
                @include screen(780) {
                    flex:0 0 50%;
                    max-width: 305px;
                }
                @include screen(1024) {
                    flex:0 0 30%;
                    max-width: 400px;
                }
            }
            .card-image {
                &:before {
                    @include screen(1280) {
                        right:-15%;
                    }
                }
            }
        }
    }
    &.is-style-home {
        @include screen(1280) {
            padding-top:0;
        }
        .card-title {
            color:#EE3057;
        }
        .wrapper {
            background:white;
            position: relative;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            @include screen(1280) {
                margin-top: -200px;
            }
        }
    }
}

@include screen(0,767) {
    .content-boxes-two {
        .card + .card {
            &:before {
                content: url('/wp-content/themes/estation/blocks/content-boxes-two/mobile.svg');
                text-align: center;
            }
        }
    }
}