{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="flex">
                <InnerBlocks/>
            </div>
            <div class="cards" data-cards="{{fields.cards.items|length}}">
                {% for card in fields.cards.items %}
                    <div class="card">
                        <div class="card-image">
                            {{imageElement(card.image)}}
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3>{{card.title}}</h3>
                            </div>
                            <div class="card-content">
                                {{card.content}}
                            </div>
                            <div class="card-button">
                                {% if card.button.title|length > 0 %}
                                    <a href="{{card.button.url}}" target="{{card.button.target}}">
                                        <span>{{card.button.title}}</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if fields.additional_cards.items|length > 0 %}
            <div class="cards additional" data-cards="{{fields.additional_cards.items|length}}">
                {% for card in fields.additional_cards.items %}
                    <div class="card">
                        <div class="card-image">
                            {{imageElement(card.image)}}
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3>{{card.title}}</h3>
                            </div>
                            <div class="card-content">
                                {{card.content}}
                            </div>
                            <div class="card-button">
                                {% if card.button.title|length > 0 %}
                                    <a href="{{card.button.url}}" target="{{card.button.target}}">
                                        <span>{{card.button.title}}</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
