.image-text-full-bg-two {
  background: #f6f5f8;
  position: relative;
}
.image-text-full-bg-two:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(360deg, #00b6eb 0%, #372b72 100%) 0% 0% no-repeat padding-box;
  position: absolute;
}
@media only screen and (min-width: 1280px) {
  .image-text-full-bg-two:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.image-text-full-bg-two .wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}
@media only screen and (min-width: 1024px) {
  .image-text-full-bg-two .wrapper {
    gap: 75px;
    align-items: center;
    flex-direction: row;
  }
}
.image-text-full-bg-two .flex {
  position: relative;
  flex-grow: 1;
  padding: 40px 40px 0;
  margin-bottom: 25px;
}
@media only screen and (min-width: 1024px) {
  .image-text-full-bg-two .flex {
    padding: 0;
    margin-bottom: 0px;
    max-width: 610px;
    padding: 25px 0;
  }
}
@media only screen and (min-width: 1366px) {
  .image-text-full-bg-two .flex {
    padding: 50px 0;
  }
}
.image-text-full-bg-two .flex * {
  color: white;
}
.image-text-full-bg-two .media {
  background: white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1024px) {
  .image-text-full-bg-two .media {
    padding: 0;
    margin: 0;
    flex: 0 0 48.5%;
  }
}
@media only screen and (min-width: 1280px) {
  .image-text-full-bg-two .media {
    max-width: 550px;
    height: 550px;
    width: 550px;
  }
}
.image-text-full-bg-two .media:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/wp-content/themes/estation/blocks/image-text-full-bg/bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
@media only screen and (min-width: 1280px) {
  .image-text-full-bg-two .media:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    left: -500px;
    background: white;
  }
}
.image-text-full-bg-two .media img {
  z-index: 2;
  position: relative;
}
.image-text-full-bg-two .wp-block-image {
  margin-bottom: 30px;
}
.image-text-full-bg-two .wp-block-buttons {
  margin-top: 30px;
}
.image-text-full-bg-two img {
  max-width: 100%;
  height: auto;
}
.image-text-full-bg-two h5 {
  color: #1F7A8C;
}
.image-text-full-bg-two a:not(.btn) {
  color: #28334d;
}
.image-text-full-bg-two.is-style-reverse:before {
  background: linear-gradient(180deg, #00b6eb 0%, #372b72 100%) 0% 0% no-repeat padding-box;
}
.image-text-full-bg-two.is-style-reverse .wrapper {
  flex-direction: column;
}
@media only screen and (min-width: 1280px) {
  .image-text-full-bg-two.is-style-reverse .wrapper {
    flex-direction: row-reverse;
  }
}
@media only screen and (min-width: 1280px) {
  .image-text-full-bg-two.is-style-reverse .media:after {
    right: -500px;
    left: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
