.cta-block-one {
  background: linear-gradient(180deg, #00b6eb 0%, #372b72 100%) 0% 0% no-repeat padding-box;
  position: relative;
  padding: 25px 30px;
}
.cta-block-one:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/wp-content/themes/estation/blocks/cta-block-one/bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
@media only screen and (min-width: 768px) {
  .cta-block-one:before {
    background: url("/wp-content/themes/estation/blocks/cta-block-one/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
}
.cta-block-one h1,
.cta-block-one h2,
.cta-block-one h3,
.cta-block-one h4,
.cta-block-one h5,
.cta-block-one h6 {
  color: white;
}
.cta-block-one p {
  color: white;
}
.cta-block-one .container {
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .cta-block-one .wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .cta-block-one .wrapper {
    gap: 75px;
  }
}
@media only screen and (min-width: 1280px) {
  .cta-block-one .wrapper {
    gap: 150px;
  }
}
@media only screen and (min-width: 1366px) {
  .cta-block-one .wrapper {
    gap: 230px;
  }
}
.cta-block-one .media {
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .cta-block-one .media {
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1024px) {
  .cta-block-one .media {
    flex: 0 0 30%;
    max-width: 370px;
  }
}
.cta-block-one .media svg {
  width: 200px;
  height: 240px;
  display: block;
}
@media only screen and (min-width: 1024px) {
  .cta-block-one .media svg {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .cta-block-one .flex {
    flex: 0 0 calc(70% - 115px);
    max-width: 600px;
  }
}

/*# sourceMappingURL=style.css.map */
