@import "mixins.scss";


.cta-block-one {
    background: linear-gradient(180deg,#00b6eb 0%,#372b72 100%) 0% 0% no-repeat padding-box;
    position: relative;
    padding: 25px 30px;
    &:before {
        content:"";
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom: 0;
        background:url('/wp-content/themes/estation/blocks/cta-block-one/bg.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
        @include screen(768) {
            background:url('/wp-content/themes/estation/blocks/cta-block-one/bg-desktop.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left;
        }
    }
    @include headings() {
        color:white;
    }
    p {
        color:white;
    }
    .container {
        position: relative;
        z-index: 1;
    }
    .wrapper {
        @include screen(768) {
            display:flex;
            align-items: center;
//            justify-content: space-between;
            gap: 50px;
        }
        @include screen(1024) {
            gap: 75px;
        }
        @include screen(1280) {
            gap: 150px;
        }
        @include screen(1366) {
            gap: 230px;
        }
    }
    .media {
        margin-bottom: 25px;
        @include screen(768) {
            margin-bottom: 0px;
        }
        @include screen(1024) {
            flex:0 0 30%;
            max-width: 370px;
        }
        svg {
            width: 200px;
            height: 240px;
            display: block;
            @include screen(1024) {
                width: 100%;
                height: auto;
            }
        }
    }
    .flex {
        @include screen(1024) {
            flex:0 0 calc(70% - 115px);
//            max-width: calc(70% - 115px);
            max-width: 600px;
        }
    }
    // &:before {
    //     position: absolute;
    //     top:0;
    //     bottom:0;
    //     left:0;
    //     right:0;
    //     background:var(--bg);
    //     background-position: bottom;
    //     @include screen(1024) {
    //         content:"";
    //     }
    // }
}