{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}} style="--bg:url('https://aonndpeydo.cloudimg.io/v7/{{fields.content.background_image.url}}')">
    <div class="container">
        <div class="wrapper">
            <div class="media">
                <svg xmlns="http://www.w3.org/2000/svg" width="370.293" height="447.644" viewBox="0 0 370.293 447.644">
                    <g id="Group_176" data-name="Group 176" opacity="0.247" style="mix-blend-mode: multiply;isolation: isolate">
                        <path id="Path_1" data-name="Path 1" d="M556.083,432.586c-.313-2.927-1.62-6.847-3.449-8.728a11.643,11.643,0,0,0-8.258-3.5,12.453,12.453,0,0,0-8.78,3.763c-2.875,2.875-3.188,6.742-3.5,10.505v.314c2.4,25.035-5.958,48.449-23.467,66.01a82.1,82.1,0,0,1-58.484,24.2c-23.153,0-45.261-9.3-62.142-26.237a89.393,89.393,0,0,1-24.251-43.484,90.658,90.658,0,0,1-1.359-15.679c0-48.606,36.846-86.707,83.884-86.707,18.4,0,35.592,5.958,48.554,16.777l-76.567,90.208a12.8,12.8,0,0,0-2.875,7.787c0,6.533,5.07,11.446,11.864,11.446a11.275,11.275,0,0,0,8.937-4.39L518.5,376.715c2.875-3.293,4.181-6.219,4.181-9.512a13.731,13.731,0,0,0-4.338-9.669c-19.338-17.613-44.895-27.334-72.02-27.334-46.149,0-84.668,27.752-100.557,68-.1.209-.157.418-.261.627-.418,1.045-.836,2.091-1.2,3.136a105.506,105.506,0,0,0-6.272,42.491C340.388,503.665,387.06,549.4,446.328,549.4a112.1,112.1,0,0,0,78.5-32.3A105.593,105.593,0,0,0,556.083,432.586Z" transform="translate(-222.219 -216.055)" fill="#372b72"/>
                        <path id="Path_2" data-name="Path 2" d="M188.516,403.849a153.622,153.622,0,0,1,21.951-64.86L158.777,287.3A223.9,223.9,0,0,0,116.6,403.849Z" transform="translate(-116.6 -195.576)" fill="#372b72"/>
                        <path id="Path_3" data-name="Path 3" d="M319.762,214.29a153.051,153.051,0,0,1,66.951-30V111.8A224.848,224.848,0,0,0,268.7,163.28Z" transform="translate(-189.206 -111.8)" fill="#372b72"/>
                        <path id="Path_4" data-name="Path 4" d="M599.4,111.8v72.491a152.515,152.515,0,0,1,66.951,30l51.01-51.01A223.505,223.505,0,0,0,599.4,111.8Z" transform="translate(-347.067 -111.8)" fill="#372b72"/>
                        <path id="Path_5" data-name="Path 5" d="M222.866,670.286A152.763,152.763,0,0,1,195.479,615.2H122.1a225.1,225.1,0,0,0,49.7,106.149Z" transform="translate(-119.225 -352.101)" fill="#372b72"/>
                        <path id="Path_6" data-name="Path 6" d="M398.885,811.026a152.9,152.9,0,0,1-53-20.226L294.2,842.489a224.167,224.167,0,0,0,104.685,41.079Z" transform="translate(-201.379 -435.925)" fill="#372b72"/>
                        <path id="Path_7" data-name="Path 7" d="M652.4,790.8a152.9,152.9,0,0,1-53,20.226v72.491a224.164,224.164,0,0,0,104.685-41.08Z" transform="translate(-347.067 -435.925)" fill="#372b72"/>
                    </g>
                </svg>
            </div>
            <div class="flex">
                <InnerBlocks/>
            </div>
        </div>
    </div>
</section>
{% endblock %}