.list-columns-one {
  padding: 50px;
}
@media only screen and (min-width: 1280px) {
  .list-columns-one {
    padding: 75px 0;
  }
}
.list-columns-one ul,
.list-columns-one ol {
  margin-top: 25px;
}
@media only screen and (min-width: 1024px) {
  .list-columns-one ul,
  .list-columns-one ol {
    margin-top: 50px;
    column-gap: 20px;
    column-count: 2;
  }
}
.list-columns-one ul li + li,
.list-columns-one ol li + li {
  margin-top: 25px;
}
@media only screen and (min-width: 1024px) {
  .list-columns-one ul li + li,
  .list-columns-one ol li + li {
    margin-top: 15px;
  }
}
.list-columns-one li {
  break-inside: avoid-column;
}
@media only screen and (min-width: 1024px) {
  .list-columns-one li {
    margin: 0;
    flex: 0 0 calc(50% - 10px);
  }
}
@media only screen and (min-width: 1366px) {
  .list-columns-one .container-sm {
    max-width: 1150px;
  }
}
.list-columns-one.is-style-colorful ul strong {
  color: rgb(55, 43, 114);
}

/*# sourceMappingURL=style.css.map */
