@import "mixins.scss";

.list-columns-one {
    padding:50px;
    @include screen(1280) {
        padding:75px 0;
    }
    ul,
    ol {
        margin-top:25px;
        @include screen(1024) {
            margin-top:50px;
            // display: flex;
            // flex-wrap: wrap;
            column-gap: 20px;
            column-count: 2;
        }
        li + li {
            margin-top: 25px;
            @include screen(1024) {
                margin-top: 15px;
            }
        }
    }
    li {
        break-inside: avoid-column;
        @include screen(1024) {
            margin:0;
            flex: 0 0 calc(50% - 10px);
        }
    }
    .container-sm {
        @include screen(1366) {
            max-width: 1150px;
        }
    }
    &.is-style-colorful {
        ul {
            // list-style: disc;
            strong {
                color:rgba(55, 43, 114, 1);
            }
            // li {
            //     &::marker {
            //         color:rgba(189, 214, 49, 1);
            //     }
            // }
        }
    }
}