.logo-showcase-one {
  padding: 30px;
}
@media only screen and (min-width: 1024px) {
  .logo-showcase-one {
    padding: 75px 0;
    background: url("/wp-content/themes/estation/blocks/logo-showcase-one/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media only screen and (min-width: 1024px) {
  .logo-showcase-one .flex {
    margin-bottom: 50px;
  }
}
.logo-showcase-one .testimonial {
  background: white;
  box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  padding-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .logo-showcase-one .testimonial {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px;
  }
}
@media only screen and (min-width: 1024px) {
  .logo-showcase-one .testimonial {
    padding: 500px;
  }
}
@media only screen and (min-width: 1280px) {
  .logo-showcase-one .testimonial {
    padding: 100px;
  }
}
.logo-showcase-one .testimonial-image {
  margin: 30px;
  box-shadow: 10px 25px 40px hsla(0deg, 0%, 0%, 0.04);
  border-radius: 5px;
  text-align: center;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1024px) {
  .logo-showcase-one .testimonial-image {
    flex: 0 0 27%;
  }
}
.logo-showcase-one .testimonial-image img {
  object-fit: contain;
  max-width: 235px;
  height: auto;
}
@media only screen and (min-width: 1024px) {
  .logo-showcase-one .testimonial-image img {
    height: 150px;
    width: 150px;
  }
}
.logo-showcase-one .testimonial-body {
  padding: 20px 40px;
}
.logo-showcase-one .testimonial-author {
  color: rgb(0, 182, 235);
  font-weight: 600;
}
.logo-showcase-one .testimonial + .testimonial {
  margin-top: 35px;
}

/*# sourceMappingURL=style.css.map */
