{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container-sm">
        <div class="wrapper">
            <div class="flex">
                <InnerBlocks/>
            </div>
            <div class="testimonials">
                    <div class="testimonial">
                    {% for testimonial in fields.testimonials.items %}
                            <div class="testimonial-image">
                                {{imageElement(testimonial.image)}}
                            </div>
                    {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
