.content-box-bg-two {
  background: url("/wp-content/themes/estation/blocks/content-box-bg/bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  background-position-y: top;
}
.content-box-bg-two h1,
.content-box-bg-two h2,
.content-box-bg-two h3,
.content-box-bg-two h4,
.content-box-bg-two h5,
.content-box-bg-two h6 {
  color: #372B72;
}
@media only screen and (min-width: 1024px) {
  .content-box-bg-two {
    padding: 80px 0;
  }
}
.content-box-bg-two .wrapper {
  background: #f6f5f8;
  margin: 30px;
  padding: 25px;
}
@media only screen and (min-width: 768px) {
  .content-box-bg-two .wrapper {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 65px 80px;
  }
}
.content-box-bg-two .flex {
  position: relative;
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .content-box-bg-two .flex {
    flex: 0 0 40%;
    max-width: 500px;
  }
}
@media only screen and (min-width: 1024px) {
  .content-box-bg-two .flex {
    margin-bottom: 0px;
  }
}
.content-box-bg-two .media {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .content-box-bg-two .media {
    flex-grow: 1;
  }
}
.content-box-bg-two .wp-block-image {
  margin-bottom: 30px;
}
.content-box-bg-two .wp-block-buttons {
  margin-top: 30px;
}
.content-box-bg-two.is-style-reverse .wrapper {
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .content-box-bg-two.is-style-reverse .wrapper {
    flex-direction: row-reverse;
  }
}

.flex ul li {
  line-height: 1.2;
  position: relative;
  padding-left: 30px;
}
.flex ul li:before {
  font-family: "icomoon";
  content: "\e905";
  color: #F39337;
  position: absolute;
  left: 0px;
}
.flex ul li + li {
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
