@import "mixins.scss";

.image-text-full-bg {
    background:#f6f5f8;
    position:relative;
    &:before {
        content:"";
        top:0;
        left:0;
        right:0;
        bottom:250px;
        background:linear-gradient(360deg,#00b6eb 0%,#372b72 100%) 0% 0% no-repeat padding-box;
        position:absolute;
        @include screen(1280) {
            top:0;
            left:0;
            right:0;
            bottom:0;
        }
    }
    .wrapper {
        display:flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        @include screen(1024) {
            gap: 75px;
            align-items: center;
            flex-direction: row;
        }
    }
    .flex {
        position:relative;
        flex-grow: 1;
        padding: 40px 40px 0;
        margin-bottom: 25px;
        @include screen(1024) {
            padding:0;
            margin-bottom: 0px;
            max-width: 610px;
        }
        * {
            color:white;
        }
    }
    .media {
        background: white;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @include screen(1024) {
            padding:0;
            margin:0;
            flex:0 0 48.5%;
        }
        @include screen(1280) {
            max-width: 550px;
            height: 550px;
            width: 550px;
        }
        &:before {
            content:"";
            position:absolute;
            top:0;
            left: 0;
            right: 0;        
            bottom:0;
            background:url('/wp-content/themes/estation/blocks/image-text-full-bg/bg.svg');
            background-repeat: no-repeat;
            background-size: contain;
            z-index:1;
        }
        &:after {
            @include screen(1280) {
                content:"";
                position:absolute;
                top:0;
                bottom: 0;
                right:50%;
                left:-500px;
                background:white;
            }
        }
        img {
            z-index: 2;
            position: relative;
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    h5 {
        color:#1F7A8C;
    }
    a {
        &:not(.btn) {
            color:#28334d;
        }
    }
    &.is-style-reverse {
        background:linear-gradient(180deg,#00b6eb 0%,#372b72 100%) 0% 0% no-repeat padding-box;
        .wrapper {
            flex-direction: column;
            @include screen(1280) {
                flex-direction: row-reverse;
            }
        }
        .media {
            &:after {
                @include screen(1280) {
                    right: -500px;
                    left: 50%;
                }
            }
        }
    }
}

.flex {
    ul {
        li {
            line-height: 1.2;
            position:relative;
            padding-left: 30px;
            &:before {
                font-family:"icomoon";
                content: "\e905";
                color: #F39337;
                position: absolute;
                left: 0px;
            }
            & + li {
                margin-top:10px;
            }
        }
    }
}