{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container-sm">
        <div class="wrapper">
            <div class="media">
                {{imageElement(fields.content.image)}}
            </div>
            <div class="flex">
                <InnerBlocks/>
            </div>
        </div>
    </div>
</section>
<script>

if(screen.width < 1024) {
    [...document.querySelectorAll('.image-text-full-bg .media')].forEach(function(el) {
        el.style.height = el.offsetWidth + "px";
    });
}

</script>
{% endblock %}
