.blog-quote{padding-bottom:25px;position:relative}@media only screen and (min-width:1280px){.blog-quote{padding:50px 0}}.blog-quote .wrapper{box-shadow:0px 3px 6px rgba(0, 0, 0, 0.16);border-radius:10px;background:white}