.blog-quote {
  padding-bottom: 25px;
  position: relative;
  margin: 0 -15px;
}
@media only screen and (min-width: 1280px) {
  .blog-quote {
    margin: 0;
    padding: 15px 0;
  }
}
.blog-quote .wrapper {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  background: white;
  padding: 15px;
}
@media only screen and (min-width: 1280px) {
  .blog-quote .wrapper {
    padding: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
