@import "mixins.scss";

.blog-quote {
    padding-bottom: 25px;
    position: relative;
    margin: 0 -15px;
    @include screen(1280) {
        margin:0;
        padding: 15px 0;
    }
    .wrapper {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 10px;
        background:white;
        padding:15px;
        @include screen(1280) {
            padding:30px;
        }
    }

}