html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: auto;
  max-width: 960px;
}
.container.is-style-fluid {
  max-width: none !important;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
.container-xl, .container-sm {
  margin: 0 auto;
  width: auto;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media only screen and (min-width: 1024px) {
  .container-sm {
    max-width: 90vw;
  }
}
@media only screen and (min-width: 1366px) {
  .container-sm {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1024px) {
  .container-xl {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-xl {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1366px) {
  .container-xl {
    max-width: 1366px;
  }
}

.size-full {
  width: 100%;
}

.aligncenter {
  text-align: center;
}

.preview {
  width: 100%;
  max-width: 100%;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1279px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) {
  .hide-desktop {
    display: none !important;
  }
}

.wp-site-blocks {
  overflow: hidden;
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/estation/assets/fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("/wp-content/themes/estation/assets/fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/wp-content/themes/estation/assets/fonts/poppins-v20-latin-600.woff2") format("woff2"), url("/wp-content/themes/estation/assets/fonts/poppins-v20-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}

p,
li {
  margin: 1em 0;
  line-height: 21px;
  font-size: 14px;
}
@media only screen and (min-width: 1280px) {
  p,
  li {
    font-size: 16px;
    line-height: 25px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.4em 0;
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  font-size: calc(1.465rem + 2.58vw);
  color: #372B72;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.4rem;
  }
}
h2 {
  font-size: calc(1.425rem + 2.1vw);
  color: #00b6eb;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 3rem;
  }
}
h3 {
  font-size: calc(1.275rem + 0.3vw);
  color: #EE3057;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.5rem;
  }
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.15rem;
}
h6 {
  font-size: 1.05rem;
}

strong {
  font-weight: 600;
}

.has-text-align-center {
  text-align: center;
}

ul li::marker {
  color: #372b72;
}

ol li::marker {
  font-weight: 700;
  color: #372b72;
}

a {
  color: #00b6eb;
  text-decoration: none;
}

.theme-buttons {
  margin-top: 30px;
}
.theme-buttons.is-style-light .btn {
  background: rgb(0, 47, 61);
  border: 1px solid rgb(0, 47, 61);
}
.theme-buttons.is-style-light .btn:hover {
  border: 1px solid rgb(53, 113, 128);
  background: rgb(17, 115, 130);
}
.theme-buttons.is-style-simple .btn {
  background: transparent;
  color: rgb(211, 121, 29);
  border: none;
  padding: 0;
  padding-right: 25px;
  text-align: left;
  min-width: unset;
}
.theme-buttons.is-style-simple .btn span {
  position: relative;
  font-size: 12px;
}
@media only screen and (min-width: 1280px) {
  .theme-buttons.is-style-simple .btn span {
    font-size: 16px;
  }
}
.theme-buttons.is-style-simple .btn span:after {
  content: "\e902";
  font-family: "icomoon";
  color: rgb(211, 121, 29);
  font-weight: 600;
  margin-left: 7px;
  top: 2px;
  position: absolute;
  font-size: 11px;
}
@media only screen and (min-width: 1280px) {
  .theme-buttons.is-style-simple .btn span:after {
    font-size: 14px;
  }
}
.theme-buttons.is-style-simple .btn:hover {
  border: none;
  background: transparent;
  box-shadow: none;
}
.theme-buttons.is-style-white .btn {
  background: transparent;
  border: 1px solid white;
  font-weight: 400;
}
.theme-buttons.is-style-white .btn:before {
  content: unset;
}
.theme-buttons.is-style-white .btn span {
  color: white;
}
@media only screen and (min-width: 1280px) {
  .theme-buttons.is-style-white .btn span {
    font-size: 16px;
  }
}
.theme-buttons.is-style-white .btn:hover {
  background: rgb(189, 214, 49);
}
.theme-buttons.is-style-white .btn:hover span {
  color: white;
}
.theme-buttons.is-style-transparent .btn {
  background: transparent;
  border: 1px solid rgb(189, 214, 49);
  font-weight: 400;
}
.theme-buttons.is-style-transparent .btn:before {
  content: unset;
}
.theme-buttons.is-style-transparent .btn span {
  color: rgb(189, 214, 49);
}
@media only screen and (min-width: 1280px) {
  .theme-buttons.is-style-transparent .btn span {
    font-size: 16px;
  }
}
.theme-buttons.is-style-transparent .btn:hover {
  background: rgb(189, 214, 49);
}
.theme-buttons.is-style-transparent .btn:hover span {
  color: white;
}

.btn {
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-out;
  background: linear-gradient(270deg, rgb(238, 48, 87) 15%, rgb(55, 43, 114) 79%);
  color: #fff;
  padding: 17px 20px;
  font-size: 14px;
  letter-spacing: 0.78px;
  font-weight: 600;
  position: relative;
  min-width: 180px;
  border-radius: 0;
  overflow: hidden;
  width: fit-content;
  border: none;
  border-radius: 5px;
  line-height: 1;
}
@media only screen and (min-width: 1280px) {
  .btn {
    font-size: 18px;
    letter-spacing: 1px;
    min-width: 300px;
  }
}
.btn span {
  position: relative;
  z-index: 2;
}
.btn:before {
  transition: all 0.3s ease-out;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: linear-gradient(270deg, rgb(0, 182, 235) 15%, rgb(55, 43, 114) 79%);
  z-index: 1;
}
.btn:hover:before {
  opacity: 1;
}

/*# sourceMappingURL=base.css.map */
