block-preview {
  /* HTML5 display-role reset for older browsers */
}
block-preview html, block-preview body, block-preview div, block-preview span, block-preview applet, block-preview object, block-preview iframe,
block-preview h1, block-preview h2, block-preview h3, block-preview h4, block-preview h5, block-preview h6, block-preview p, block-preview blockquote, block-preview pre,
block-preview a, block-preview abbr, block-preview acronym, block-preview address, block-preview big, block-preview cite, block-preview code,
block-preview del, block-preview dfn, block-preview em, block-preview img, block-preview ins, block-preview kbd, block-preview q, block-preview s, block-preview samp,
block-preview small, block-preview strike, block-preview strong, block-preview sub, block-preview sup, block-preview tt, block-preview var,
block-preview b, block-preview u, block-preview i, block-preview center,
block-preview dl, block-preview dt, block-preview dd, block-preview ol, block-preview ul, block-preview li,
block-preview fieldset, block-preview form, block-preview label, block-preview legend,
block-preview table, block-preview caption, block-preview tbody, block-preview tfoot, block-preview thead, block-preview tr, block-preview th, block-preview td,
block-preview article, block-preview aside, block-preview canvas, block-preview details, block-preview embed,
block-preview figure, block-preview figcaption, block-preview footer, block-preview header, block-preview hgroup,
block-preview menu, block-preview nav, block-preview output, block-preview ruby, block-preview section, block-preview summary,
block-preview time, block-preview mark, block-preview audio, block-preview video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
block-preview article, block-preview aside, block-preview details, block-preview figcaption, block-preview figure,
block-preview footer, block-preview header, block-preview hgroup, block-preview menu, block-preview nav, block-preview section {
  display: block;
}
block-preview body {
  line-height: 1;
}
block-preview ol, block-preview ul {
  list-style: none;
}
block-preview blockquote, block-preview q {
  quotes: none;
}
block-preview blockquote:before, block-preview blockquote:after,
block-preview q:before, block-preview q:after {
  content: "";
  content: none;
}
block-preview table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: auto;
  max-width: 960px;
}
.container.is-style-fluid {
  max-width: none !important;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
.container-xl, .container-sm {
  margin: 0 auto;
  width: auto;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media only screen and (min-width: 1024px) {
  .container-sm {
    max-width: 90vw;
  }
}
@media only screen and (min-width: 1366px) {
  .container-sm {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1024px) {
  .container-xl {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-xl {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1366px) {
  .container-xl {
    max-width: 1366px;
  }
}

.size-full {
  width: 100%;
}

.aligncenter {
  text-align: center;
}

.preview {
  width: 100%;
  max-width: 100%;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1279px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) {
  .hide-desktop {
    display: none !important;
  }
}

.wp-site-blocks {
  overflow: hidden;
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/estation/assets/fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("/wp-content/themes/estation/assets/fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/wp-content/themes/estation/assets/fonts/poppins-v20-latin-600.woff2") format("woff2"), url("/wp-content/themes/estation/assets/fonts/poppins-v20-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}

p,
li {
  margin: 1em 0;
  line-height: 21px;
  font-size: 14px;
}
@media only screen and (min-width: 1280px) {
  p,
  li {
    font-size: 16px;
    line-height: 25px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.4em 0;
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  font-size: calc(1.465rem + 2.58vw);
  color: #372B72;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.4rem;
  }
}
h2 {
  font-size: calc(1.425rem + 2.1vw);
  color: #00b6eb;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 3rem;
  }
}
h3 {
  font-size: calc(1.275rem + 0.3vw);
  color: #EE3057;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.5rem;
  }
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.15rem;
}
h6 {
  font-size: 1.05rem;
}

strong {
  font-weight: 600;
}

.has-text-align-center {
  text-align: center;
}

ul li::marker {
  color: #372b72;
}

ol li::marker {
  font-weight: 700;
  color: #372b72;
}

a {
  color: #00b6eb;
  text-decoration: none;
}

.theme-buttons {
  margin-top: 30px;
}
.theme-buttons.is-style-light .btn {
  background: rgb(0, 47, 61);
  border: 1px solid rgb(0, 47, 61);
}
.theme-buttons.is-style-light .btn:hover {
  border: 1px solid rgb(53, 113, 128);
  background: rgb(17, 115, 130);
}
.theme-buttons.is-style-simple .btn {
  background: transparent;
  color: rgb(211, 121, 29);
  border: none;
  padding: 0;
  padding-right: 25px;
  text-align: left;
  min-width: unset;
}
.theme-buttons.is-style-simple .btn span {
  position: relative;
  font-size: 12px;
}
@media only screen and (min-width: 1280px) {
  .theme-buttons.is-style-simple .btn span {
    font-size: 16px;
  }
}
.theme-buttons.is-style-simple .btn span:after {
  content: "\e902";
  font-family: "icomoon";
  color: rgb(211, 121, 29);
  font-weight: 600;
  margin-left: 7px;
  top: 2px;
  position: absolute;
  font-size: 11px;
}
@media only screen and (min-width: 1280px) {
  .theme-buttons.is-style-simple .btn span:after {
    font-size: 14px;
  }
}
.theme-buttons.is-style-simple .btn:hover {
  border: none;
  background: transparent;
  box-shadow: none;
}
.theme-buttons.is-style-white .btn {
  background: transparent;
  border: 1px solid white;
  font-weight: 400;
}
.theme-buttons.is-style-white .btn:before {
  content: unset;
}
.theme-buttons.is-style-white .btn span {
  color: white;
}
@media only screen and (min-width: 1280px) {
  .theme-buttons.is-style-white .btn span {
    font-size: 16px;
  }
}
.theme-buttons.is-style-white .btn:hover {
  background: rgb(189, 214, 49);
}
.theme-buttons.is-style-white .btn:hover span {
  color: white;
}
.theme-buttons.is-style-transparent .btn {
  background: transparent;
  border: 1px solid rgb(189, 214, 49);
  font-weight: 400;
}
.theme-buttons.is-style-transparent .btn:before {
  content: unset;
}
.theme-buttons.is-style-transparent .btn span {
  color: rgb(189, 214, 49);
}
@media only screen and (min-width: 1280px) {
  .theme-buttons.is-style-transparent .btn span {
    font-size: 16px;
  }
}
.theme-buttons.is-style-transparent .btn:hover {
  background: rgb(189, 214, 49);
}
.theme-buttons.is-style-transparent .btn:hover span {
  color: white;
}

.btn {
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-out;
  background: linear-gradient(270deg, rgb(238, 48, 87) 15%, rgb(55, 43, 114) 79%);
  color: #fff;
  padding: 17px 20px;
  font-size: 14px;
  letter-spacing: 0.78px;
  font-weight: 600;
  position: relative;
  min-width: 180px;
  border-radius: 0;
  overflow: hidden;
  width: fit-content;
  border: none;
  border-radius: 5px;
  line-height: 1;
}
@media only screen and (min-width: 1280px) {
  .btn {
    font-size: 18px;
    letter-spacing: 1px;
    min-width: 300px;
  }
}
.btn span {
  position: relative;
  z-index: 2;
}
.btn:before {
  transition: all 0.3s ease-out;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: linear-gradient(270deg, rgb(0, 182, 235) 15%, rgb(55, 43, 114) 79%);
  z-index: 1;
}
.btn:hover:before {
  opacity: 1;
}

.block-editor-default-block-appender .block-editor-inserter {
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  padding: 10px;
  border: 5px dotted #d50032;
  width: calc(100% - 30px);
}
.block-editor-default-block-appender .block-editor-inserter button {
  transition: all 0.3s ease-out;
  margin: auto !important;
  background: #d50032 !important;
  border: 1px solid #d50032 !important;
}
.block-editor-default-block-appender .block-editor-inserter button svg {
  transition: all 0.3s ease-out;
  color: white;
}
.block-editor-default-block-appender .block-editor-inserter button:hover {
  background: white !important;
}
.block-editor-default-block-appender .block-editor-inserter button:hover svg {
  color: #d50032;
}

.block-editor-block-list__block .block-list-appender {
  position: relative !important;
}

.block-editor-block-list__block .block-list-appender .block-editor-default-block-appender {
  height: 54px !important;
}

block-preview .acf-block-body {
  margin: 50px 0 !important;
}

block-preview section {
  padding: 50px 0 !important;
}
block-preview p,
block-preview li {
  margin: 0.5em !important;
  line-height: 1.2 !important;
}

/*# sourceMappingURL=editor.css.map */
