@media only screen and (min-width: 1024px) {
  .image-text-bg {
    padding: 80px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .image-text-bg {
    padding-top: 200px;
  }
}
.image-text-bg .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .image-text-bg .wrapper {
    flex-direction: row;
  }
}
.image-text-bg .flex {
  position: relative;
  flex: 0 0 48.5%;
  margin-bottom: 25px;
  padding: 0 40px;
}
@media only screen and (min-width: 1024px) {
  .image-text-bg .flex {
    padding: 0;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1024px) {
  .image-text-bg ul {
    column-count: 2;
  }
}
.image-text-bg .media {
  padding: 0 36px;
  flex: 0 0 48.5%;
  position: relative;
  margin: 25px 0;
}
@media only screen and (min-width: 768px) {
  .image-text-bg .media {
    margin: 50px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .image-text-bg .media {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .image-text-bg .media {
    max-width: 610px;
  }
}
.image-text-bg .media:before {
  content: "";
  position: absolute;
  top: 0;
  left: 25px;
  right: 25px;
  bottom: 0;
  background: url("/wp-content/themes/estation/blocks/image-text-bg/bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
@media only screen and (min-width: 1280px) {
  .image-text-bg .media:before {
    right: 0;
    top: -200px;
    left: -160px;
  }
}
.image-text-bg .wp-block-image {
  margin-bottom: 30px;
}
.image-text-bg .wp-block-buttons {
  margin-top: 30px;
}
.image-text-bg img {
  max-width: 100%;
  height: auto;
}
.image-text-bg h5 {
  color: #1F7A8C;
}
.image-text-bg a:not(.btn) {
  color: #28334d;
}
.image-text-bg.is-style-reverse .wrapper {
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .image-text-bg.is-style-reverse .wrapper {
    flex-direction: row-reverse;
  }
}

.flex ul li {
  line-height: 1.2;
  position: relative;
  padding-left: 30px;
}
.flex ul li:before {
  font-family: "icomoon";
  content: "\e905";
  color: #F39337;
  position: absolute;
  left: 0px;
}
.flex ul li + li {
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
