@import "mixins.scss";

.hero-three {
    padding: 35px 0;
    background: linear-gradient(180deg,#3c885b 0%,#372b72 100%) 0% 0% no-repeat padding-box;
    position:relative;
    box-shadow: 0px 6px 12px rgb(0 0 0 / 16%);
    z-index: 2;
    &:before {
        content:"";
        left:0;
        right:0;
        top:0;
        bottom:0;
        position:absolute;
        background: url('/wp-content/themes/estation/blocks/hero-three/bg.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size:contain;
        @include screen(1024) {
            background: url('/wp-content/themes/estation/blocks/hero-three/bg.svg');
            background-repeat: no-repeat;
            background-position: right;
            background-size: cover;
        }
    }
    .wrapper {
        // display:flex;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: flex-start;
    }
    .flex {
        position: relative;
        // flex:0 0 48.5%;
        max-width: 950px;
        padding: 0 50px;
        @include screen(768) {
            margin-bottom: 25px;
        }
        @include screen(1280) {
            padding:0;
        }
        * {
            color:white;
        }
    }
    &.is-style-grey {
        background: #f5f4f8;
        &:before {
            background: url('/wp-content/themes/estation/blocks/hero-three/bg-grey.svg');
            background-repeat: no-repeat;
            background-position: bottom;
            background-size:contain;
            @include screen(1024) {
                background: url('/wp-content/themes/estation/blocks/hero-three/bg-grey.svg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: right;
            }
        }
        .flex {
            * {
                color:#372B72;
            }
        }
    }
    &.is-style-blue {
        background: linear-gradient(360deg,#00b6eb 0%,#372b72 100%) 0% 0% no-repeat padding-box;
        @include screen(1280) {
            padding-bottom: 200px;
        }
        &:before {
            background: url('/wp-content/themes/estation/blocks/hero-three/bg-blue.svg');
            background-repeat: no-repeat;
            background-position: bottom;
            background-size:contain;
            @include screen(1024) {
                background: url('/wp-content/themes/estation/blocks/hero-three/bg-blue.svg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: right;
            }
        }
        .flex {

        }
    }
    &.is-style-pink {
        background: linear-gradient(270deg, #EE3057 0%, #372B72 70%) 0% 0% no-repeat padding-box;
        padding-bottom: 100px;
        @include screen(1280) {
            padding-bottom: 200px;
        }
        &:before {
            background: url('/wp-content/themes/estation/blocks/hero-three/bg-pink-new.svg');
            background-repeat: no-repeat;

            background-position-x: right;
            background-position-y: top;
            background-size: 250px;

            @include screen(1024) {
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    &.is-style-noshadow {
        box-shadow: none;
    }
}

@include screen(1280) {
    .hero-three {
        padding: 100px 0;
        .wrapper {
            flex-direction: row;
        }
        .flex {
            margin-bottom: 0px;
        }
    }
}