.hero-three {
  padding: 35px 0;
  background: linear-gradient(180deg, #3c885b 0%, #372b72 100%) 0% 0% no-repeat padding-box;
  position: relative;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
  z-index: 2;
}
.hero-three:before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: url("/wp-content/themes/estation/blocks/hero-three/bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
@media only screen and (min-width: 1024px) {
  .hero-three:before {
    background: url("/wp-content/themes/estation/blocks/hero-three/bg.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }
}
.hero-three .flex {
  position: relative;
  max-width: 950px;
  padding: 0 50px;
}
@media only screen and (min-width: 768px) {
  .hero-three .flex {
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-three .flex {
    padding: 0;
  }
}
.hero-three .flex * {
  color: white;
}
.hero-three.is-style-grey {
  background: #f5f4f8;
}
.hero-three.is-style-grey:before {
  background: url("/wp-content/themes/estation/blocks/hero-three/bg-grey.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
@media only screen and (min-width: 1024px) {
  .hero-three.is-style-grey:before {
    background: url("/wp-content/themes/estation/blocks/hero-three/bg-grey.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
}
.hero-three.is-style-grey .flex * {
  color: #372B72;
}
.hero-three.is-style-blue {
  background: linear-gradient(360deg, #00b6eb 0%, #372b72 100%) 0% 0% no-repeat padding-box;
}
@media only screen and (min-width: 1280px) {
  .hero-three.is-style-blue {
    padding-bottom: 200px;
  }
}
.hero-three.is-style-blue:before {
  background: url("/wp-content/themes/estation/blocks/hero-three/bg-blue.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
@media only screen and (min-width: 1024px) {
  .hero-three.is-style-blue:before {
    background: url("/wp-content/themes/estation/blocks/hero-three/bg-blue.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
}
.hero-three.is-style-pink {
  background: linear-gradient(270deg, #EE3057 0%, #372B72 70%) 0% 0% no-repeat padding-box;
  padding-bottom: 100px;
}
@media only screen and (min-width: 1280px) {
  .hero-three.is-style-pink {
    padding-bottom: 200px;
  }
}
.hero-three.is-style-pink:before {
  background: url("/wp-content/themes/estation/blocks/hero-three/bg-pink-new.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: 250px;
}
@media only screen and (min-width: 1024px) {
  .hero-three.is-style-pink:before {
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.hero-three.is-style-noshadow {
  box-shadow: none;
}

@media only screen and (min-width: 1280px) {
  .hero-three {
    padding: 100px 0;
  }
  .hero-three .wrapper {
    flex-direction: row;
  }
  .hero-three .flex {
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
