.content-boxes-six {
  padding: 20px 35px;
  background: rgb(255, 255, 255);
}
@media only screen and (min-width: 1024px) {
  .content-boxes-six {
    padding: 75px 0;
  }
}
.content-boxes-six .wrapper {
  box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
  padding: 25px 0;
}
@media only screen and (min-width: 1024px) {
  .content-boxes-six .wrapper {
    padding: 75px 0;
  }
}
.content-boxes-six .flex {
  margin-bottom: 25px;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-six .flex {
    margin: auto;
    margin-bottom: 50px;
    max-width: 1100px;
  }
}
.content-boxes-six .flex p {
  color: rgba(0, 0, 0, 0.9);
  max-width: 1024px;
  margin: auto;
}
.content-boxes-six .wp-block-image {
  margin-bottom: 30px;
}
.content-boxes-six .wp-block-buttons {
  margin-top: 30px;
}
.content-boxes-six img {
  max-width: 100%;
  height: auto;
}
.content-boxes-six .card {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.content-boxes-six .card-head {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.content-boxes-six .card-title h3 {
  color: #304B27;
}
.content-boxes-six .card-image {
  position: relative;
  text-align: center;
  margin-bottom: 25px;
  flex: 0 0 60px;
}
.content-boxes-six .card-image img {
  height: auto;
  min-width: 60px;
  object-fit: contain;
}
@media only screen and (min-width: 1024px) {
  .content-boxes-six .card-image img {
    height: 108px;
    width: auto;
  }
}
.content-boxes-six .card-content * {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-six .card-subtitle h6 {
    font-size: 22px;
  }
}
.content-boxes-six .card-body {
  padding: 20px 30px;
  height: 100%;
}
@media only screen and (min-width: 1024px) {
  .content-boxes-six .card-body {
    padding: 0 20px 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .content-boxes-six .card-body {
    padding: 0 25px 35px;
  }
}
@media only screen and (min-width: 1366px) {
  .content-boxes-six .card-body {
    padding: 0 30px 40px;
  }
}
.content-boxes-six .card-button {
  margin-top: 25px;
}
.content-boxes-six .card-button a {
  text-decoration: none;
  color: #BDD631;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-six .card:not(:last-child) .card-body {
    border-right: 1px solid rgba(55, 43, 114, 0.1);
  }
}
.content-boxes-six .cards {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 780px) {
  .content-boxes-six .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 1024px) {
  .content-boxes-six .cards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 70px;
    row-gap: 70px;
  }
}
@media only screen and (min-width: 780px) {
  .content-boxes-six .cards[data-cards="4"] .card {
    flex: 0 0 50%;
    max-width: 305px;
  }
}
@media only screen and (min-width: 1024px) {
  .content-boxes-six .cards[data-cards="4"] .card {
    flex: 0 0 25%;
    max-width: 400px;
  }
}
@media only screen and (min-width: 780px) {
  .content-boxes-six .cards[data-cards="3"] .card {
    flex: 0 0 50%;
    max-width: 305px;
  }
}
@media only screen and (min-width: 1024px) {
  .content-boxes-six .cards[data-cards="3"] .card {
    flex: 0 0 30%;
    max-width: 400px;
  }
}
@media only screen and (min-width: 1280px) {
  .content-boxes-six .cards[data-cards="3"] .card-image:before {
    right: -15%;
  }
}
.content-boxes-six .cards + .cards {
  margin-bottom: 35px;
}
.content-boxes-six.is-style-home {
  padding-top: 0;
}
.content-boxes-six.is-style-home .wrapper {
  background: white;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .content-boxes-six.is-style-home .wrapper {
    margin-top: -200px;
  }
}

/*# sourceMappingURL=style.css.map */
