{% set images = fn('get_field', 'images', item.id) %}
<a class="card-container" href="{{item.link}}">
	<div class="card-image">
		<img src="{{item.thumbnail.src}}" alt="{{item.title}}"/>
	</div>
	<div class="card-body">
		<div class="card-type hide-desktop">
			<span>Case Study</span>
		</div>
		<div class="card-info">
			<div class="related-content">
				<h3>{{item.title}}</h3>
			</div>
		</div>
		<div class="card-sum">
			<p class="preview">{{ item.preview.length(15).read_more('') }}</p>
		</div>
		<div class="card-footer">
			<span class="hide-mobile"><strong>Case Study</strong> | </span><label>{{ item.date('d.m.Y') }}</label>
		</div>
	</div>
</a>