.case-study-feed {
  padding: 50px 60px;
}
@media only screen and (min-width: 1280px) {
  .case-study-feed {
    padding: 80px 0;
  }
}
@media only screen and (min-width: 768px) {
  .case-study-feed .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .case-study-feed .cards {
    gap: 80px;
  }
}
.case-study-feed .card {
  max-width: 100%;
  display: block;
}
@media only screen and (min-width: 768px) {
  .case-study-feed .card {
    flex: 1 0 310px;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .case-study-feed .card {
    flex: 1 0 520px;
    max-width: 520px;
  }
}
@media only screen and (min-width: 1366px) {
  .case-study-feed .card {
    flex: 1 0 560px;
    max-width: 560px;
  }
}
.case-study-feed .card-container {
  border-radius: 5px;
  overflow: hidden;
  display: block;
  color: initial;
  text-decoration: none;
  background: white;
  box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .case-study-feed .card-container {
    height: 100%;
  }
}
.case-study-feed .card-image img {
  width: auto;
  object-fit: cover;
}
.case-study-feed .card-body {
  padding: 21px 18px 28px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .case-study-feed .card-body {
    padding: 35px 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .case-study-feed .card-body {
    padding: 70px 40px;
  }
}
.case-study-feed .card-sum {
  flex-grow: 1;
}
.case-study-feed .card-type {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1280px) {
  .case-study-feed .card-type {
    margin-bottom: 0px;
  }
}
.case-study-feed .card-type span {
  color: rgb(189, 214, 49);
}
@media only screen and (min-width: 1280px) {
  .case-study-feed .card-type span {
    color: rgb(55, 43, 114);
  }
}
.case-study-feed .card-footer {
  color: rgb(55, 43, 114);
}
.case-study-feed .card + .card {
  margin-top: 45px;
}
@media only screen and (min-width: 768px) {
  .case-study-feed .card + .card {
    margin-top: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
