@import "mixins.scss";

.blog-feed {
	padding:50px 60px;
	@include screen(1280) {
		padding: 80px 0;
	}
	.cards {
		@include screen(768) {
			display:flex;
			flex-wrap: wrap;
			align-items: stretch;
			gap: 25px;
		}
		@include screen(1280) {
			gap: 80px;
		}
	}
	.card {
		max-width: 100%;
		@include screen(768) {
			flex:1 0 310px;
			max-width: 100%;
		}
		@include screen(1280) {
			flex:1 0 520px;
			max-width: 520px;
		}
		@include screen(1366) {
			flex:1 0 560px;
			max-width: 560px;
		}
		display: block;
		&-container {
			border-radius: 5px;
			overflow: hidden;
			display: block;
			color: initial;
			text-decoration: none;
			background:white;
			box-shadow: 10px 25px 40px rgba(0, 0, 0, 0.04);
			display: flex;
			flex-direction: column;
			@include screen(768) {
				height: 100%;
			}
		}
		&-image {
			img {
				width: auto;
				object-fit: cover;
			}
		}
		&-body {
			padding: 21px 18px 28px;
			flex-grow: 1;
			display:flex;
			flex-direction:column;
			@include screen(768) {
				padding: 35px 20px;
			}
			@include screen(1280) {
				padding: 70px 40px;
			}
		}
		&-sum {
			flex-grow: 1;
		}
		&-type {
			margin-bottom: 20px;
			@include screen(1280) {
				margin-bottom: 0px;
			}
			span {
				color:rgba(189, 214, 49, 1);
				@include screen(1280) {
					color:rgba(55, 43, 114, 1);
				}
			}
		}
		&-footer {
			color:rgba(55, 43, 114, 1);
		}
		& + .card {
			margin-top:45px;
			@include screen(768) {
				margin-top:0px;
			}
		}
	}
}
