@import "mixins.scss";

.contact-cta {
    background:url('/wp-content/themes/estation/blocks/content-box-bg/bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-position-y: top;
    @include headings {
        color:#372B72;
    }
    @include screen(1024) {
        padding: 80px 0;
    }
    .wrapper {
        background: #f6f5f8;
        margin: 30px;
        padding: 25px;
        @include screen(768) {
            margin: 0px;
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 65px 80px;
        }
    }
    .flex {
        position:relative;
        margin-bottom: 25px;
        @include screen(768) {
            margin-bottom: 0px;
            flex-grow: 1;
        }
    }
    .media {
        position: relative;
        background:white;
        padding: 18px 20px;
        @include screen(768) {
            flex: 0 0 50%;
            max-width: 600px;
            padding: 0 30px 30px;
        }
        @include screen(1280) {
            padding: 0 40px 40px;
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    &.is-style-reverse {
        .wrapper {
            flex-direction: column;
            @include screen(1024) {
                flex-direction: row-reverse;
            }
        }
    }
    .gform {
        &_fields {
            display:flex;
            flex-wrap:wrap;
            column-gap:25px;
            row-gap:15px;
            @include screen(1280) {
                gap:10px;
            }
        }
        &_title {
            color:#BDD631;
            text-align: center;
            margin-bottom: 25px;
            @include screen(768) {
                font-size: 24px;
            }
        }
        &_button {
            display: block;
            text-align: center;
            cursor: pointer;
            text-decoration: none;
            transition: all .3s ease-out;
            background: linear-gradient(270deg, rgba(238,48,87,1) 15%, rgba(55,43,114,1) 79%);
            color: #fff;
            padding: 17px 20px;
            font-size: 14px;
            letter-spacing: 0.78px;
            font-weight: 600;
            position: relative;
            min-width: 180px;
            border-radius: 0;
            overflow: hidden;
            width: fit-content;
            border:none;
            border-radius: 5px;
            line-height: 1;
            width: 100%;
            @include screen(1280) {
                font-size: 18px;
                letter-spacing: 1px;
                min-width: 300px;
            }
            span {
                position: relative;
                z-index: 2;
            }
        }
        &_submission_error {
            font-size: 15px;
            color: red;
            margin: 25px 0;
            border: 2px solid red;
            border-radius: 3px;
            padding: 20px;
            outline: none;
        }
        &_validation_errors {
            &:focus-visible {
                outline: none;
            }
        }
        &_footer {
            margin-top: 25px;
        }
        &_wrapper {
            @include screen(1280) {
                margin-top: 35px;
            }
        }
    }
    
    .gfield {
        &_validation_message {
            color: red;
            font-size: 14px;
            margin-top: 15px;
            font-weight: 700;
        }
        &_error {
            // border: 1px solid #F39337 !important;
            // padding: 15px;
        }
        &_label {
            display:none;
        }
        &--width {
            &-half {
                flex:0 0 100%;
                max-width: 100%;
                @include screen(768) {
                    flex:0 0 calc(50% - 5px);
                    max-width: calc(50% - 5px);
                }
                @include screen(1280) {
                    flex:0 0 calc(50% - 5px);
                    max-width: calc(50% - 5px);
                }
            }
            &-full {
                flex:0 0 100%;
                max-width: 100%;
            }
        }
        &--type {
            &-checkbox {
                border:none;
                legend {
                    display:none;
                }
                a {
                    color:#28334D;
                }
                input {
                    min-height: unset !important;
                    width: fit-content !important;
                    margin-bottom: 3px !important;
                    margin-right: 15px;
                    &:focus {
                        outline:none !important;
                    }
                }
                .gchoice {
                    display: flex;
                }
            }
            &-honeypot {
                display:none;
            }
    
        }
        input,
        textarea {
            font-family: "Poppins",sans-serif;
            border-radius: 3px;
            border:none;
            outline: none;
            transition:all 0.25s ease-out;
            border: 1px solid;
            border-color:rgba(218, 218, 218, 1);
            font-size: 14px;
            padding: 2px;
            width:100%;
            min-height: 27px;
            box-sizing: border-box;
            padding-left: 15px;
            @include screen(1024) {
                min-height: 57px;
                font-size: 16px;
            }
            &:focus {
                // border-color:rgba(243, 147, 55, 1);
                outline:none;
            }
            &::placeholder {
                font-size: 14px;
                color: rgba(0, 0, 0, 0.9);
                @include screen(1024) {
                    font-size: 16px;
                }
            }
        }
        textarea {
            padding-top:15px;
            height: 100px;
        }
    }
}
