.contact-cta {
  background: url("/wp-content/themes/estation/blocks/content-box-bg/bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  background-position-y: top;
}
.contact-cta h1,
.contact-cta h2,
.contact-cta h3,
.contact-cta h4,
.contact-cta h5,
.contact-cta h6 {
  color: #372B72;
}
@media only screen and (min-width: 1024px) {
  .contact-cta {
    padding: 80px 0;
  }
}
.contact-cta .wrapper {
  background: #f6f5f8;
  margin: 30px;
  padding: 25px;
}
@media only screen and (min-width: 768px) {
  .contact-cta .wrapper {
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 65px 80px;
  }
}
.contact-cta .flex {
  position: relative;
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .contact-cta .flex {
    margin-bottom: 0px;
    flex-grow: 1;
  }
}
.contact-cta .media {
  position: relative;
  background: white;
  padding: 18px 20px;
}
@media only screen and (min-width: 768px) {
  .contact-cta .media {
    flex: 0 0 50%;
    max-width: 600px;
    padding: 0 30px 30px;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-cta .media {
    padding: 0 40px 40px;
  }
}
.contact-cta .wp-block-image {
  margin-bottom: 30px;
}
.contact-cta .wp-block-buttons {
  margin-top: 30px;
}
.contact-cta.is-style-reverse .wrapper {
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .contact-cta.is-style-reverse .wrapper {
    flex-direction: row-reverse;
  }
}
.contact-cta .gform_fields {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 15px;
}
@media only screen and (min-width: 1280px) {
  .contact-cta .gform_fields {
    gap: 10px;
  }
}
.contact-cta .gform_title {
  color: #BDD631;
  text-align: center;
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .contact-cta .gform_title {
    font-size: 24px;
  }
}
.contact-cta .gform_button {
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-out;
  background: linear-gradient(270deg, rgb(238, 48, 87) 15%, rgb(55, 43, 114) 79%);
  color: #fff;
  padding: 17px 20px;
  font-size: 14px;
  letter-spacing: 0.78px;
  font-weight: 600;
  position: relative;
  min-width: 180px;
  border-radius: 0;
  overflow: hidden;
  width: fit-content;
  border: none;
  border-radius: 5px;
  line-height: 1;
  width: 100%;
}
@media only screen and (min-width: 1280px) {
  .contact-cta .gform_button {
    font-size: 18px;
    letter-spacing: 1px;
    min-width: 300px;
  }
}
.contact-cta .gform_button span {
  position: relative;
  z-index: 2;
}
.contact-cta .gform_submission_error {
  font-size: 15px;
  color: red;
  margin: 25px 0;
  border: 2px solid red;
  border-radius: 3px;
  padding: 20px;
  outline: none;
}
.contact-cta .gform_validation_errors:focus-visible {
  outline: none;
}
.contact-cta .gform_footer {
  margin-top: 25px;
}
@media only screen and (min-width: 1280px) {
  .contact-cta .gform_wrapper {
    margin-top: 35px;
  }
}
.contact-cta .gfield_validation_message {
  color: red;
  font-size: 14px;
  margin-top: 15px;
  font-weight: 700;
}
.contact-cta .gfield_label {
  display: none;
}
.contact-cta .gfield--width-half {
  flex: 0 0 100%;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .contact-cta .gfield--width-half {
    flex: 0 0 calc(50% - 5px);
    max-width: calc(50% - 5px);
  }
}
@media only screen and (min-width: 1280px) {
  .contact-cta .gfield--width-half {
    flex: 0 0 calc(50% - 5px);
    max-width: calc(50% - 5px);
  }
}
.contact-cta .gfield--width-full {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact-cta .gfield--type-checkbox {
  border: none;
}
.contact-cta .gfield--type-checkbox legend {
  display: none;
}
.contact-cta .gfield--type-checkbox a {
  color: #28334D;
}
.contact-cta .gfield--type-checkbox input {
  min-height: unset !important;
  width: fit-content !important;
  margin-bottom: 3px !important;
  margin-right: 15px;
}
.contact-cta .gfield--type-checkbox input:focus {
  outline: none !important;
}
.contact-cta .gfield--type-checkbox .gchoice {
  display: flex;
}
.contact-cta .gfield--type-honeypot {
  display: none;
}
.contact-cta .gfield input,
.contact-cta .gfield textarea {
  font-family: "Poppins", sans-serif;
  border-radius: 3px;
  border: none;
  outline: none;
  transition: all 0.25s ease-out;
  border: 1px solid;
  border-color: rgb(218, 218, 218);
  font-size: 14px;
  padding: 2px;
  width: 100%;
  min-height: 27px;
  box-sizing: border-box;
  padding-left: 15px;
}
@media only screen and (min-width: 1024px) {
  .contact-cta .gfield input,
  .contact-cta .gfield textarea {
    min-height: 57px;
    font-size: 16px;
  }
}
.contact-cta .gfield input:focus,
.contact-cta .gfield textarea:focus {
  outline: none;
}
.contact-cta .gfield input::placeholder,
.contact-cta .gfield textarea::placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
}
@media only screen and (min-width: 1024px) {
  .contact-cta .gfield input::placeholder,
  .contact-cta .gfield textarea::placeholder {
    font-size: 16px;
  }
}
.contact-cta .gfield textarea {
  padding-top: 15px;
  height: 100px;
}

/*# sourceMappingURL=style.css.map */
