@import "mixins.scss";

.two-columns-bg {
    background:#f6f5f8;
    padding: 60px;
    @include screen(1024) {
        padding: 100px 0;
    }
    @include screen(1280) {
        padding: 140px 0;
    }
    .wrapper {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include screen(1024) {
            flex-direction: row;
            align-items: center;
            gap: 40px;
        }
    }
    separator {
        display: block;
        width: 1px;
        height: 100%;
        min-height: 180px;
        background: rgba(0, 182, 235, 0.2);
    }
    .col {
        @include headings() {
            color:rgba(0, 182, 235, 1);
        }
        p {
            color: rgba(55, 43, 114, 1);
        }
        max-width: 565px;
    }
}