.two-columns-bg {
  background: #f6f5f8;
  padding: 60px;
}
@media only screen and (min-width: 1024px) {
  .two-columns-bg {
    padding: 100px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .two-columns-bg {
    padding: 140px 0;
  }
}
.two-columns-bg .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .two-columns-bg .wrapper {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}
.two-columns-bg separator {
  display: block;
  width: 1px;
  height: 100%;
  min-height: 180px;
  background: rgba(0, 182, 235, 0.2);
}
.two-columns-bg .col {
  max-width: 565px;
}
.two-columns-bg .col h1,
.two-columns-bg .col h2,
.two-columns-bg .col h3,
.two-columns-bg .col h4,
.two-columns-bg .col h5,
.two-columns-bg .col h6 {
  color: rgb(0, 182, 235);
}
.two-columns-bg .col p {
  color: rgb(55, 43, 114);
}

/*# sourceMappingURL=style.css.map */
