{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="col">{{fields.content.first_column}}</div>
            <separator class="hide-mobile"></separator>
            <div class="col">{{fields.content.second_column}}</div>
        </div>
    </div>
</section>
{% endblock %}
